// ***** fonts path *****

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&subset=cyrillic');


@font-face {
    font-family: 'Impact';    
    src: url('../fonts/impact.eot');
	src: local('impact'), url('../fonts/impact.woff') format('woff'), url('../fonts/impact.ttf') format('truetype');    
    font-weight: bold;
    font-style: normal;
}





