// ***** color variables *****

$color__white         : #fff;
$color__nav           : #373737;
$color__orange--light : #fdc04a;
$color__orange        : #f8aa15; 
$color__orange--dark  : #df980f;                        
$color__orange--xdark : #cb890a;
$color__line          : #e8e8e8;  
$color__line--dark    : #5d5b59; 
$color__line--light   : #b5b5b5;
$color__form          : #494949;
$color__gray          : #999; 
$color__tab           : #5c5c5c;


// ***** resolution breakpoints *****

$desktop--lg : 1200px;
$desktop     : 1024px;
$desktop--sm : 996px;
$tablet      : 768px;
$mobile--lg  : 480px;
$mobile      : 320px;

