/*******************************************************************************
***
***   Dear friend :
***   When I wrote this code, only I and God knew what it was.
***
***   But now only God knows what is here ! 
***   
***   So, if you done trying to 'optimize' this code,
***   please include this comment as a warning for the next guy who also will  
***   trying to do this.
***
***   Author : denys.ark@gmail.com
***
********************************************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* box model for all elements */
*, *:after, *:before {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

/*
// media query
@media only screen and (min-width : $screen__tablet) {

}//end media query
*/
@font-face {
  font-family: 'Letter Gothic';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/LetterGothicRegular.eot");
  src: url("../fonts/LetterGothicRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LetterGothicRegular.woff") format("woff"), url("../fonts/LetterGothicRegular.ttf") format("truetype"), url("../fonts/LetterGothicRegular.otf") format("otf"); }

@font-face {
  font-family: 'Letter Gothic';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/LetterGothicBold.eot");
  src: url("../fonts/LetterGothicBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LetterGothicBold.woff") format("woff"), url("../fonts/LetterGothicBold.ttf") format("truetype"), url("../fonts/LetterGothicBold.otf") format("otf"); }

@-webkit-keyframes animation__bg-color {
  0% {
    background: #313540; }
  25% {
    background: #363c4c; }
  50% {
    background: #3f4556; }
  75% {
    background: #363c4c; }
  100% {
    background: #313540; } }

@-moz-keyframes animation__bg-color {
  0% {
    background: #313540; }
  25% {
    background: #363c4c; }
  50% {
    background: #3f4556; }
  75% {
    background: #363c4c; }
  100% {
    background: #313540; } }

@-o-keyframes animation__bg-color {
  0% {
    background: #313540; }
  25% {
    background: #363c4c; }
  50% {
    background: #3f4556; }
  75% {
    background: #363c4c; }
  100% {
    background: #313540; } }

@keyframes animation__bg-color {
  0% {
    background: #313540; }
  25% {
    background: #363c4c; }
  50% {
    background: #3f4556; }
  75% {
    background: #363c4c; }
  100% {
    background: #313540; } }

[class$="__container"] {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  min-width: 320px;
  overflow: hidden; }

[class$="__container"]:before {
  content: '';
  display: table; }

[class$="__container"]:after {
  content: '';
  display: table;
  clear: both; }

::-moz-selection {
  background: #313540;
  color: #fff; }

::selection {
  background: #313540;
  color: #fff; }

body {
  background: #313540;
  color: #fff;
  font: 400 1em 'Letter Gothic', sans-serif; }

.heading {
  margin-top: .3em;
  margin-bottom: .5em;
  line-height: 1;
  font-weight: 900;
  font-size: 2.25em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.26); }
  .heading--big {
    font-size: 3em; }
  .heading--sm {
    text-transform: none; }
  .heading--underline:after {
    content: '';
    display: block;
    width: 10%;
    height: 1px;
    background: #fff;
    margin: 10px auto; }

.social {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }
  .social > li {
    display: inline-block; }
  .social__link {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    line-height: 40px;
    text-decoration: none; }
    .social__link:after {
      content: '';
      display: block;
      position: absolute;
      background: #fff;
      border-radius: 100%;
      top: 50%;
      left: 50%;
      width: 40px;
      height: 40px;
      z-index: 1;
      -webkit-transition: all 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
      -moz-transition: all 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
      -o-transition: all 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
      transition: all 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
      -webkit-transform: translate(-50%, -50%) scale(0);
         -moz-transform: translate(-50%, -50%) scale(0);
          -ms-transform: translate(-50%, -50%) scale(0);
           -o-transform: translate(-50%, -50%) scale(0);
              transform: translate(-50%, -50%) scale(0);
      opacity: 0; }
    .social__link > svg {
      color: #fff;
      fill: #fff;
      position: relative;
      z-index: 2;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .social__link:hover > svg, .social__link:focus > svg {
      color: #363c4c;
      fill: #363c4c; }
    .social__link:hover:after, .social__link:focus:after {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%) scale(1);
         -moz-transform: translate(-50%, -50%) scale(1);
          -ms-transform: translate(-50%, -50%) scale(1);
           -o-transform: translate(-50%, -50%) scale(1);
              transform: translate(-50%, -50%) scale(1); }

.scroll-btn > svg {
  color: #fff;
  fill: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.txt-nav {
  display: block;
  width: 100%;
  padding: 0;
  margin: 20px 0 10px 0;
  list-style: none;
  text-align: center;
  font-size: 1em;
  line-height: 1; }
  .txt-nav > li {
    display: inline-block; }
  .txt-nav__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    padding: 0 15px; }
    .txt-nav__link:before {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: #fff;
      border-radius: 100%;
      position: absolute;
      top: -5px;
      right: 0;
      -webkit-transition: width 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
      -moz-transition: width 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
      -o-transition: width 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
      transition: width 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9); }
    .txt-nav__link:after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: #fff;
      position: absolute;
      bottom: -5px;
      left: 0;
      -webkit-transition: width 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
      -moz-transition: width 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
      -o-transition: width 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
      transition: width 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9); }
    .txt-nav__link:hover:after, .txt-nav__link:hover:before {
      width: 100%; }

.top-bar {
  height: 50px;
  overflow: hidden;
  background: #363c4c;
  padding: 5px 30px; }
  .top-bar__logo {
    display: block;
    float: left;
    height: 40px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    line-height: 40px;
    font-weight: 900;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.26); }
  .top-bar .social {
    float: right; }

.intro {
  min-height: 718px;
  height: 100%;
  min-height: -webkit-calc(100vh - 50px);
  min-height: -moz-calc(100vh - 50px);
  min-height: calc(100vh - 50px);
  padding: 30px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: background 0.5s ease-in;
  -moz-transition: background 0.5s ease-in;
  -o-transition: background 0.5s ease-in;
  transition: background 0.5s ease-in;
  -webkit-animation: animation__bg-color 15s cubic-bezier(0.39, 1.66, 0.12, 0.9) infinite;
     -moz-animation: animation__bg-color 15s cubic-bezier(0.39, 1.66, 0.12, 0.9) infinite;
       -o-animation: animation__bg-color 15s cubic-bezier(0.39, 1.66, 0.12, 0.9) infinite;
          animation: animation__bg-color 15s cubic-bezier(0.39, 1.66, 0.12, 0.9) infinite; }
  .intro__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .intro__location {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em; }
    .intro__location--inside {
      position: absolute;
      top: -webkit-calc(50% - 1em);
      top: -moz-calc(50% - 1em);
      top: calc(50% - 1em);
      left: 0;
      width: 100%; }
  .intro__map {
    position: relative;
    width: 50%;
    margin: 20px 0 10px 0; }
  .intro__map-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; }

.skills {
  width: 100%;
  padding: 30px;
  background: #363c4c; }

.make-for {
  width: 100%;
  padding: 30px;
  background: #313540;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .make-for__container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.timeline {
  margin: 0px auto;
  max-width: 40em;
  overflow: hidden;
  height: auto;
  position: relative;
  padding: 0px;
  list-style-type: none; }
  .timeline:after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
    z-index: 1; }
  .timeline__last-bulet {
    display: block;
    width: 2em;
    height: 2em;
    background: #fff;
    border-radius: 50%; }
  .timeline__title {
    background: #fff;
    font-size: 1.75em;
    max-width: 4em;
    width: auto;
    clear: both;
    margin: 1em auto 2em;
    color: #313540;
    border-radius: 30% / 100%;
    text-align: center;
    margin-top: 2em;
    position: relative;
    z-index: 3; }
    .timeline__title:first-of-type {
      margin-top: 0; }
    .timeline__title--last {
      display: block;
      margin-bottom: 0;
      max-width: 2em;
      border-radius: 50%; }
  .timeline__event {
    position: relative;
    text-align: center;
    float: right;
    clear: right;
    width: 45%;
    margin: 1em 2.5%;
    background: #363c4c;
    border-radius: 5px;
    list-style-type: none;
    display: block;
    padding: .4em;
    z-index: 15;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none; }
    @media all and (max-width: 600px) {
      .timeline__event {
        width: 85%; } }
    .timeline__event--first {
      margin-top: -1.5em; }
    .timeline__event:nth-of-type(2n) {
      float: left;
      clear: left; }
    @media all and (min-width: 650px) {
      .timeline__event:after {
        display: block;
        content: ' ';
        height: 9px;
        width: 9px;
        border-radius: 50%;
        position: absolute;
        left: -5%;
        top: 1.5em;
        border: 1px solid #fff; } }
    .timeline__event:nth-child(2n):after {
      right: -5%;
      left: auto; }

.device {
  width: 40em;
  margin: 10px auto 20px auto;
  position: relative;
  min-height: 300px;
  clear: both; }
  .device__item {
    position: absolute;
    -webkit-transition: all 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
    -moz-transition: all 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
    -o-transition: all 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9);
    transition: all 0.6s cubic-bezier(0.39, 1.66, 0.12, 0.9); }
    .device__item--desktop {
      left: -webkit-calc(50% - 145.5px);
      left: -moz-calc(50% - 145.5px);
      left: calc(50% - 145.5px);
      top: 0; }
    .device__item--notebook {
      right: 0;
      top: 100px; }
    .device__item--tablet {
      left: 59px;
      bottom: 40px; }
    .device__item--phone {
      left: 30%;
      bottom: 0; }

.work {
  width: 100%;
  padding: 30px;
  background: #363c4c; }
  .work__item {
    float: left;
    width: calc(99.9% * 1/2 - 15px);
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5), -1px -1px 5px 0px rgba(0, 0, 0, 0.5); }
    .work__item:hover .work__desc, .work__item:hover .work__txt, .work__item:hover .work__link {
      -webkit-transform: scale(1);
         -moz-transform: scale(1);
          -ms-transform: scale(1);
           -o-transform: scale(1);
              transform: scale(1);
      opacity: 1; }
    .work__item:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(49, 53, 64, 0.2); }
  .work__img {
    width: 100%;
    height: 100%;
    float: left; }
  .work__desc {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9);
    -moz-transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9);
    -o-transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9);
    transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9);
    text-align: center;
    color: #313540;
    font-size: 1.30em; }
  .work__txt {
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9) 0.5s;
    -moz-transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9) 0.5s;
    -o-transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9) 0.5s;
    transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9) 0.5s;
    opacity: 0;
    margin-top: 15px;
    margin-bottom: 30px; }
  .work__link {
    display: block;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9) 0.2s;
    -moz-transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9) 0.2s;
    -o-transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9) 0.2s;
    transition: all 0.8s cubic-bezier(0.39, 1.66, 0.12, 0.9) 0.2s; }
