/*******************************************************************************
***
***   Dear friend :
***   When I wrote this code, only I and God knew what it was.
***
***   But now only God knows what is here ! 
***   
***   So, if you done trying to 'optimize' this code,
***   please include this comment as a warning for the next guy who also will  
***   trying to do this.
***
***   Author : denys.ark@gmail.com
***
********************************************************************************/
/**
* Font Open Sans
*/
/* Open Sans Regular cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/opensans/OpenSansRegularC.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Open Sans Regular latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/opensans/OpenSansRegular.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Open Sans Bold cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/opensans/OpenSansBoldC.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Open Sans Bold latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/opensans/OpenSansBold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Open Sans Italic cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/opensans/OpenSansItalicC.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* Open Sans Italic latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url(../fonts/opensans/OpenSansItalic.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/**
* Font Code PRO Bold
*/
@font-face {
  font-family: 'Code PRO';
  src: url("../fonts/codepro/CodeProBold.otf");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/**
* Font Segoe Print
*/
@font-face {
  font-family: 'Segoe';
  src: url("../fonts/segoe/segoepr.ttf");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/**
* Top red line before navigation
*/
.top {
  background: #c42521;
  padding: 10px 0;
  color: #fff;
  font-size: 10px;
}

.top__icon {
  float: left;
  width: 40px;
  height: 30px;
  line-height: 30px;
  font-size: 25px;
}

.top__content {
  float: left;
}

.top__txt {
  display: block;
}

.top__link {
  color: #fff;
  text-decoration: none;
}

.top__link:hover, .top__link:focus {
  color: #fff;
  text-decoration: underline;
}

/**
* Main navigation styles
*/
.navbar {
  width: 100%;
  border-radius: 0;
  border: none;
  margin: 0;
  text-align: center;
  z-index: 99 !important;
}

.navbar__caret {
  display: inline-block;
  width: 12px;
  height: 7px;
  float: right;
  margin-top: 3px;
  background: url(../images/menu-caret.png) no-repeat transparent;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: -o-transform .3s ease;
  -moz-transition: transform .3s ease, -moz-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease, -moz-transform .3s ease, -o-transform .3s ease;
}

.navbar__nav {
  margin: 0;
}

.navbar__menu-item {
  float: left;
  width: 100%;
}

.navbar__menu-item.open .navbar__caret {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar__collapse {
  padding: 0;
  position: relative;
}

.navbar__link {
  padding: 20px 15px !important;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
  line-height: 1 !important;
}

.navbar__link:hover {
  background: #c42521 !important;
  color: #fff;
}

.navbar__link:focus {
  background: #c42521 !important;
  color: #fff;
}

/**
* Mobile menu header
*/
.navbar__header {
  height: 60px;
  background: #da2d29;
}

.navbar__header .logo {
  float: left;
  width: 145px;
  height: 30px;
  margin-top: 15px;
  background: url(../images/logo.png) no-repeat transparent;
  background-size: cover;
}

.navbar__collapse {
  width: 250px;
  background: #da2d29;
}

/**
* Toggle menu on mobile
*/
.navbar-toggle {
  float: left;
  margin-top: 9px;
}

.navbar-toggle.collapsed .navbar-toggle__line {
  width: 23px;
  height: 2px;
  display: block;
  background: #fff;
  margin: 4px 0;
  border-radius: 50px;
  -webkit-transition: width .2s ease, -webkit-transform .3s ease;
  transition: width .2s ease, -webkit-transform .3s ease;
  -o-transition: width .2s ease, -o-transform .3s ease;
  -moz-transition: transform .3s ease, width .2s ease, -moz-transform .3s ease;
  transition: transform .3s ease, width .2s ease;
  transition: transform .3s ease, width .2s ease, -webkit-transform .3s ease, -moz-transform .3s ease, -o-transform .3s ease;
}

.navbar-toggle.collapsed .navbar-toggle__line--top {
  -webkit-transform: rotate(0);
     -moz-transform: rotate(0);
      -ms-transform: rotate(0);
       -o-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggle.collapsed .navbar-toggle__line--bottom {
  -webkit-transform: rotate(0);
     -moz-transform: rotate(0);
      -ms-transform: rotate(0);
       -o-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggle__line {
  width: 23px;
  height: 2px;
  display: block;
  background: #fff;
  margin: 4px 0;
  border-radius: 50px;
  -webkit-transition: width .2s ease, -webkit-transform .3s ease;
  transition: width .2s ease, -webkit-transform .3s ease;
  -o-transition: width .2s ease, -o-transform .3s ease;
  -moz-transition: transform .3s ease, width .2s ease, -moz-transform .3s ease;
  transition: transform .3s ease, width .2s ease;
  transition: transform .3s ease, width .2s ease, -webkit-transform .3s ease, -moz-transform .3s ease, -o-transform .3s ease;
}

.navbar-toggle__line--top {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 80% 90%;
     -moz-transform-origin: 80% 90%;
      -ms-transform-origin: 80% 90%;
       -o-transform-origin: 80% 90%;
          transform-origin: 80% 90%;
  width: 10px;
}

.navbar-toggle__line--bottom {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 80% 10%;
     -moz-transform-origin: 80% 10%;
      -ms-transform-origin: 80% 10%;
       -o-transform-origin: 80% 10%;
          transform-origin: 80% 10%;
  width: 10px;
}

/**
* Mega drop down menu
*/
.mega-drop-down {
  min-width: 100%;
  background: #da2d29;
  top: 110%;
  padding: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  float: left !important;
}

.mega-drop-down__title {
  font-size: 14px;
  display: block;
  width: 100%;
  margin-bottom: 14px;
  line-height: 1.6;
}

.mega-drop-down__link {
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0 15px 10px;
  display: block;
  width: 100%;
}

.mega-drop-down__link:hover, .mega-drop-down__link:focus {
  color: #fff;
}

/**
* Horisontal white line for headings
*/
.mega-drop-down__title:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
}

/**
* Banner background and text
*/
.banner {
  width: 100%;
  min-height: 400px;
  position: relative;
  padding-top: 130px;
  overflow: hidden;
  color: #fff;
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__content {
  position: relative;
  z-index: 3;
}

.banner__heading {
  font-family: 'Code PRO', sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 0.8;
  text-transform: uppercase;
}

.banner__slug {
  font-size: 8px;
}

/**
* Banner pattern overlay
*/
.banner:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/banner-bg.png) repeat repeat;
  z-index: 2;
}

/**
* Customize native bootstrap carousel for background image slider
*/
.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel__control {
  display: none;
  position: absolute;
  width: 29px;
  height: 56px;
  background: url(../images/carousel-arrow.png) no-repeat transparent;
  z-index: 4;
  opacity: .5;
}

.carousel__control:hover {
  opacity: .9;
}

.carousel__control--left {
  left: 40px;
  -webkit-transform: rotate(-180deg);
     -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.carousel__control--right {
  left: auto;
  right: 40px;
}

.carousel__image {
  width: 100% !important;
  height: 100% !important;
}

/**
* Carousel indicators 
*/
.carousel__indicators {
  display: none;
  right: 40px;
  bottom: 15px;
  left: auto;
  width: auto;
  margin: 0;
}

.carousel__indicators li {
  width: 14px;
  height: 14px;
  border: none;
  background: #da2d29;
  margin: 0;
}

.carousel__indicators li.active {
  width: 14px;
  height: 14px;
  border: none;
  background: #fff;
}

/**
* OWL dots
*/
.owl-controls {
  width: 100%;
}

.owl-dots {
  text-align: center;
  margin: 10px 0;
}

.owl-dots .owl-dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: none;
  background: #da2d29;
  margin: 2px;
  border-radius: 50%;
}

.owl-dots .owl-dot.active {
  background: #656565;
}

/**
* News feed slider on banner bottom (Owl carousell)
*/
.feed-slider {
  margin-top: 80px;
}

.feed-slider__container {
  display: block;
  height: 135px;
  float: left;
  padding: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  opacity: .6;
  position: relative;
}

.feed-slider__container:hover, .feed-slider__container:focus {
  color: #fff;
  text-decoration: none;
  opacity: 1;
}

.feed-slider__heading {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
  position: relative;
}

.feed-slider__text {
  font-size: 14px;
}

/**
* Trangile on hover
*/
.feed-slider__heading:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 5px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -10px;
  opacity: 0;
}

.feed-slider__heading--hover:before {
  opacity: 1;
}

/**
* Promotion tiles block with images
*/
.promo {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  float: none;
  margin: 0 auto;
}

.promo__poster {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
}

.promo__caption {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo__text {
  font-size: 12px;
  margin: 0 0 14px 0;
}

/**
* Promotion tiles colors
*/
.promo--default .promo__caption {
  background: transparent;
  color: #8c8c8c;
}

.promo--red .promo__caption {
  background: rgba(218, 45, 41, 0.68);
  color: #fff;
}

.promo--white .promo__caption {
  background: rgba(255, 255, 255, 0.75);
  color: #656565;
}

.promo--gray .promo__caption {
  background: rgba(140, 140, 140, 0.75);
  color: #fff;
}

/**
* Buttons styles (link)
*/
.btn {
  padding: 9px 12px;
  border-radius: 20px;
  background: transparent;
  font-size: 10px;
}

.btn:hover {
  background: #da2d29;
  color: #fff;
}

.btn__chevron {
  display: inline-block;
  float: left;
  width: 10px;
  height: 11px;
  margin: 2px 15px 2px 0;
  background: url(../images/button-arrow.png) no-repeat transparent;
}

.btn__chevron--white {
  background: url(../images/button-arrow-white.png) no-repeat transparent;
}

.btn--right {
  float: right;
}

/**
* Buttons themes
*/
.btn--gray {
  border-color: #8c8c8c;
  color: #8c8c8c;
}

.btn--white {
  border-color: #fff;
  color: #fff;
}

/**
* Typography heading styles 
*/
.heading {
  margin: 0 0 8px 0;
  font-family: 'Code PRO', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  color: #515151;
}

.heading--segoe {
  font-family: 'Segoe', sans-serif;
}

/**
* Headind colors
*/
.heading--gray {
  color: #8c8c8c;
}

.heading--red {
  color: #da2d29;
}

.heading--white {
  color: #fff;
}

/**
* Headings size
*/
.heading--xs {
  font-size: 14px;
}

.heading--sm {
  font-size: 18px;
}

.heading--lg {
  font-size: 22px;
}

/**
* Margin top and bottom wrapper for  heading or group of headings like (h1, h2, h3, h4)
*/
.hgroup {
  margin-top: 15px;
  margin-bottom: 5px;
}

/**
* Content text <p>
*/
.paragraph {
  font-size: 12px;
  color: #222;
}

.paragraph--gray {
  color: #8c8c8c;
}

.paragraph--lead {
  font-size: 14px;
}

/**
* Program courses images
*/
.program__item {
  width: 100%;
  height: auto;
  overflow: hidden;
  float: none;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.program__poster {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
}

.program__desc {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 40px;
  left: 0;
  top: 0;
  background: rgba(34, 34, 34, 0.36);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.program__desc--low {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/**
* Program courses icons
*/
.program__ico {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #da2d29;
}

.program__ico--1 { background-image: url(../images/program-icons.png); background-position: 0 0;
}

.program__ico--2 { background-image: url(../images/program-icons.png); background-position: -56px 0;
}

.program__ico--3 { background-image: url(../images/program-icons.png); background-position: 0 -56px;
}

.program__ico--4 { background-image: url(../images/program-icons.png); background-position: -56px -56px;
}

.program__ico--5 { background-image: url(../images/program-icons.png); background-position: -112px 0;
}

.program__ico--6 { background-image: url(../images/program-icons.png); background-position: -112px -56px;
}

.program__ico--7 { background-image: url(../images/program-icons.png); background-position: 0 -112px;
}

.program__ico--8 { background-image: url(../images/program-icons.png); background-position: -56px -112px;
}

/**
* News filter by date
*/
.date-filter {
  margin-top: 10px;
  margin-bottom: 10px;
}

.date-filter__date {
  color: #656565;
  font-size: 12px;
  border-bottom: 1px dotted #656565;
}

.date-filter__date:hover, .date-filter__date:focus {
  color: #da2d29;
  text-decoration: none;
}

.date-filter .active .date-filter__date {
  color: #da2d29;
  text-decoration: none;
}

/**
* Block with red robbon
*/
.ribbon {
  padding: 65px 35px 25px 35px;
  background: url(../images/promo-tile1.jpg) repeat repeat #8c8c8c;
  position: relative;
}

.ribbon__logo {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -21.5px;
}

.ribbon__text {
  font-size: 12px;
}

/**
* Red subscribe form
*/
.red-form {
  padding: 35px 30px 25px 30px;
  background: #da2d29;
  position: relative;
}

.red-form__input-group {
  width: 100%;
  float: left;
  margin-bottom: 18px;
  position: relative;
}

.red-form__input-group.focus .red-form__label {
  bottom: 25px;
  font-size: 10px;
}

.red-form__label {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  left: 5px;
  bottom: 15px;
  margin-bottom: 2px;
  -webkit-transition: bottom .3s ease, font-size .3s ease;
  -o-transition: bottom .3s ease, font-size .3s ease;
  -moz-transition: bottom .3s ease, font-size .3s ease;
  transition: bottom .3s ease, font-size .3s ease;
}

.red-form__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  padding: 10px 10px 15px 60px;
  background: transparent;
  line-height: 1;
  font-size: 14px;
  color: #fff;
}

.red-form__input:hover .red-form__label {
  bottom: 25px;
}

/**
* Small red logo
*/
.logo-red-sm {
  width: 43px;
  height: 35px;
  background: url(../images/logo-icon.png) no-repeat center center #da2d29;
}

.logo-red-sm:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 21.5px 0 21.5px;
  border-color: #da2d29 transparent transparent transparent;
  position: absolute;
  left: 0;
  bottom: -12px;
}

/**
* News block tabs
*/
.news-block {
  padding-left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: none !important;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.news-block.active {
  display: block !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

/**
* News post
*/
.post {
  padding-right: 0;
  margin-bottom: 18px;
}

.post__img {
  width: 100%;
  margin-bottom: 10px;
}

.post__posted {
  width: 60px;
  float: left;
}

.post__title {
  width: -webkit-calc(100% - 60px);
  width: -moz-calc(100% - 60px);
  width: calc(100% - 60px);
  float: right;
  margin: 0 0 15px 0;
  color: #222;
  padding: 0 10px;
  font-size: 12px;
  word-wrap: break-word;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.4;
}

.post__header {
  width: 100%;
  float: left;
}

.post__body {
  width: 100%;
  float: right;
  padding: 10px 0 0 0;
}

.post__text {
  font-size: 12px;
  color: #333;
}

.post__tag {
  display: block;
  font-size: 14px;
  color: #333;
}

.post__footer {
  width: 100%;
  float: left;
}

.post__footer:before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background: #222;
  margin: 12px 0;
}

/**
* Post date and month badge
*/
.post__date {
  display: block;
  width: 43px;
  height: 35px;
  background: #da2d29;
  margin: 0 auto 16px auto;
  position: relative;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  color: #fff;
}

.post__date:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 21.5px 0 21.5px;
  border-color: #da2d29 transparent transparent transparent;
}

.post__month {
  width: 100%;
  display: block;
  color: #da2d29;
  word-wrap: break-word;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/**
* Social icons link icons
*/
.red-square {
  width: 35px;
  height: 35px;
  background: #da2d29;
  display: inline-block;
  margin-right: 8px;
  text-align: center;
  line-height: 35px !important;
  color: #fff;
  font-size: 20px;
}

.red-square:hover, .red-square:focus {
  color: #fff;
  text-decoration: none;
}

.simple-ico {
  display: inline-block;
  margin: 0 4px;
  color: #fff;
  font-size: 15px;
}

.simple-ico:hover, .simple-ico:focus {
  color: #da2d29;
  text-decoration: none;
}

/**
* Google map and subscribe form
*/
.bottom-map {
  margin-top: 0;
  position: relative;
}

.bottom-map__map {
  height: 300px;
}

/**
* Footer
*/
.footer__logo {
  width: 75px;
  height: 42px;
  display: block;
  float: left;
  margin-right: 10px;
  background: url(../images/logo-icon-large.png) no-repeat transparent;
  background-size: cover;
}

.footer__logo--sm {
  width: 46px;
  height: 28px;
  display: inline-block;
  background: url(../images/logo-icon.png) no-repeat transparent;
  background-size: cover;
}

.footer__bottom {
  padding: 15px 0;
  background: url(../images/footer-bg.jpg) repeat repeat #656565;
  color: #fff;
  font-size: 12px;
  position: relative;
  z-index: 3;
}

.footer__copyright {
  float: left;
}

.footer__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__mobile-txt .glyphicon {
  font-size: 20px;
  margin-right: 16px;
  display: block;
  float: left;
}

@media only screen and (min-width: 320px) {
  .wellcome-text {
    padding: 0 15px;
  }
  .promo-tiles {
    margin-top: 15px;
  }
  .bottom-form {
    padding: 0;
  }
  .promo__caption .btn {
    width: 120px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .promo__caption .heading {
    margin-bottom: 18px;
  }
  .ribbon .btn {
    margin-top: 25px;
  }
  .test-form .red-form {
    padding: 20px;
  }
  .d3-tour {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .promo-tiles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .program__item {
    width: 50%;
    height: auto;
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .promo-tiles {
    padding-right: 15px;
    margin-top: 0;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bottom-map .bottom-form {
    position: relative;
    z-index: 2;
  }
  .test-form .ribbon, .test-form .red-form {
    height: 290px;
    overflow: hidden;
  }
  .test-form .ribbon__text {
    margin-top: 44px;
  }
}

@media only screen and (min-width: 996px) {
  .wellcome-text {
    padding: 0 60px;
  }
  .test-form {
    margin-top: 120px;
  }
  .test-form .ribbon, .test-form .red-form {
    height: auto;
  }
  .test-form .ribbon__text {
    margin-top: 0;
  }
  .test-form .red-form {
    padding: 80px 20px 160px 20px;
  }
  .red-form .btn {
    margin-top: 35px;
  }
}

/**
* Media queries rules
*/
@media only screen and (min-width: 480px) {
  /**
    * Promotion tiles block with images
    */
  .promo {
    width: 230px;
    max-width: 230px;
    height: 230px;
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  /**
    * Navbar navigation
    */
  .navbar {
    background: #da2d29;
  }
  .navbar__collapse {
    width: 100%;
  }
  .navbar__header {
    height: 1px;
  }
  .navbar__caret {
    display: none;
  }
  .navbar__logo {
    display: inline-block;
    width: 145px;
    height: 30px;
    background: url(../images/logo.png) no-repeat transparent;
    background-size: cover;
    margin: 14px 0 0 0;
  }
  .navbar__nav {
    width: -webkit-calc(50% - 101px);
    width: -moz-calc(50% - 101px);
    width: calc(50% - 101px);
    padding-right: 40px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__nav:before, .navbar__nav:after {
    content: none;
  }
  .navbar__nav.navbar-right {
    padding-right: 0;
    padding-left: 40px;
  }
  .navbar__nav .open > .navbar__link, .navbar__nav .open > .navbar__link:hover, .navbar__nav .open > .navbar__link:focus {
    background-color: #c42521;
    border-color: none;
  }
  .navbar__menu-item {
    display: inline-block !important;
    float: none !important;
    width: auto;
    position: static !important;
  }
  .navbar__link {
    text-align: center;
    padding: 23px 5px !important;
    font-size: 10px;
  }
  /**
    * Mega drop down menu
    */
  .mega-drop-down {
    float: none !important;
    padding: 60px 40px;
  }
  /**
    * Banner background and text
    */
  .banner {
    margin-top: 0;
    min-height: 500px;
  }
  .banner__content {
    position: relative;
    z-index: 3;
  }
  .banner__heading {
    font-size: 48px;
  }
  .banner__slug {
    font-size: 12px;
  }
  /**
    * Customize native bootstrap carousel for background image slider
    */
  .carousel__control {
    display: block;
    bottom: 150px;
  }
  .carousel__control--left {
    left: 40px;
    -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .carousel__control--right {
    left: auto;
    right: 40px;
  }
  /**
    * Headings size
    */
  .heading--lg {
    font-size: 22px;
  }
  /**
    * Promotion tiles block with images
    */
  .promo {
    width: 50%;
    float: left;
    margin: 0;
  }
  .promo--default .promo__caption {
    display: block;
  }
  .promo--default .promo__text {
    margin-bottom: 5px;
  }
  /**
    * Margin top and bottom wrapper for  heading or group of headings like (h1, h2, h3, h4)
    */
  .hgroup {
    margin-top: 25px;
    margin-bottom: 16px;
  }
  /**
    * Program courses images
    */
  .program__item {
    width: 25%;
    height: auto;
    float: left;
  }
  .program__desc {
    padding: 10px 10px 40px 10px;
  }
  /**
    * Google map and subscribe form
    */
  .bottom-map {
    margin-top: 45px;
    position: relative;
  }
  .bottom-map__map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
  }
  /**
    * News post
    */
  .post__body {
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
    padding: 0 10px;
  }
  /**
    * OWL dots
    */
  .owl-dots {
    display: none !important;
  }
  /**
    * Google map and subscribe form
    */
  .bottom-map {
    margin-top: 45px;
  }
}

@media only screen and (min-width: 996px) {
  /**
        * Navbar navigation
        */
  .navbar__logo {
    width: 202px;
    height: 42px;
    margin: 7px 0 0 0;
  }
  .navbar__link {
    padding: 23px 5px !important;
    font-size: 12px;
  }
  /**
        * Top red line before navigation
        */
  .top {
    font-size: 12px;
  }
  /**
        * Navbar navigation
        */
  .navbar__link {
    padding: 23px 10px !important;
  }
  /**
        * Banner background and text
        */
  .banner {
    min-height: 700px;
    height: -webkit-calc(100vh - 114px);
    height: -moz-calc(100vh - 114px);
    height: calc(100vh - 114px);
  }
  .banner__heading {
    font-size: 70px;
  }
  .banner__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  /**
        * Promotion tiles colors
        */
  .promo {
    height: auto;
  }
  .promo--default .promo__caption {
    background: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    color: #8c8c8c;
  }
  .promo--default .promo__text {
    margin-bottom: 14px;
  }
  /**
        * Margin top and bottom wrapper for  heading or group of headings like (h1, h2, h3, h4)
        */
  .hgroup {
    margin-top: 40px;
    margin-bottom: 25px;
  }
  /**
        * Program courses images
        */
  .program__desc {
    padding: 40px;
  }
}

@media only screen and (min-width: 1060px) {
  /**
    * Banner background and text
    */
  .banner {
    min-height: 700px;
  }
  /**
    * Promotion tiles colors
    */
  .promo {
    float: right;
  }
  /**
    * Customize native bootstrap carousel for background image slider
    */
  .carousel__control {
    bottom: 45%;
  }
}
