:root{
    --main-bg : #261c46;
    --main-bg-dark : #22193f;
    --light-bg : #ebeafd;
    --message : #44337b;
    --font-primary : #1d1e2c;
    --font-secondary : #8b8da9;
    --status-green : #4caf50;
    --status-yellow : #ffc107;
    --status-reg : #f44336;
    --status-blue : #44b6ff;
    --prifile-border-radius : 50%;
    --message-border-radius : 40px;
    
}