// ***** resolution breakpoints *****

$desktop:		960px;
$tablet:		768px;
$mobile-lg:		480px;
$mobile:		320px;

// Breakpoint for 768px
@media (max-width: $desktop) {
	
	[class$='__container'] {
		max-width: $tablet;
	}
	
	
} //end 768px