/**
* Main container
*/
[class$="__container"]{
    
    width: 100%;
    max-width: #{$desktop--lg + 30px};
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;    
        
    &:before{
        content: '';
        display: table;
    }
    
    &:after{
        content: '';
        display: table;
        clear: both;
    }
    
}


/**
* Fluid container
*/
[class^="container--fluid"]{    
    max-width: 1280px;
}



/**
* Row class
*/
[class$="--row"]{
    margin: 0 -20px;
}

/**
* Block floating
*/
.block{
    width: 100%;
    float: left;
    overflow: hidden;
}


