/**
 * Overlay styles
 */

.overlay{
    position: relative;
    
    &:before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    &--dark{
        &:before{
            background: rgba($color--black, .9);
        }
    }
    
    &--light{
        &:before{
            background: rgba($color--white, .8);
        }
    }
    
}//end overlay