/**
* JavaScript states
*/

.main-nav__link.active{
        border-bottom: 3px solid $color--red;
        
        color: $color--red;
}//end main-nav



.tab__link.active{          
        background: $color--red;
            
        color: $color--white;        
        
        &:after{
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: $color--red;
            position: absolute;
            left: 50%;
            bottom: -8px;
            margin-left: -8px;
            transform: rotate(-45deg);
        }
    
}


.tab__content.current, .bottom-tab__block.current{
    display: block;
}



.sticky-wrapper{
    width: 100%;
    float: left;
    background: $color--white;
    
    &.is-sticky .main-nav{
        z-index: 9 !important;
    }
}



.is-sticky .main-nav__logo{
    width: auto;
    padding: 14px;
    
    > img {
        width: 158px;
    }
}



.offer__tile.hovered{
    .offer__caption{
        color: $color--red;
    }
    
    .offer__overlay::after{
        opacity: 1;
    }
}



.bottom-tab__link.active{
    background: $color--white;
    
    color: $color--black;
}


.hamburger{
    &.active{
        .hamburger__item{
            &:nth-child(1){
                width: 15px;
                transform: rotate(45deg);
                transform-origin: 9px 13px;
            }
            
            &:nth-child(2){
            }
            
            &:nth-child(3){
                width: 15px;
                transform: rotate(-45deg);
                transform-origin: 9px -11px;
            }
        }
    } // end active
}


.mobile-menu{   
    
    &__link{
        &.active{
            .mobile-menu__carret{
                transform: rotate(180deg);
            }
        }
    }
    
    &__inner{
        &.shown{
            right: 0;
        }
    }
    
    
    &__submenu{
        &.shown{
            height: auto;
        }
    }
}



.js-map{
    &.focused{
        > .map__iframe{
             pointer-events: all;
        }
    }
}