html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-weight: 100;
  font-size: 100%;
}

body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  background: transparent;
  vertical-align: baseline;
  font-size: 100%;
}

/* box model for all elements */
*, *::after, *::before {
  box-sizing: border-box;
}

[class$='__container'] {
  margin: 0 auto;
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}
[class$='__container']::before {
  content: '';
  display: table;
}
[class$='__container']::after {
  clear: both;
  content: '';
  display: table;
}

[class^='container--fluid'] {
  max-width: 1280px;
}

[class$='--row'] {
  margin: 0 -20px;
}

.block {
  float: left;
  overflow: hidden;
  width: 100%;
}

.app-wrap {
  width: 100%;
  min-height: 100vh;
  background: #f3f4f6;
  float: left;
}

.header {
  padding-top: 30px;
  padding-bottom: 64px;
}
.header__title {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: #8cbc3e;
  text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.8);
  line-height: 1.5;
}
.header__evident {
  font-size: 30px;
  font-weight: 900;
  color: #00263b;
}

.carousel {
  width: 100%;
  height: 500px;
  position: relative;
}
.carousel__item {
  width: 50%;
  min-height: 1px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.75);
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.3);
      -ms-transform: translateY(-50%) translateX(-50%) scale(0.3);
          transform: translateY(-50%) translateX(-50%) scale(0.3);
  -webkit-transition: all 1s cubic-bezier(0, -0.08, 0.25, 1.54);
          transition: all 1s cubic-bezier(0, -0.08, 0.25, 1.54);
  opacity: 0;
  z-index: -1;
}
.carousel__item--active {
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.8);
      -ms-transform: translateY(-50%) translateX(-50%) scale(0.8);
          transform: translateY(-50%) translateX(-50%) scale(0.8);
  opacity: 1;
  z-index: 5;
  pointer-events: all;
}
.carousel__item--prev {
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-20%) scale(0.6);
      -ms-transform: translateY(-50%) translateX(-20%) scale(0.6);
          transform: translateY(-50%) translateX(-20%) scale(0.6);
  opacity: 1;
  z-index: 1;
  pointer-events: none;
}
.carousel__item--next {
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-80%) scale(0.6);
      -ms-transform: translateY(-50%) translateX(-80%) scale(0.6);
          transform: translateY(-50%) translateX(-80%) scale(0.6);
  opacity: 1;
  z-index: 1;
  pointer-events: none;
}
.carousel__item img {
  width: 100%;
  vertical-align: top;
}
.carousel__item p {
  padding: 15px;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 5px;
}
.carousel__item span {
  display: block;
  margin-bottom: 5px;
}

.bullet {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.bullet__item {
  display: inline-block;
  margin: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #8cbc3e;
  cursor: pointer;
}
.bullet__item:hover {
  background: rgba(0, 38, 59, 0.5);
}
.bullet__item--active {
  background: #00263b;
}
.bullet__item--active:hover {
  background: #00263b;
}

.copyright {
  padding-top: 64px;
  padding-bottom: 30px;
  text-align: center;
}
.copyright__creator {
  font-size: 14px;
  text-transform: uppercase;
  color: #00263b;
  line-height: 35px;
}
.copyright__reference {
  color: #8cbc3e;
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
}
.copyright__year {
  font-size: 12px;
  color: #00263b;
  line-height: 35px;
}

/**
  * Breakpoint for 1200px
  */
@media (max-width: 1024px) {
  .header {
    padding: 15px;
  }
  .header__title {
    font-size: 1.5em;
  }
  .header__evident {
    font-size: 1em;
  }

  .carousel {
    height: 0;
    padding-bottom: 300px;
  }
  .carousel__item--active {
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
        -ms-transform: translateY(-50%) translateX(-50%) scale(1);
            transform: translateY(-50%) translateX(-50%) scale(1);
  }
  .carousel__item--prev {
    -webkit-transform: translateY(-50%) translateX(-10%) scale(0.8);
        -ms-transform: translateY(-50%) translateX(-10%) scale(0.8);
            transform: translateY(-50%) translateX(-10%) scale(0.8);
  }
  .carousel__item--next {
    -webkit-transform: translateY(-50%) translateX(-90%) scale(0.8);
        -ms-transform: translateY(-50%) translateX(-90%) scale(0.8);
            transform: translateY(-50%) translateX(-90%) scale(0.8);
  }

  .copyright {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
/* end 1200px */
/**
  * Breakpoint for 768px
  */
@media (max-width: 768px) {
  .app-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/* end 768*/
/**
  * Breakpoint for 480px
  */
@media (max-width: 480px) {
  .header__title {
    font-size: 1.2em;
  }

  .copyright__creator {
    line-height: 1.2em;
  }
  .copyright__reference {
    line-height: 2em;
  }

  .carousel {
    padding-bottom: 200px;
  }
}
/* ENd 480px*/

/*# sourceMappingURL=main.css.map */