@keyframes modalIn {
    from {
		transform: translateY(-100%);
		opacity: 0;
	}
    to {
		transform: translateY(0);
		opacity: 1;
	}
}


@keyframes modalOut {
    from {
		transform: translateY(0);
		opacity: 1;
	}
    to {
		transform: translateY(-100%);
		opacity: 0;
	}
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}



@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}