/* Custom container */
.container {
  width: 1120px !important;
  max-width: 1120px !important;
  min-width: 1120px !important;
  margin: 0 auto; }

body {
  background: url(../img/bg.png) repeat #f2eed1; }

.wrapper {
  background: #f6f6f6;
  border: 3px solid #acacac;
  box-sizing: border-box; }

/*---------------header--------------------*/
header[data-page="header"] {
  padding-top: 70px;
  position: relative; }
  header[data-page="header"]:after {
    content: " ";
    display: block;
    height: 58px;
    width: 100%;
    background: url(../img/header-bottom.png) repeat-x; }
  header[data-page="header"] .header-bot {
    display: block;
    height: 58px;
    width: 1105px;
    background: url(../img/header-bottom.png) repeat-x;
    position: absolute;
    bottom: 0; }
  header[data-page="header"] h1 {
    font: 65px Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #302b20;
    margin-top: 0; }
    header[data-page="header"] h1:before {
      content: "Health Confidential's";
      font: 14px Arial;
      font-weight: normal;
      text-transform: none;
      display: block;
      color: #302b20; }
    header[data-page="header"] h1 .underscore_h1 {
      font: 36px Arial;
      text-decoration: underline;
      font-weight: bold;
      color: #43937a; }
  header[data-page="header"] .slug {
    height: 55px;
    width: 377px;
    background: #b44d42;
    text-align: center;
    margin-top: 25px; }
    header[data-page="header"] .slug i {
      font: 17px "Palatino Linotype", serif;
      font-weight: bold;
      font-style: italic;
      color: #fefefe;
      line-height: 3; }

/*-----------end header-------------------*/
.top-separator {
  display: block;
  height: 41px;
  width: 1120px;
  background: url(../img/first-block-top.png) no-repeat; }

/*---------------factual-study--------------*/
div[data-page="factual-study"] .note {
  min-height: 43px;
  background: #ffffaa;
  margin-top: 9px;
  box-sizing: border-box;
  border: 2px dotted #acacac; }
  div[data-page="factual-study"] .note small {
    font: 16px Arial, sans-serif;
    color: #000;
    line-height: 2.5; }
    div[data-page="factual-study"] .note small a {
      color: #1800ff; }
div[data-page="factual-study"] h3 {
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 50px; }
  div[data-page="factual-study"] h3 .red {
    color: #ff0302; }
div[data-page="factual-study"] article {
  padding-top: 18px;
  font-family: Arial;
  font-size: 18px;
  color: #000; }
  div[data-page="factual-study"] article p {
    padding-bottom: 20px; }
  div[data-page="factual-study"] article a {
    color: #1800ff;
    text-decoration: underline; }
div[data-page="factual-study"] .video-holder {
  background: -moz-linear-gradient(top, #9d9232, #d6d1b4, #a09538);
  background: -webkit-linear-gradient(top, #9d9232, #d6d1b4, #a09538);
  background: -o-linear-gradient(top, #9d9232, #d6d1b4, #a09538);
  background: -ms-linear-gradient(top, #9d9232, #d6d1b4, #a09538);
  margin: 0 auto 0 auto; }
  div[data-page="factual-study"] .video-holder header {
    min-height: 55px;
    background: -webkit-linear-gradient(top, #046e03, #5fa040);
    background: -moz-linear-gradient(top, #046e03, #5fa040);
    background: -o-linear-gradient(top, #046e03, #5fa040);
    background: -ms-linear-gradient(top, #046e03, #5fa040);
    font-family: Arial;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 10px; }
  div[data-page="factual-study"] .video-holder iframe {
    padding-top: 14px;
    margin: 0 auto;
    display: block;
    width: 94%;
    min-height: 292px; }
  div[data-page="factual-study"] .video-holder footer {
    min-height: 95px; }
    div[data-page="factual-study"] .video-holder footer .desc {
      background: #c5c191;
      border: 2px solid #918c58;
      font-family: Arial;
      font-size: 22px;
      color: #fff;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
      line-height: 1;
      margin-top: 7px;
      padding: 14px 20px;
      text-align: center; }
      div[data-page="factual-study"] .video-holder footer .desc .evident {
        font-weight: bold; }
div[data-page="factual-study"] .results-picture {
  margin-top: 40px; }

/*-----------end factual study---------------*/
/*--------------health benefits -----------------*/
div[data-page="healt-benefits"] hgroup h3 {
  font-family: Arial;
  font-size: 32px;
  font-weight: bold;
  color: #356604; }
div[data-page="healt-benefits"] hgroup h5 {
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  color: #98903a; }
div[data-page="healt-benefits"] article {
  font-family: Arial;
  font-size: 18px;
  color: #000;
  text-align: justify; }
  div[data-page="healt-benefits"] article p {
    padding-bottom: 20px; }
  div[data-page="healt-benefits"] article a {
    color: #1800ff;
    text-decoration: underline; }

/*-----------end healt benefits----------------*/
/*-----------what to expect-----------------*/
div[data-page="what-expect"] .left-block header h3 {
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  color: #98903a; }
  div[data-page="what-expect"] .left-block header h3 a {
    color: #1800ff; }
    div[data-page="what-expect"] .left-block header h3 a:hover {
      text-decoration: underline; }
div[data-page="what-expect"] .left-block p {
  font-family: Arial;
  font-size: 18px;
  color: #000;
  padding-bottom: 15px;
  text-align: justify; }
  div[data-page="what-expect"] .left-block p a {
    color: #1800ff;
    text-decoration: underline; }
div[data-page="what-expect"] .left-block ul li {
  list-style: none;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  line-height: 1.6; }
div[data-page="what-expect"] aside {
  max-width: 310px;
  background: #fff;
  border: 3px solid #000;
  box-sizing: border-box;
  margin-left: 15px;
  margin-top: 20px; }
  div[data-page="what-expect"] aside hgroup h5:nth-child(1) {
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000; }
    div[data-page="what-expect"] aside hgroup h5:nth-child(1):after {
      content: " ";
      display: block;
      height: 1px;
      width: 100%;
      background: #acacac; }
  div[data-page="what-expect"] aside hgroup h5:nth-child(2) {
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: #000; }
    div[data-page="what-expect"] aside hgroup h5:nth-child(2):after {
      content: " ";
      display: block;
      height: 1px;
      width: 100%;
      background: #acacac;
      margin-top: 8px;
      margin-bottom: 14px; }
  div[data-page="what-expect"] aside .row p {
    font-family: Arial;
    font-size: 14px;
    color: #000; }
  div[data-page="what-expect"] aside .row h5.pull-right {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #000; }
div[data-page="what-expect"] .pure100 p {
  font-family: Arial;
  font-size: 18px;
  color: #000;
  text-align: justify; }
  div[data-page="what-expect"] .pure100 p:nth-child(1) {
    padding-top: 50px;
    padding-bottom: 50px; }
  div[data-page="what-expect"] .pure100 p:nth-child(3) {
    padding-top: 20px;
    padding-bottom: 50px; }

/*-----------end  what to expect-----------------*/
/*-----------green coffee bean max-----------------*/
div[data-page="green-coffee-max"] header h3 {
  font-family: Arial;
  font-size: 34px;
  font-weight: bold;
  color: #326100; }
div[data-page="green-coffee-max"] .small {
  background: #ffff00; }
  div[data-page="green-coffee-max"] .small small {
    font-family: Arial;
    font-size: 18px;
    color: #000; }
div[data-page="green-coffee-max"] .panel-order hgroup h3 {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  color: #000; }
div[data-page="green-coffee-max"] .panel-order hgroup p {
  font-family: Arial;
  font-size: 18px;
  color: #000; }
div[data-page="green-coffee-max"] .panel-order .col-xs-9 p:nth-child(1) {
  font-family: Arial;
  font-size: 19px;
  font-weight: bold;
  color: #000; }
  div[data-page="green-coffee-max"] .panel-order .col-xs-9 p:nth-child(1) span {
    color: #136203; }
div[data-page="green-coffee-max"] .panel-order .col-xs-9 p:nth-child(2) {
  font-family: Arial;
  font-size: 18px;
  color: #000; }
  div[data-page="green-coffee-max"] .panel-order .col-xs-9 p:nth-child(2) span {
    text-decoration: underline; }
div[data-page="green-coffee-max"] .panel-order .col-xs-9 .board {
  width: 306px;
  height: 390px;
  background: url(../img/board.png) no-repeat;
  position: relative;
  margin-left: 30px; }
  div[data-page="green-coffee-max"] .panel-order .col-xs-9 .board .btn-agree-small {
    position: absolute;
    bottom: 62px;
    left: 66px;
    width: 179px;
    height: 53px;
    background: url(../img/i-agree-button.png) 0 -53px no-repeat transparent; }
    div[data-page="green-coffee-max"] .panel-order .col-xs-9 .board .btn-agree-small:hover {
      background-position: 0 0; }

/*-----------end  green coffee bean max-----------------*/
/*-----------comment area------------*/
div[data-page="comments"] h1 {
  font-family: Arial;
  font-size: 39px;
  font-weight: bold;
  color: #948954;
  margin-top: 80px; }
div[data-page="comments"] form .control-label {
  font-family: Arial;
  font-size: 16px;
  color: #000; }
div[data-page="comments"] form .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
div[data-page="comments"] form .btn-comment {
  width: 194px;
  height: 46px;
  font-family: Arial;
  font-size: 16px;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background: #006600; }
  div[data-page="comments"] form .btn-comment:hover {
    background: #004500; }
div[data-page="comments"] h4 {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  padding-bottom: 20px; }
  div[data-page="comments"] h4 span {
    font-style: italic; }
div[data-page="comments"] .comment {
  background: #fff;
  border: 1px dashed #bebead;
  margin-bottom: 15px;
  padding-top: 9px;
  padding-left: 9px; }
  div[data-page="comments"] .comment .col-xs-2 {
    padding-left: 0;
    padding-right: 0;
    width: 70px; }
  div[data-page="comments"] .comment .col-xs-10 {
    padding-left: 0;
    padding-right: 0; }
    div[data-page="comments"] .comment .col-xs-10 b {
      font-family: Arial;
      font-size: 18px;
      font-weight: bold;
      color: #000; }
    div[data-page="comments"] .comment .col-xs-10 p small {
      font-family: Arial;
      font-size: 17px;
      font-weight: bold;
      color: #dcbf8d; }
  div[data-page="comments"] .comment .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #424242; }

/*-------------end comment area-----------*/

/*# sourceMappingURL=style.css.map */
