.nv-faq .panel-body{
    padding-left: 50px;
}

@media screen and (max-width: 768px) {
    .nv-faq .panel-body{
        padding-left: 0;
    }
}

.nv-faq a[data-toggle="collapse"]:hover, .nv-faq a[data-toggle="collapse"]:focus{
    text-decoration: none;
    color: #5e5e5e;
}

.nv-faq a:not(.collapsed){
    text-decoration: none;
    color: #5e5e5e;
}

.nv-faq .panel-title{
    margin-top: 5px;
    margin-bottom: 5px;
}