/* ==========================================================================
   mobile and tablet custom style
   ========================================================================== */
body {
  background: #fff794; }

.container {
  max-width: 768px !important;
  min-width: 455px !important;
  margin: 0px auto; }

@font-face {
  font-family: Monotype-Corsiva;
  src: url(../fonts/Monotype-Corsiva.ttf); }
/*@media all and (min-width: $tablet) {
                 
    }*/
[data-page="main"] header {
  min-height: 330px; }
  [data-page="main"] header .girl-holder {
    min-height: 230px;
    position: relative;
    padding-top: 40px; }
    [data-page="main"] header .girl-holder::before {
      content: "";
      display: block;
      height: 10px;
      width: 100%;
      min-width: 455px;
      background: -webkit-linear-gradient(bottom, #0069b4, #0095ff);
      background: -moz-linear-gradient(bottom, #0069b4, #0095ff);
      background: -o-linear-gradient(bottom, #0069b4, #0095ff);
      background: -ms-linear-gradient(bottom, #0069b4, #0095ff); }
    [data-page="main"] header .girl-holder::after {
      content: "";
      display: block;
      height: 10px;
      width: 100%;
      min-width: 455px;
      background: -webkit-linear-gradient(bottom, #0069b4, #0095ff);
      background: -moz-linear-gradient(bottom, #0069b4, #0095ff);
      background: -o-linear-gradient(bottom, #0069b4, #0095ff);
      background: -ms-linear-gradient(bottom, #0069b4, #0095ff); }
    [data-page="main"] header .girl-holder img {
      position: absolute;
      top: 0;
      left: 0; }
      @media all and (min-width: 595px) {
        [data-page="main"] header .girl-holder img {
          min-width: 340px;
          min-height: 250px; } }
    [data-page="main"] header .girl-holder h2 {
      font-family: "Monotype Corsiva";
      font-size: 47px;
      color: #d84401;
      text-align: right;
      margin-bottom: 0;
      margin-top: 10px; }
      @media all and (min-width: 595px) {
        [data-page="main"] header .girl-holder h2 {
          font-size: 60px; } }
    [data-page="main"] header .girl-holder ul {
      font-family: Arial;
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      color: #c03f00;
      text-align: right;
      padding-right: 0; }
      @media all and (min-width: 595px) {
        [data-page="main"] header .girl-holder ul {
          font-size: 18px; } }
      [data-page="main"] header .girl-holder ul li {
        list-style: none;
        display: block; }
[data-page="main"] .slug {
  padding-left: 0; }
  [data-page="main"] .slug h3 {
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: #d84401;
    text-align: right;
    margin-bottom: 10px; }
    [data-page="main"] .slug h3 span {
      font-weight: bolder; }
  [data-page="main"] .slug h4 {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #104a84;
    text-align: right;
    margin-top: 10px; }
[data-page="main"] nav {
  padding-right: 0; }
  [data-page="main"] nav .list-group-item {
    min-width: 420px;
    max-width: 595px;
    min-height: 72px;
    margin: 0 auto;
    margin-bottom: 20px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    border: 3px solid #fff;
    background-color: #400e00;
    background: -webkit-linear-gradient(bottom, #0069b4, #0095ff);
    background: -moz-linear-gradient(bottom, #0069b4, #0095ff);
    background: -o-linear-gradient(bottom, #0069b4, #0095ff);
    background: -ms-linear-gradient(bottom, #0069b4, #0095ff);
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center; }
    [data-page="main"] nav .list-group-item:last-child {
      margin-bottom: 0; }
    [data-page="main"] nav .list-group-item:hover {
      background: -webkit-linear-gradient(top, #1d4165, #1d5689);
      background: -moz-linear-gradient(top, #1d4165, #1d5689);
      background: -o-linear-gradient(top, #1d4165, #1d5689);
      background: -ms-linear-gradient(top, #1d4165, #1d5689); }
    @media all and (min-width: 595px) {
      [data-page="main"] nav .list-group-item {
        font-size: 18px; } }
    [data-page="main"] nav .list-group-item:last-child {
      line-height: 3; }
[data-page="main"] footer {
  padding-top: 25px; }
  [data-page="main"] footer .social-icons {
    margin-top: 28px;
    margin-bottom: 15px; }
  [data-page="main"] footer center p {
    font-family: Arial;
    font-size: 12px;
    color: #000; }

[data-page="coupon"] hgroup {
  min-height: 95px;
  margin-top: 0px;
  min-width: 455px;
  background: -webkit-linear-gradient(top, #006ab6, #0093fd);
  background: -moz-linear-gradient(top, #006ab6, #0093fd);
  background: -o-linear-gradient(top, #006ab6, #0093fd);
  background: -ms-linear-gradient(top, #006ab6, #0093fd); }
  [data-page="coupon"] hgroup h2 {
    font-family: Arial;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #e9e700;
    text-align: center; }
    [data-page="coupon"] hgroup h2 span {
      font-size: 42px;
      color: #fff; }
[data-page="coupon"] .best-selling {
  font-family: Arial;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #0069b4; }
  [data-page="coupon"] .best-selling span {
    color: #0095ff; }
[data-page="coupon"] center .price {
  margin-top: 35px;
  margin-bottom: 25px; }
[data-page="coupon"] center p {
  font-family: Arial;
  font-size: 19px;
  font-style: italic;
  color: #1a0005;
  margin-bottom: 0; }
  [data-page="coupon"] center p span {
    color: #d84401; }
[data-page="coupon"] .baje {
  background: #b7db8d;
  margin-top: 14px;
  margin-bottom: 28px;
  min-height: 107px;
  min-width: 455px; }
  [data-page="coupon"] .baje .table-no-border > thead > tr > th,
  [data-page="coupon"] .baje .table-no-border > tbody > tr > th,
  [data-page="coupon"] .baje .table-no-border > tfoot > tr > th,
  [data-page="coupon"] .baje .table-no-border > thead > tr > td,
  [data-page="coupon"] .baje .table-no-border > tbody > tr > td,
  [data-page="coupon"] .baje .table-no-border > tfoot > tr > td {
    border-top: none; }
  [data-page="coupon"] .baje table {
    font-family: Arial;
    font-size: 15px;
    font-style: italic;
    color: #000; }
    [data-page="coupon"] .baje table .red {
      font-weight: bold;
      color: #d84401; }
    [data-page="coupon"] .baje table b {
      font-style: normal; }
    [data-page="coupon"] .baje table td {
      padding: 0 20px 0 20px; }
[data-page="coupon"] .select-btn {
  font-family: Arial;
  font-size: 29px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  width: 296px;
  min-height: 81px;
  margin-bottom: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  border: 3px solid #fff;
  background-color: #400e00;
  background: -webkit-linear-gradient(bottom, #0069b4, #0095ff);
  background: -moz-linear-gradient(bottom, #0069b4, #0095ff);
  background: -o-linear-gradient(bottom, #0069b4, #0095ff);
  background: -ms-linear-gradient(bottom, #0069b4, #0095ff); }
  [data-page="coupon"] .select-btn:hover {
    background: -webkit-linear-gradient(top, #1d4165, #1d5689);
    background: -moz-linear-gradient(top, #1d4165, #1d5689);
    background: -o-linear-gradient(top, #1d4165, #1d5689);
    background: -ms-linear-gradient(top, #1d4165, #1d5689); }

[data-page="buy"] hgroup {
  min-height: 95px;
  margin-top: 30px;
  min-width: 455px;
  background: -webkit-linear-gradient(top, #006ab6, #0093fd);
  background: -moz-linear-gradient(top, #006ab6, #0093fd);
  background: -o-linear-gradient(top, #006ab6, #0093fd);
  background: -ms-linear-gradient(top, #006ab6, #0093fd); }
  [data-page="buy"] hgroup h2 {
    font-family: Arial;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0px; }
  [data-page="buy"] hgroup h3 {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0; }
[data-page="buy"] .shoping-form h4 {
  font: 24px Arial, sans-serif;
  color: #000;
  padding-top: 10px; }
[data-page="buy"] .shoping-form h5 {
  font-family: Arial;
  font-size: 20px;
  color: #000; }
[data-page="buy"] .shoping-form .form-style, [data-page="buy"] .shoping-form input, [data-page="buy"] .shoping-form select {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  border-radius: 13px;
  border: 1px solid #000;
  font: 20px Arial, sans-serif;
  margin-top: 14px;
  padding: 0 30px 0 7px; }
  [data-page="buy"] .shoping-form .form-style::-webkit-input-placeholder, [data-page="buy"] .shoping-form input::-webkit-input-placeholder, [data-page="buy"] .shoping-form select::-webkit-input-placeholder {
    color: #000; }
  [data-page="buy"] .shoping-form .form-style::-moz-placeholder, [data-page="buy"] .shoping-form input::-moz-placeholder, [data-page="buy"] .shoping-form select::-moz-placeholder {
    color: #000; }
  [data-page="buy"] .shoping-form .form-style:-moz-placeholder, [data-page="buy"] .shoping-form input:-moz-placeholder, [data-page="buy"] .shoping-form select:-moz-placeholder {
    color: #000; }
  [data-page="buy"] .shoping-form .form-style:-ms-input-placeholder, [data-page="buy"] .shoping-form input:-ms-input-placeholder, [data-page="buy"] .shoping-form select:-ms-input-placeholder {
    color: #000; }
[data-page="buy"] .shoping-form input {
  background: #fff;
  color: #000; }
[data-page="buy"] .shoping-form select {
  color: #000;
  -webkit-appearance: none;
  background: url(../img/arrow-select.png) no-repeat right #fff; }
  [data-page="buy"] .shoping-form select:hover {
    cursor: pointer; }
[data-page="buy"] .shoping-form label {
  font-family: Arial;
  font-size: 20px;
  color: #000;
  font-weight: normal;
  padding-top: 20px; }
[data-page="buy"] .shoping-form #ccv {
  font-family: Arial;
  font-size: 14px;
  color: #00f;
  display: block;
  padding-top: 40px;
  cursor: pointer; }
  [data-page="buy"] .shoping-form #ccv:hover {
    text-decoration: underline; }
[data-page="buy"] .shoping-form .modal-content {
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none; }
[data-page="buy"] .shoping-form .btn-select-package {
  font-family: Arial;
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  width: 296px;
  height: 82px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  border: 3px solid #fff;
  background-color: #400e00;
  background: -webkit-linear-gradient(bottom, #0069b4, #0095ff);
  background: -moz-linear-gradient(bottom, #0069b4, #0095ff);
  background: -o-linear-gradient(bottom, #0069b4, #0095ff);
  background: -ms-linear-gradient(bottom, #0069b4, #0095ff);
  margin-bottom: 35px;
  margin-top: 15px; }
  [data-page="buy"] .shoping-form .btn-select-package:hover {
    background: -webkit-linear-gradient(top, #1d4165, #1d5689);
    background: -moz-linear-gradient(top, #1d4165, #1d5689);
    background: -o-linear-gradient(top, #1d4165, #1d5689);
    background: -ms-linear-gradient(top, #1d4165, #1d5689); }
[data-page="buy"] .shoping-form .btn-rush-my-order {
  width: 252px;
  height: 75px;
  margin: 0 auto;
  background: url(../img/m-rush-button.png) 0 -76px no-repeat transparent; }
  [data-page="buy"] .shoping-form .btn-rush-my-order:hover {
    background-position: 0 -1px; }
  @media all and (min-width: 595px) {
    [data-page="buy"] .shoping-form .btn-rush-my-order {
      height: 94px;
      width: 318px;
      background: url(../img/t-rush-button.png) 0 -95px no-repeat transparent; }
      [data-page="buy"] .shoping-form .btn-rush-my-order:hover {
        background-position: 0 -1px; } }
[data-page="buy"] .shoping-form .col-xs-4 {
  padding-right: 0; }
[data-page="buy"] footer {
  padding-top: 24px;
  padding-bottom: 20px; }
  [data-page="buy"] footer b {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase; }
  [data-page="buy"] footer .lower-case {
    text-transform: none; }
  [data-page="buy"] footer h5 {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #006ebd;
    margin-top: 0;
    margin-bottom: 0; }
  [data-page="buy"] footer p {
    font-family: Arial;
    font-size: 13px;
    color: #000;
    line-height: 1.1; }
  [data-page="buy"] footer .col-xs-3, [data-page="buy"] footer .col-xs-9 {
    padding-left: 0; }

/*# sourceMappingURL=style.css.map */
