/*******************************************************************************
***
***   Dear friend :
***   When I wrote this code, only I and God knew what it was.
***
***   But now only God knows what is here ! 
***   
***   So, if you done trying to 'optimize' this code,
***   please include this comment as a warning for the next guy who also will  
***   trying to do this.
***
***   Author : denys.ark@gmail.com
***
********************************************************************************/
/**
* All general variables and functions
*/
/**
* Import styles as SMACSS convention
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: 100;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: sans-serif;
  font-size: 16px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* box model for all elements */
*, *:after, *:before {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/**
* Roboto font family
*/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2");
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff2");
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/**
* Main container
*/
[class$="__container"] {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

[class$="__container"]:before {
  content: '';
  display: table;
}

[class$="__container"]:after {
  content: '';
  display: table;
  clear: both;
}

/**
* Fluid container
*/
[class^="container--fluid"] {
  max-width: 1280px;
}

/**
* Row class
*/
[class$="--row"] {
  margin: 0 -20px;
}

/**
* Full width blocks
*/
.block {
  width: 100%;
  float: left;
}

body {
  min-width: 1240px;
}

/**
* Inner header margin bottom
*/
.header--inner {
  margin-bottom: 43px;
}

/**
* top search form
*/
.search {
  display: inline-block;
}

.search__input {
  width: auto;
  min-height: 15px;
  padding: 0 5px 5px 0;
  border: none;
  border-bottom: 1px solid #000;
  margin: 0 80px 0 15px;
  font-size: 0.9375em;
  background: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.search__button {
  width: 15px;
  height: 14px;
  border: 0;
  margin: 0;
  padding: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; background-image: url(../img/controls.png); background-position: -70px -164px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

/**
* Subscribe form
*/
.subscribe {
  width: 100%;
  float: left;
  display: block;
}

.subscribe__input {
  width: 250px;
  float: left;
  min-height: 15px;
  padding: 0 15px 5px 0;
  border: none;
  border-bottom: 1px solid #fff;
  margin: 0;
  font-size: 0.9375em;
  color: #fff;
  background: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.subscribe__button {
  width: 13px;
  height: 12px;
  border: 0;
  margin: 0;
  padding: 5px;
  position: relative;
  left: -13px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; background-image: url(../img/controls.png); background-position: -105px -164px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

/**
* language drop-down
*/
.lang {
  display: inline-block;
  padding: 0 20px 0 30px;
}

.lang__current {
  position: relative;
  text-transform: uppercase;
  font-size: 0.9375em;
  color: #424242;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

.lang__current:after {
  content: '';
  display: block;
  width: 11px;
  height: 6px; background-image: url(../img/controls.png); background-position: -184px -133px;
  position: absolute;
  top: 25%;
  right: -20px;
}

.lang__drop-down {
  height: 0;
  overflow: hidden;
}

/**
*  site logo and slug
*/
.logo {
  display: inline-block;
  text-decoration: none;
  color: #000;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__ico {
  display: block;
  width: 103px;
  height: 103px;
  background: url(../img/logo.png) no-repeat transparent;
  background-size: cover;
  float: left;
}

.logo__txt {
  display: block;
  float: left;
  padding-left: 20px;
}

.logo__name {
  display: block;
  margin-bottom: 5px;
  font-size: 1.4375em;
  font-weight: bold;
}

.logo__slug {
  display: block;
  font-size: 0.6875em;
}

.logo--bottom {
  color: #fff;
  margin-bottom: 60px;
}

.logo--bottom .logo__name {
  font-size: 1.0625em;
}

/**
* navigation links
*/
.top-nav {
  float: left;
  position: relative;
}

.top-nav__line {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.top-nav__marquee {
  display: block;
  height: 3px;
  background: #904eca;
  position: absolute;
  bottom: 0;
  width: 0;
  left: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.top-nav__item {
  display: inline-block;
  float: left;
}

.top-nav > .top-nav__item:first-child .top-nav__link {
  padding-left: 20px;
}

.top-nav > .top-nav__item:last-of-type .top-nav__link {
  padding-right: 20px;
}

.top-nav__link {
  display: block;
  padding: 20px 10px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.875em;
  font-weight: 600;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
}

.top-nav__link:hover, .top-nav__link:focus {
  color: #904eca;
}

/**
* button styles 
*/
.button {
  display: inline-block;
  padding: 17px 30px;
  border: 3px solid transparent;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  font-size: 0.875em;
  font-weight: 600;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.button--bordered {
  border-color: #904eca;
  color: #000;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}

.button--bordered:hover {
  background: #904eca;
  color: #fff;
}

.button--purple {
  color: #904eca;
}

.button--white {
  border-color: #fff;
  color: #fff;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}

.button--white:hover {
  background: #fff;
  color: #904eca;
}

.button--filled-white {
  background: #fff;
  color: #904eca;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}

.button--filled-white:hover {
  background: #904eca;
  color: #fff;
}

.button--filled-purple {
  background: #904eca;
  color: #fff;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}

.button--filled-purple:hover {
  background: #fff;
  color: #904eca;
  border-color: #904eca;
}

/**
* slide arrrows
*/
.arrow {
  display: block;
  width: 71px;
  height: 42px;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; background-image: url(../img/controls.png); background-position: -184px 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  opacity: .5;
}

.arrow:hover {
  opacity: 1;
}

.arrow--left {
  left: 20px;
}

.arrow--right {
  right: 20px;
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

/**
* content tiles 
*/
.tile {
  float: left;
  width: 50%;
  height: 342px;
  padding: 30px 60px 60px 60px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  box-shadow: 2px 7px 49px rgba(27, 27, 30, 0.2);
  position: relative;
  /**
    * tiles sizes
    */
  /**
    * styles for slide tile
    */
  /**
    * styles for tiles text
    */
}

.tile--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tile--purple {
  background: #904eca;
}

.tile--green {
  background: #90c004;
}

.tile--orange {
  background: #dd892d;
}

.tile--img {
  padding: 0;
  overflow: hidden;
}

.tile--lg {
  height: 430px;
}

.tile--xs {
  height: 255px;
}

.tile--transparent {
  padding: 0 50px 30px 0;
  box-shadow: none;
  text-align: left;
  position: relative;
  z-index: 1;
}

.tile--transparent:after {
  content: '';
  display: block;
  width: 100%;
  height: 1000px;
  background: rgba(144, 78, 202, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: skewX(45deg);
     -moz-transform: skewX(45deg);
      -ms-transform: skewX(45deg);
       -o-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-transform-origin: bottom;
     -moz-transform-origin: bottom;
      -ms-transform-origin: bottom;
       -o-transform-origin: bottom;
          transform-origin: bottom;
}

.tile__cathegory {
  margin: 15px 0;
  font-size: 1.5625em;
  color: #3d176b;
  text-shadow: 1px 2px 46px rgba(27, 27, 30, 0.75);
}

.tile__name {
  margin: 25px 0 35px 0;
  font-size: 2.1875em;
  line-height: 1.4;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-shadow: 1px 2px 46px rgba(27, 27, 30, 0.75);
}

.tile > .button--filled-white {
  margin-left: 33px;
}

.tile__ico {
  display: block;
  margin: 20px auto;
  z-index: 2;
}

.tile__title {
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 1.375em;
  z-index: 2;
}

.tile__desc {
  margin: 5px 0;
  font-size: 1.0625em;
}

.tile__link {
  display: block;
  margin-bottom: 20px;
  font-size: 1.375em;
  text-decoration: underline;
  color: #fff;
}

.tile__poster {
  width: 100%;
  height: 100%;
}

.tile__poster--bg {
  position: absolute;
  opacity: .3;
  z-index: 1;
}

/**
* slide big date
*/
.date {
  color: #fff;
  display: block;
  float: left;
  margin-top: -60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.date__day {
  font-size: 4.375em;
  line-height: 1;
  font-weight: bold;
  float: left;
}

.date__month, .date__year {
  font-size: 1.5625em;
  font-weight: bold;
  line-height: 1.4;
  float: left;
}

/**
* tile icons
*/
.ico--discount {
  width: 50px;
  height: 34px; background-image: url(../img/controls.png); background-position: 0 -164px;
}

.ico--tour {
  width: 83px;
  height: 55px; background-image: url(../img/controls.png); background-position: 0 0;
}

.ico--tickets {
  width: 59px;
  height: 58px; background-image: url(../img/controls.png); background-position: -103px -78px;
}

.ico--cake {
  width: 61px;
  height: 58px; background-image: url(../img/controls.png); background-position: -103px 0;
}

.ico--science {
  width: 59px;
  height: 69px; background-image: url(../img/controls.png); background-position: 0 -75px;
}

.ico--coffee {
  width: 49px;
  height: 51px; background-image: url(../img/controls.png); background-position: -184px -62px;
}

.ico--store {
  width: 40px;
  height: 39px; background-image: url(../img/controls.png); background-position: -275px 0;
}

.ico--neiron {
  width: 40px;
  height: 39px; background-image: url(../img/controls.png); background-position: -275px -59px;
}

/**
* bullets navigation for slider
*/
.bullet {
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bullet__item {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 3px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
}

.bullet__item:hover {
  background: rgba(61, 23, 107, 0.5);
}

/**
* news slider styles
*/
.news__item {
  width: 33.333333%;
  float: left;
  height: 425px;
  overflow: hidden;
  position: relative;
}

.news__item:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(221, 137, 45, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.news__poster {
  display: block;
  float: left;
  width: 100%;
  height: auto;
}

.news__caption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: table;
}

.news__table {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.news__date {
  margin-bottom: 40px;
  color: #904eca;
  font-style: italic;
  font-size: 1.125em;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  top: 0;
}

.news__desc {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  position: relative;
  bottom: 0;
}

.news__more {
  margin: 0 auto;
  display: none;
}

.references__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

/**
* Contacts green block
*/
.contacts {
  width: 40%;
  float: left;
  background: #90c004;
  padding: 65px 90px 80px 90px;
  color: #fff;
  text-align: center;
  font-size: 1.25em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__txt {
  margin-bottom: 10px;
}

.contacts__txt--caps {
  text-transform: uppercase;
}

.contacts__txt--bold {
  font-weight: bold;
}

.contacts__txt--heading {
  margin-bottom: 30px;
}

/**
* Small bottom tiles
*/
.tiles--sm {
  width: 60%;
  float: right;
}

/**
*
*/
.lecture {
  width: 100%;
  float: left;
  padding: 100px 0 100px 20%;
}

.lecture--inner {
  padding: 25px 50px 25px 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lecture--inner:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.lecture__preview, .lecture__desc {
  width: 50%;
  float: left;
}

.lecture__preview {
  padding-right: 50px;
}

.lecture__img {
  max-width: 425px;
  width: 100%;
  height: auto;
}

.lecture__title {
  color: #282b30;
  text-transform: uppercase;
  font-size: 1.375em;
  margin: 40px 0;
}

.lecture__description {
  font-size: 0.875em;
  color: #282b30;
  line-height: 1.5;
  margin-bottom: 40px;
}

.lecture__panel {
  width: 50%;
  background: #904eca;
  padding: 50px;
  box-shadow: 2px 3px 43px rgba(0, 0, 0, 0.35);
  color: #fff;
}

.lecture__thumbnail {
  width: 50%;
  height: 80%;
}

.lecture__tag {
  font-size: 1.125em;
  margin-bottom: 12px;
}

.lecture__name {
  font-size: 1.5625em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 2px 38px rgba(27, 27, 30, 0.75);
  margin: 25px 0 50px 0;
}

.lecture__bottom {
  margin-top: 60px;
}

.lecture__bottom .lecture__tag:last-child {
  margin-bottom: 0;
}

/**
* Footer styles
*/
.footer {
  background: #904eca;
  padding: 70px 0 35px 0;
  color: #fff;
}

.footer__form-logo {
  width: 40%;
  float: left;
}

.footer__grid {
  width: 60%;
  float: left;
}

.footer__grid-column {
  width: 25%;
  float: left;
}

.footer__title {
  width: 100%;
  margin-bottom: 30px;
  float: left;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8125em;
  font-weight: bold;
}

.footer__link {
  margin-bottom: 10px;
  display: inline-block;
  color: #fff;
  font-size: 0.8125em;
  text-decoration: none;
}

.footer__link:hover, .footer__link:focus {
  text-decoration: underline;
}

.footer__list {
  display: block;
  width: 100%;
  float: left;
  margin-bottom: 35px;
}

/**
* Class to add left purple line
*/
.ribbon--left {
  position: relative;
}

.ribbon--left:before {
  content: '';
  display: block;
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background: #904eca;
  z-index: -1;
}

/**
* Class to add left purple line
*/
.ribbon--skew {
  position: relative;
}

.ribbon--skew:before {
  content: '';
  display: block;
  height: 100%;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background: #904eca;
  z-index: -1;
  -webkit-transform: skewX(45deg);
     -moz-transform: skewX(45deg);
      -ms-transform: skewX(45deg);
       -o-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-transform-origin: bottom;
     -moz-transform-origin: bottom;
      -ms-transform-origin: bottom;
       -o-transform-origin: bottom;
          transform-origin: bottom;
}

/**
* Class to add left purple line
*/
.ribbon--sm {
  position: relative;
}

.ribbon--sm:before {
  content: '';
  display: block;
  height: 100%;
  width: 30%;
  min-width: 470px;
  position: absolute;
  left: 0;
  top: 0;
  background: #904eca;
  z-index: -1;
}

/**
* Social links
*/
.social {
  display: block;
  float: left;
  width: 100%;
}

.social__item {
  display: inline-block;
  margin-right: 30px;
}

.social__item:last-of-type {
  margin-right: 0;
}

.social__link--fb {
  display: block;
  width: 10px;
  height: 22px; background-image: url(../img/controls.png); background-position: -275px -159px;
  background-color: transparent;
}

.social__link--tw {
  display: block;
  width: 25px;
  height: 21px; background-image: url(../img/controls.png); background-position: -275px -118px;
  background-color: transparent;
}

/**
* Breadcrumbs links
*/
.breadcrumb {
  padding: 48px 0;
}

.breadcrumb__item {
  display: inline-block;
  float: left;
}

.breadcrumb__item:last-of-type .breadcrumb__link {
  color: #fff;
  display: block;
  margin-right: 0;
}

.breadcrumb__item:last-of-type .breadcrumb__link:before {
  content: '/ ';
}

.breadcrumb__back {
  width: 10px;
  height: 19px;
  display: block;
  margin-right: 35px; background-image: url(../img/controls.png); background-position: -305px -159px;
  background-color: transparent;
}

.breadcrumb__link {
  display: block;
  margin-right: 5px;
  line-height: 20px;
  color: #afaab4;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9375em;
}

/**
* Slide styles
*/
.carousel {
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
  min-height: 200px;
  position: relative;
}

.carousel__item {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity .6s ease, visibility .5s linear, -webkit-transform .5s ease-in-out;
  transition: opacity .6s ease, visibility .5s linear, -webkit-transform .5s ease-in-out;
  -o-transition: opacity .6s ease, visibility .5s linear, -o-transform .5s ease-in-out;
  -moz-transition: opacity .6s ease, transform .5s ease-in-out, visibility .5s linear, -moz-transform .5s ease-in-out;
  transition: opacity .6s ease, transform .5s ease-in-out, visibility .5s linear;
  transition: opacity .6s ease, transform .5s ease-in-out, visibility .5s linear, -webkit-transform .5s ease-in-out, -moz-transform .5s ease-in-out, -o-transform .5s ease-in-out;
}

/**
* Scroll up link
*/
.scroll-up {
  display: block;
  width: 45px;
  height: 40px;
  position: fixed;
  bottom: -100%;
  right: -100%;
  z-index: 99;
  text-decoration: none;
  color: #282b30;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
}

.scroll-up--shown {
  right: 15px;
  bottom: 20px;
}

.scroll-up:hover::before {
  top: -10px;
}

.scroll-up:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 19px; background-image: url(../img/controls.png); background-position: -305px -159px;
  background-color: transparent;
  position: relative;
  margin: 0 auto;
  top: 0;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.scroll-up:after {
  display: block;
  content: attr(data-text);
  text-transform: uppercase;
  font-size: 0.75em;
}

/**
* Container for top language drop down and search form
*/
.lang-seach {
  padding: 25px 0;
  text-align: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/**
*  Order tickets button on top
*/
.tickets {
  float: right;
  display: inline-block;
}

/**
* Container for site navigation
*/
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/**
* Display inline navigation links
*/
.main-nav {
  display: inline-block;
}

/**
* Top space for beatween navigation and tiles
*/
.slide__container {
  padding-top: 375px;
}

/**
* Positioning slide control arrows 
*/
.slide .arrow {
  top: 220px;
}

/**
* Positioning news feed arows
*/
.news .arrow {
  bottom: 35px;
}

/**
* Positioning button to right
*/
.lecture .button:last-of-type {
  float: right;
}

.lecture--inner .button:last-of-type {
  float: none;
}

/**
* Additional purple background for ellements
*/
.references {
  position: relative;
}

.references:after {
  content: '';
  display: block;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #904eca;
  z-index: -1;
}

.footer .subscribe {
  margin-bottom: 60px;
}

.main-bg {
  position: relative;
  width: 100%;
  float: left;
}

.main-bg:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/main-bg.jpg) no-repeat transparent top center;
  z-index: -1;
}

.bullet__item--active {
  background: #3d176b;
}

.carousel__item--active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.arrow--inactive {
  opacity: .4;
}

.arrow--inactive:hover {
  opacity: .4;
}

.news__item:hover .news__table {
  background: transparent;
}

.news__item:hover .news__desc {
  bottom: -100%;
}

.news__item:hover .news__date {
  top: -100%;
}

.news__item:hover .news__more {
  display: block;
}

/**
* Media queries rules (mobile first approach)
*/

/*# sourceMappingURL=style.css.map */
