/**
* Breakpoint sizes
*/

$q-320   : 320px;
$q-480   : 480px;
$q-600   : 600px;
$q-768   : 768px;
$q-800   : 800px;
$q-996   : 996px;
$q-1024  : 1024px;
$q-1200  : 1200px; 
$q-1250  : 1250px; 




/**
 * 1200px
 */
@include media-query($q-1250) {
    
    [class$="__container"]{
        max-width: 1150px;
    }
    
}//end 1250



/**
 * 1200px
 */
@include media-query($q-1200) {
    
    [class$="__container"]{
        padding: 0 30px 0 15px;
    }
    
    .prod-aside{
        left: 15px;
        &--inner{
            left: 15px;
        }
    }
    .nav{
        &__link{
            padding: 0 20px;
        }
    }//end nav
    
    
    
}//end 1200px


















// ***** 1024px *****
@include media-query($q-1024) {
  
   
}// end media query 1024px

















  


// ***** 996px *****
@include media-query($q-996) {
    
    [class$="__container"]{ 
        max-width: $q-768;
    }
    
    .nav{
        display: none;
    }
    
    .mobile-nav{
        display: block;
    }
   
    .header{
        &__contacts{
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }
    }
    
    
    .contact-panel{
        margin-left: 0;
        margin-right: 0;
    }
    
    .aside-nav-header{
        display: block;
        height: auto;
        padding: 20px 20px 0 20px;
        
        &__toggle{
            padding-bottom: 10px;
            justify-content: space-between;
        }
        
        &__hamb{
            &.hamburger--open{
                transform: rotate(180deg);
            }
            
            .hamburger__line{
                margin: 2px auto !important;
            }
            
            &--products{
                display: block;
            }
        }
    }
    .prod-aside{
        width: 100%;
        position: static;
        float: left;
        background: none;
        
        height: 0;
        
        &.shown{
            height: auto;
        }
    }
    
    
    .product{
        &__btn{
            width: 100%;
        }
    }
    
    .side-nav{
        
        &__item{
            &:after, &:before{
                display: none;
            }
            border: none;
            
            &--active{
                .side-nav__link{
                    font-weight: normal;
                    color: $color__orange;
                }
                
            }
        }
        
        &__link{
            border: none;
            background: none;
            color: $color__white;
            padding: 18px;
            line-height: 1.5;
            
            &:hover{
                color: $color__orange;
                font-weight: normal;
            }            
            
        }
    }
    
    
    .content{
        &--products{
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
    }
    
    .footer{
        
        &__content{
            flex-wrap: wrap;
        }
        
        &__left{
            width: 100%;
            margin-bottom: 25px;
        }
        
        &__nav{
            width: 50%; 
            padding: 0;
            
            align-items: flex-start;
        }
        
        &__right{
            width: 50%; 
        }
    }
    
    
    
    //column 
    .column{
        &--half{
            width: 100%;
            padding: 0;
        }
    }
   
    
    
    /** carousel */
    
    .slider-block__container{
       max-width: 100%;
        padding: 0;
    }
    
    .carousel{
        
        &__content{
            width: 90%;
            width: calc(100% - 70px);
            height: calc(100% - 120px);
            justify-content: center;
            
        }
        
        
        
        &__subheading{
            text-transform: uppercase;
            font-size: 22px;
        }
        
        &__slide{
            min-height: 400px;
        }
        
    }//end carousel
    
    
    
    .cat-filter{
        &__text{
            width: 100%;
            font-size: em(13);
        }
        
        &__select{
            width: 100%;
        }
    }
    
    
    
}// end media query 996px














// ***** 768px *****
@include media-query($q-768) {
   
    [class$="__container"]{ 
        max-width: $q-600;
        padding: 0;
    }
    
    
    
    /** carousel */
    
    .slider-block__container, .top-nav__container{
       max-width: 100%;
    }
    
    
    /** carousel */
    
    .carousel{
        
        &__content{
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding-bottom: 80px;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
        }
        
        &__slide{
            min-height: 400px;
            background-position: center;
        }
        
        &__heading{
            font-size: em(22);
            line-height: 1.5;
        }
        
        &__subheading{
            font-size: 22px;
            text-transform: uppercase;
            font-weight: bold;
        }
        
        
    }//end carousel
    
    
    
    .header{
        display: none;
    }
    
    
    .popup{
        &__title{
            font-size: em(18);
        }
        
        &__icon{
            vertical-align: middle;
        }
        
        &__body{
            padding: 25px 15px;
        }
    }
    
    
    .logo{
        &--mobile{
            display: flex;
        }
    }
    
    .mobile-nav{        
        position: relative;
    
        &::after{
            width: 100%;
            height: 5px;
            content: '';
            display: block;
            background: $color__orange;
            position: absolute;
            bottom: -5px;
            left: 0;
        }
        
        &__btn{
            display: flex;
        }
    }
    
    
    .banner{
        position: relative;
        right: 0;
        transform: none;
        float: left;
        width: 100%;
        min-height: auto;
        padding: 20px 15px 30px 15px;
        overflow-x: hidden;
        
        &:after{
            width: 100%;
            height: 5px;
            top: 0;
            left: 0;
        }
        
        &:hover{
            right: 0;
        }
        
        &__heading{
            font-size: em(22);
            
            &--lg{
                margin: 0;
                display: inline;
                float: none;
                
                font-size: em(16);                
            }
        }
        
        &__header{
            &:after, &:before{
                width: 400px;
            }
            
            &:after{
                left: -400px;
            }
            
            &:before{
                right: -400px;
            }
        }
        
    }//end banner
    
    
    
    /**hero**/
    .hero{
        
        &__icon{
           margin-right: 10px;
        }
        
        &__heading{
            font-size: em(20);
        }
    }
    
    
    
    .product{
        
        &__info{
            padding: 0;
        }
        
        &__img{
            width: 100%;
        }
        
        flex-direction: column;
    }
    
    
    
    
    .map{
        padding-bottom: 50%;
    }
    
    
    
    .app-tab{
        
        &__content{
            padding: 30px 0 0 0;
        }
        
        &__heading, &__slug{
            font-size: em(12);
            letter-spacing: inherit;
        }
    }
    
    
    
    
    .prod{
        
        &__figure{
            width: calc(50% - 13.3px);
        }
        
        &__caption{
            bottom: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            
            line-height: 1.8;
        }
        
        &__btn{
            transform: scale(1);
            display: block;
            width: 100%;
        }
        
    } //end prod
    
    
}// end media query 768px





// ***** 640px *****
@include media-query(640px) {
    
    .content{
        padding-left: 15px;
        padding-right: 15px;
    }
    
    
    .footer{
        &__content{
            padding: 24px 16px;
        }
        
        &__copyright{
            padding-left: 15px;
            padding-right: 15px;
            
            flex-direction: column;
        }
        
        &__copy-txt{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    
}//end 640













// ***** 600px *****
@include media-query($q-600) {    
    
    .breadcrumb{
        &__link{
            font-size: em(10);
        }
    }
    
    .markers{
        margin-top: 18px;
        margin-bottom: 18px;
    }
    
    .heading{
        &--h1{
            font-size: em(20);
        }
        
        &--h2{
            font-size: em(18);
        }
        
        &--h3{
            font-size: em(14);
            margin: 20px 0;
        }
    }
    
    .paraghraph{
        font-size: em(14);
    }
    
    
    .btn{
        width: 100%;
         max-width: 100% !important;
    }
    
    
    .mobile-nav{
        &__btn{
            width: 16.666%;
        }
    }
    
    .logo{
        &--bottom{
            justify-content: center;
        }
        
        &--mobile{
            .logo__desc{
                padding: 0 0 0 5px;
            }
        }
    }
    
    .footer{
        
        &__content{
            flex-wrap: wrap-reverse
        }
        
        &__nav, &__right, &__left{
            width: 100%;
            margin-top: 12px;
            margin-bottom: 12px;
            
            text-align: center;
        }
        
        
        &__questions{
            width: 100%;
            
            text-align: center;
        }
        
        &__copyright{
            border-top: none;
            padding-top: 0;
            padding-bottom: 0;
        }
        
        &__copy-txt{
            border-top: 1px solid $color__line--dark;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 0;
            display: block;
            width: 100%;
            
            text-align: center;
            
        }
        
    }//end footer
    
    
    .nav-bottom{
        width: 100%;
        
        &__item{
            width: 100%;
            border: none;
            
            &:nth-child(1),  &:nth-child(2),  &:nth-child(3),  &:nth-child(4){
                border: none;
                border-bottom: 1px solid #5d5b59;  
            }                                  
            text-align: center;
            
            &:last-child{
                border-bottom: none;
            }
        }
    }
    
    .contact-panel{
        width: 100%;
        
        &__content{
            width: calc(100% - 54px);
            
            text-align: center;
        }
    }
    
    
    
    //tab
    .tab{
        &__switch{
            font-size: 0;
            width: 20%;
            justify-content: center;
            transition: all .4s cubic-bezier(1.000, -0.530, 0.405, 1.425);
            
            &.active{
                width: 80%;
                border-color: $color__gray;
                background: rgba($color__orange, .4);                
                color: $color__nav;
                font-size: 12px;
                justify-content: space-around;
            }
        }
    }
    
    
    //contact-form
    .contact-form{
        &__block{
            &--half, &--third{
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    
    
    // controls
    .radio__label, .checkbox__label{
        width: 100%;
    }
    
    
    
    .app-tab{
        
         &__slug{
            display: none;
        }
    }
    
    
    .call-to-action{
        &__btn{
            
            &::before, &::after{
                display: none;
            }
            
        }
    }
        
}// end media query 600px
















// ***** 480px *****
@include media-query($q-480) {    
   
    .map{
        padding-bottom: 100%;
    }
    
    .popup{
        &__title{
            font-size: em(14);
        }
        
    }
    
    
     .prod{
        
        &__figure{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        
        
    } //end prod
    
    
    .hero{
        
        &::before{
            width: 100%;
            height: 1px;
            top: 50%;
            left: 0;
            margin-top: -1px;
        }
        
        &__column{
            width: 100%;
            padding: 20px 15px 20px 15px;
        }
    }
    
}// end media query 480px




















// ***** 320px *****
@include media-query($q-320) {
    
    // mobile first
    
} // end media query 320px


































