// ***********
// * Variables
// *************

$color--primary : 	#00263b;
$color--secondary : #8cbc3e;
$color--bg : 		#f3f4f6;
$color--line :      #dedfe2;

@import 'smacss/base/_variables.scss';
@import 'smacss/base/_fonts.scss';
@import 'smacss/base/_reset.scss';

@import 'smacss/layouts/_container.scss';
@import 'smacss/layouts/_typography.scss';

@import 'smacss/modules/_app-wrap.scss';
@import 'smacss/modules/_header.scss';
@import 'smacss/modules/_carousel.scss';
@import 'smacss/modules/_bullet.scss';
@import 'smacss/modules/_footer.scss';


@import 'smacss/states/_animation.scss';
@import 'smacss/states/_js-states.scss';

@import 'smacss/_media-queries.scss';