.constructor-sidebar {
    min-height: calc(100vh - 70px);
    padding-left: 0;

    .custom-select,
    .input-group {
        max-width: 200px;
    }

    .tui-colorpicker-container,
    .tui-colorpicker-palette-container,
    .tui-colorpicker-clearfix {
        width: 100%;
    }
}

.constructor-list-thumbnails {
    padding: 0;
    list-style: none;
    max-height: calc(100vh - 150px);
    overflow: auto;

    &::-webkit-scrollbar-track {
        box-shadow: none;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 10px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #007bff;
        border: 2px solid #555;
    }

    img {
        opacity: 0.8;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    li {
        position: relative;
        padding-top: 0;
    }

    .icon-text {
        img,
        h5 {
            pointer-events: none;
        }
    }

    .constructor-element-price {
        position: absolute;
        right: 25px;
        top: 5px;
        margin: 0;
    }
}