.constructor-main {
    padding-top: 70px;
    overflow: hidden;
}

.constructor-pills {
    .nav-link {
        border-radius: 0;
        text-align: center;
        font-size: 13px;
        padding: 16px 5px;

        &.active {
            background: #343a40;
        }
    }

    .nav-text {
        width: 100%;
        display: block;
    }
}

.constructor-main {
    position: relative;

    .slider-horizontal {
        position: absolute;
        right: 30px;
        bottom: 10px;
    }

    .tooltip.top {
        opacity: 0.5;

        .tooltip-inner {
            &::after {
                content: '%';
            }
        }
    }

    .tooltip-min,
    .tooltip-max {
        display: none !important;
    }
}

.body-container {
    width: 100%;
    margin-bottom: 100px;
    overflow: hidden;
}

.tui-image-editor-controls {
    position: absolute;
    display: block;
    left: 30px;
    bottom: 0;
}

.tui-image-editor {
    margin-top: 50px;
}