@import "settings";
@import "normalize";

/***************** ABOUT ****************************
******* author : denys.ark@gmail.com
******* used : mobile first, progressive enhancement
*****************************************************/

/*****************  CONTENT  ***********************

	1. header
	2.logo
	3.hamburger
    .main-nav
    .cart
	.intro
	.price

***************************************************/

body{
	background: $color__bg;
}


/*************** 1. header **********/

.header{
	lost-center: $screen__tablet;
	background: $color__white;
}//end header


/********** 2. logo ***********/
.logo{
	lost-column: 1/2 2;
	padding: 15px;
	height: 130px;
	display: table;
	
	&__link{
		display: table-cell;
		vertical-align: middle;
	}
	
	img{
		max-width: 100%;		
	}
}//end logo


/********* 3. hamburger ***********/
.hamburger{
	lost-column: 1/2 2;
	height: 131px;
	padding: 15px;
	height: 130px;
	
	&__wrapper{
		width: 30px;
		height: 30px;
		margin-top: 22.75px;
		display: inline-block;
		float: right;
	}
	
	span{
		width: 100%;
		height: 3px;
    	margin-top: 5px;
    	margin-bottom: 5px;
		display: block;
		background: $color__txt;
	}
	
}//end .hamburger


/************* 4. main(top) navigation *************/
.main-nav{
	lost-column: 1 1;
	
	&__top, &__bottom{
		margin: 0;
		padding: 0;
		list-style: none;
	}//end ,nav__top
	
	&__item > a, &__under > a{
		width: 100%;
		display: inline-block;
		padding: 7px;
		
		color: $color__txt;
		text-align: center;
		font-size: em(14);
		text-decoration: none;
	}
	
}//end main-nav


/************ 5. cart items *************/
.cart{
	lost-column: 1 1;
	list-style: none;
	padding: 0;
	margin: 0;
	&__badge > a{
		display: inline-block;
		width: 100%;
		padding: 7px;
		
		text-align: center;
		color: $color__blue;
		text-decoration: none;
	}
}//end cart

/*********** intro screen ****************/
.intro{
	lost-center: $screen__tablet;
	padding: 0 15px;
	
	&__heading{
		text-align: center;
		font-size: em(20);
		color: $color__heading;
		text-transform: uppercase;
		padding: 0 10px;
		
		&--small{
			text-transform:none;
			font-size: em(10);
			font-weight: normal;
		}
		
	}//end .intro__heading
	
	
}//end intro



/****  slider controlls ******/
.slide-ctrl{
	width: 61px;
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;
	
	&__ico{
		display: inline-block;
		width: 36px;
		height: 37px;
				
		&--eco{
			background: url(../img/sprites/shape__eco.png#ctrl) no-repeat;
		}
		
		&--optimum{
			background: url(../img/sprites/shape__optimum.png#ctrl) no-repeat;
		}
		
		&--standard{
			background: url(../img/sprites/shape__standart.png#ctrl) no-repeat;
		}
		
		&--prestige{
			background: url(../img/sprites/shape__prestige.png#ctrl) no-repeat;
		}

		&--luxe{
			background: url(../img/sprites/shape__luxe.png#ctrl) no-repeat;
		}
		
	}
	
	&__anchor{
		width: 100%;
		display: inline-block;
		padding: 15px;
		margin-bottom: 15px;
		
		text-decoration: none;
		color: $color__white;
		font-size: em(15);
		
		&--eco{
			background: #a2c037;
		}

		&--optimum{
			background: #cbd7e1;
		}

		&--standard{
			background: #2a97d7;
		}

		&--prestige{
			background: #eec344;
		}

		&--luxe{
			background: #6d5b9f;
		}
		
	}
	
	&__text{
		display: none;
	}
	
		
}// END price navigation


/* *****   templ ************/
.slide-templ{
	width: calc(99.9% - 61px);
	float: left;
	padding: 0 0 0 15px;
	
	&--standart{
		/*background: url(../img/bg__standart.png) no-repeat;
		background-position: top left;
		background-size: cover;*/
	}
	
	&__logo{
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
	
	&__txt{
		color: $color__txt;
		font-size: em(13);
	}
	
	
	&__btn{
		padding: 12px 12px 12px 25px;
		margin-bottom: 19px;
		float: left;
		border: 1px solid $color__blue;
		width: 100%;
		position: relative;
		background: $color__white;
		
		color: $color__blue;
		text-transform: uppercase;
		font-size: em(12);
		text-align: center;
		text-decoration: none;
		
		&:hover{
			background: $color__blue;
			
			color: $color__white;
		}
	}
	
	&__advantages{
		width: 100%;
		margin: 20px 0;
		padding: 15px;
		border: 3px solid $color__blue;
		background: $color__white;
	}// END advantages
	
	
	&__desc{
		display: block;
		width: 100%;
		margin-top: 5px;
		margin-bottom: 5px;
		
		text-align: center;
		color:  $color__txt;
		font-size: em(14);
	}
	
	&__thumb{
		display: block;		
		margin: 0 auto 5px auto;
		
		&--diamond{
			width: 32px;
			height: 24px;
			background: url(../img/sprites/ico__diamond.png#ctrl) no-repeat;
		}
		
		&--knob{ 
			width: 32px;
			height: 24px; 
			background: url(../img/sprites/ico__knob.png#ctrl) no-repeat;
		}
		
		&--lock{
			width: 16px; 
			height: 34px;
			background: url(../img/sprites/ico__lock.png#ctrl) no-repeat;
		}
	}
	
	&__badge{
		display: inline-block;
		width: 9px;
		height: 13px;
		float: left;
		position: absolute;
		top: 50%;
		left: 10px;
		margin-top: -6.5px;
		
		&--i{
			background: url(../img/sprites/icon__info.png#ctrl) no-repeat;
		}
		
		&--d{
			background: url(../img/sprites/icon__door.png#ctrl) no-repeat;
		}
	}
	
	
}//end templ



/*** advantages circles  ****/

.adv{
	lost-center: $screen__tablet;
	padding: 0 15px;
	
	&__title{
		padding: 0 10px;
		
		text-align: center;
		font-size: em(20);
		color: $color__heading;
		text-transform: uppercase;		
	}
	
	&__item{
		//for tablet lost-column: 1/2 3 0;
		lost-column: 1/1 0 0;
		padding: 35px 0;
		
		text-decoration: none;
	}
	
	&__link{
		text-decoration: none;
		
		&:hover .adv__desc{
			color: $color__blue;
		}
	}
	
	&__icon{
		lost-center: 150px;
		height: 150px;
		border: 1px solid $color__white;
		
		text-align: center;
		>img{
			margin-top: 39.5px;
		}
	}
	
	&__desc{
		margin-top: 15px;
		text-align: center;
		color: $color__heading;
		font-size: em(15);		
	}
	
}//end adv



/******* .banner *********/
.banner{
	lost-center: $screen__tablet;
}//end banner


/** promo ****/
.promo{
	lost-column: 1 1;
	background: $color__white;
	padding: 40px;
	
	&__title{
		margin-top: 10px;
		margin-bottom: 10px;
		
		text-align: center;		
		color: $color__heading;
		font-size: em(23);
		font-weight: normal;
		text-transform: uppercase;
	}
	
	&__desc{
		margin-top: 10px;
		margin-bottom: 10px;
		
		color: $color__txt;
		font-size: em(14);
	}
	
	&__more{
		display: block;
		
		color: $color__blue;
		font-size: em(14);
		text-align: right;
		text-decoration: underline;
		font-weight: bold;
	}
}//end promo

/**** scont ****/
.scont{
	lost-column: 1 1;
	background: $color__green;
	
	
	color: $color__white;
	
	&__thumb{
		lost-column: 1/2 2 0;
		display: none;
		
		
		text-align: center;
	}
	
	&__img{		
		max-width: 100%;
	}
	
	&__desc{		
		margin: 0;
		lost-column: 1/1 1 0;
		padding: 13px;
		text-align: center;
		
		>hr{
			background: $color__white;
			width: 100%;
			height: 1px;
			border: none;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		
		>p{
			font-size: em(14);
		}
		
		br{
			display: none;
		}
		
		>a{
			color: $color__white;
			font-weight: bold;
			text-decoration: underline;
			font-size: em(14);			
		}
	}
	
}//end scont



/***** shop ******/
.shop{
	lost-center: $screen__tablet;
}//end shop


/** filter nafigation *****/
.filter{
	lost-column: 1/1 1 0;
	padding: 15px;
	background: $color__white;
	
	&__heading{
		margin-top: 0;
		margin-bottom: 15px;
		
		text-align: center;
		font-size: em(20);
		color: $color__heading;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	&__anchor{
		margin-top: 0;
		margin-bottom: 5px;
		display: block;
		
		text-align: center;
		text-decoration: underline;
		color: $color__blue;
		font-weight: bold;
		font-size: em(14);
	}
	
}//end filter 


/**** filtering navigation list *****/
.filtering{
	margin: 20px 0 0 0;
	padding: 0;
	
	list-style: none;
	
	>li{
		display: block;
		width: 100%;
	}
	
	&__link{
		display: block;
		padding: 13px;
		
		color: $color__txt;
		font-weight: bold;
		font-size: em(15);
		text-decoration: none;
		
		&--active, &:hover, &:focus{
			background: $color__blue;
			
			color: $color__white;
		}
		
	}
	
}//end filtering


/****** slider *********/
.slider{
	lost-column: 1/1 1 0;
	background: $color__white;
	
	&__item{
		margin: 0;
		lost-column: 1/1 1 0;
		padding: 14px;
	}
	
	&__img{
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
	
	&__desc{
		display: block;
		width: 100%;
		margin-top: 12px;
		margin-bottom: 12px;
		
		color: $color__txt;
		font-size: em(16);
		text-align: center;
	}
	
	&__sale{
		display: block;
		width: 100%;
		margin-top: 12px;
		margin-bottom: 12px;
		
		color: $color__txt;
		font-size: em(17);
		text-align: center;
	}
	
	&__strike{
		color: $color__red;
		font-size: em(14);
	}
	
	&__line{
		display: block;
		border: none;
		height: 1px;
		width: 158px;
		background: $color__gray;
		margin-top: 4px;
		margin-bottom: 4px;
	}
	
	&__wrap{
		position: relative;
	}
	
}//end slider



/****** testomonials************/
.testomonials{
	lost-center: $screen__tablet;
}//end testomonials



/******** comments*********/
.comments{
	lost-column: 1/1 1 0;
	background: $color__white;
	padding: 14px;
	
	
	&__heading{
		margin-top: 0;
		margin-bottom: 15px;
		
		text-align: center;
		font-size: em(20);
		color: $color__heading;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	&__owner{
		margin-top: 5px;
		margin-bottom: 10px;
		
		color: $color__txt;
		font-weight: normal;
		font-size: em(18);
	}
	
	&__txt{		
		margin-top: 10px;
		margin-bottom: 14px;
		
		color: $color__txt;
		font-size: em(14);
	}
	
}//end comments



/****  rate ******/
.rate{
	padding: 0;
	margin: 0;
	list-style: none;
	
	>li{
		display: inline-block;
	}
	
	&__item{
		display: block;
		width: 21px;
		height: 20px;
		background: url(../img/sprites/star__inactive.png#ctrl) no-repeat;
		
		&--active{
			background: url(../img/sprites/star__active.png#ctrl) no-repeat;
		}
	}
	
}//end rate



/********* feedback  ***/
.feedback{
	lost-column: 1/1 1 0;
	padding: 14px;
	background: $color__white;
	
	&__heading{
		margin-top: 0;
		margin-bottom: 15px;
		
		text-align: center;
		font-size: em(20);
		color: $color__heading;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	&__form{
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	&__control{
		width: 100% !important;
		height: 30px;
		border: 1px solid $color__gray;
		padding: 8px;
		margin-bottom: 10px;
		
		font-size: em(14);
		color: $color__txt;
		
		&:focus{
			outline: none;
			border-color: $color__blue;
		}
		
		&--textarea{
			height: 120px;
			max-width: 100%;
			max-height: 200px;
		}
		
	}
	
	&__submit{
		width: 100%;
		padding: 15px;
		border: 1px solid $color__blue;
		background: $color__white;
		margin-top: 10px;
		
		text-align: center;
		color: $color__blue;
		font-weight: bold;
		font-size: em(15);
		text-transform: uppercase;
		
		cursor: pointer;
		
		&:hover, &:focus{
			outline: none;
			background: $color__blue;
			
			color: $color__white;
		}
	}
	
	
}//end feedback



/************ payment ************/
.payment{
	lost-center: $screen__tablet;
	padding-top: 25px;
	padding-bottom: 30px;
	
	&__heading{
		margin-top: 0;
		margin-bottom: 15px;
		
		text-align: center;
		font-size: em(20);
		color: $color__heading;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	&__holder{
		lost-column: 1/1 0 0;
		padding: 35px 0;
	}
	
	&__circle{
		width: 113px;
		height: 113px;
		margin: 0 auto;
		border: 1px solid $color__white;
		
		text-align: center
	}
	
	&__ico{
		margin-top: 36px;
	}
	
}//end payment




/************ about**************/
.about{
	lost-center: $screen__tablet;
	padding: 24px 14px 50px 14px;
	
	&__heading{
		margin-top: 0;
		margin-bottom: 15px;
		
		text-align: center;
		font-size: em(20);
		color: $color__heading;
		text-transform: uppercase;
		font-weight: bold;
	}
	
	
	&__picture{
		display: none;
	}
	
	&__txt{
		margin-top: 15px;
		margin-bottom: 15px;
		
		color: $color__txt;
		font-size: em(14);
	}
	
}// end about




/************ footer*************/
.footer{
	lost-center: $screen__tablet;
	padding: 5px 14px 50px 14px;
	background: $color__white;
	
	
	&__anchors{
		padding: 0;
		margin: 0;
		lost-column: 1/1 1 0;
		list-style: none;
	}
	
	&__heading{
		margin-top: 14px;
		margin-bottom: 14px;
		
		color: $color__txt;
		text-transform: uppercase;
		font-size: em(15);
		font-weight: normal;
	}
	
	&__link{
		display: block;
		
		color: $color__txt;
		text-indent: 10px;
		font-size: em(15);
		text-decoration: underline;
		margin-bottom: 10px;
	}
	
	&__info{
		lost-column: 1/1 1 0;
		padding-top: 20px;
		text-align: center;
	}
	
	
	&__txt{
		color: $color__txt;
		text-indent: 10px;
		font-size: em(15);
	}
	
	
}//end footer












