/* ==========================================================================
My custom styles
   ========================================================================== */

@font-face {
    font-family:"Socialico";
    src:url("../fonts/Socialico.eot?") format("eot"),url("../fonts/Socialico.woff") format("woff"),url("../fonts/Socialico.ttf") format("truetype"),url("../fonts/Socialico.svg#Socialico") format("svg");
    font-weight:normal;
    font-style:normal;

}

@font-face{
    font-family:"Stainy_PersonalUseOnly";
    src:url("../fonts/Stainy_PersonalUseOnly.ttf");
}

/*==========================header== 49ac3f=============================*/



header{
    background:#178dcc;
}

body{
    padding-top: 60px;
}

.header{
    padding:50px 0 50px 0;
}

.btn-lg,.btn{
    border-radius: 0px;
}



.list-group-item {
  border: 0px transparent;
    background:#178dcc;
    cursor: pointer;
}

.list-group-item a{
    color: #fff;
    text-decoration: none;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.list-group-item:hover{
    background: url(../images/bglight.png);
}



 /*nav*/

.navbar{
    background: #178dcc;

}

#navbar a{
    color: #fff;
}

#navbar a:hover{
    background: url(../images/bglight.png);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  color: #fff;
  background: url(../images/bglight.png);
}

.dropdown-menu{
    background: #178dcc;
}


    /*active menu item*/
.active1{
 background: #63bbe6;
}


@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}


/*logo*/

.navbar-inverse .navbar-brand {
  font-family: "Myriad Pro";
	font-size: 30px;
	color: #fff;
}

.mini-logo{
    font-family: "Stainy_PersonalUseOnly";
	font-size: 30px;
	color: #fff;
}


.navbar-inverse {
  background-color:#178dcc;
  border-color: transparent;
}


/*lang*/

.lang li{
    list-style: none;
    float: left;
    margin-top: 9px;
    margin-left: 9px;
}

.lang img {
    width: 30px;
    height: 30px;
}



h1{
    text-align: center;
}



/* ================================= content ========================= */

.slug{
    font-family: "Myriad Pro";
	font-size: 23px;
	color: #3a3a3a;
    text-align: center;
}

.free-system{
    font-family: "Myriad Pro";
	font-size: 22px;
	text-transform: uppercase;
	color: #178dcc;
    margin-top: 100px;
    padding-left: 100px;
}

.free-system .btn-primary{
    background: url(../images/btn-primary.png);
    border-color: transparent;
}

.free-system .btn-primary:hover{
    background: url(../images/btn-primary-hover.png);
}

@media (min-width: 768px){
    .free-system{
        margin-top: 100px;
        padding-left: 100px;
    }
}

.view-more-btn{

    font-size: 22px;
	text-transform: uppercase;
	color: #fff;
    margin-top: 60px;
}


/*advantages*/

.advantages {
    background: #ececed;
}

.iphone{
    margin-bottom: 100px;
}

.advantages h2{
    font-family: "Myriad Pro";
	font-size: 36px;
	color: #727272;
    text-align: center;
    margin: 105px 0 105px 0;

}

.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;
}

.hover-icons span {
    display: block;
    width: 94px;
    height: 94px;
}


/*sprite*/
.open-code{ background: url(../images/iconsr-sprite.png) no-repeat 0 0;}
.open-code:hover{ background: url(../images/iconsr-sprite.png) no-repeat 0 -94px;}

.easy-settings{ background: url(../images/iconsr-sprite.png) no-repeat -94px 0;}
.easy-settings:hover{ background: url(../images/iconsr-sprite.png) no-repeat -94px -94px;}

.crossplatform{ background: url(../images/iconsr-sprite.png) no-repeat -188px 0;}
.crossplatform:hover{ background: url(../images/iconsr-sprite.png) no-repeat -188px -94px;}

.different-devices{ background: url(../images/iconsr-sprite.png) no-repeat -282px 0;}
.different-devices:hover{ background: url(../images/iconsr-sprite.png) no-repeat -282px -94px;}


.hover-icons p{
    font-family: "Myriad Pro";
	font-size: 18px;
	color: #686868;
    margin-top: 25px;
}


.iphone{
    margin-top: 98px;
}

/*try beta version: ;*/

@media (min-width: 768px){
        .try-beta{
            min-height: 504px;
        }
    }

.try-beta h3 {
    font-size: 30px;
	color: #49ac3f;
    margin: 87px 0;
    text-align: center;
}



.try-beta .btn-primary{
    background: #49ac3f;
    border-color: transparent;
}

.btn-primary:hover{
    background: url(../images/btn-pat.png);
    border-color: #fff;
}

.try-beta canvas{
    margin: 117px 0 0 0;
}

.try-beta p{
    font-size: 20px;
	color: #686868;
    text-align: right;
}

.try-beta .custom-btn {
    width: 145px;
	height: 37px;
}

/* news block*/
.news{
    background: #f3f5f5;
}

     @media (min-width: 768px){
        .news{
            min-height: 407px;
        }
    }


.news h3 {
    font-size: 30px;
	color: #178dcc;
    margin: 13px 0 30px 0;
    text-align: center;
}
.news .news-items li {
     background: url(../images/new-item.png) no-repeat 7px 7px transparent;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 1px 50px;
    vertical-align: middle;
    margin-top: 50px;
}

.news .news-items li p {
    font-size: 18px;
	color: #686868;
}


/* road map */
.road-map{
    background: #178dcc;
    color: #fff;
    text-align: center;
}
     @media (min-width: 768px){
        .road-map{
            min-height: 490px;
        }
    }

.road-map h3 {
    color: #fff;
    font-size: 28px;
    margin: 30px 0 50px 0;
}

.road-map li{
    font-size: 18px;
    list-style: none;
    text-align: left;
    background: url(../images/pin.png) no-repeat 7px 7px transparent;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 1px 50px;
    vertical-align: middle;
    margin-top: 30px;
}






/*===========================================footer========================================*/
footer{
    text-align: center;
    padding: 20px 0 0 0;
     background: url(../images/bglight.png);
    margin-top: 20px;

 }

     @media (min-width: 768px){
            footer{
                min-height: 51px;
            }
    }

.social-ico a{
    font-family:"Socialico";
    font-size: 42px;
    color: #fff;
    text-decoration: none;
}

.social-ico a:hover{
    color: #178dcc;
}



#the_share .b-share-icon_vkontakte,
#the_share .b-share-icon_facebook,
#the_share .b-share-icon_twitter,
#the_share .b-share-icon_gplus{
   background: none;
    width: 34px;
    height: 30px;
    overflow: visible;
    font-family:"Socialico";
    font-size: 42px;
    color: #fff;

}

#the_share .b-share-icon_vkontakte:before{ content: "v"; }
#the_share .b-share-icon_facebook:before{ content: "f"; }
#the_share .b-share-icon_twitter:before{ content: "l"; }
#the_share .b-share-icon_gplus:before{ content: "g"; }


footer p{
    margin-top: 30px;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover{
    color: #fff;
}


.scrollToTop{
	width:60px;
	height:75px;
	padding:0;
	text-decoration: none;
	position:fixed;
	bottom:75px;
	right:40px;
	display:none;
	background: url('../images/up.png') no-repeat 0px 20px;
}

.scrollToTop:hover{
	text-decoration:none;
}



/*===========================integration on pages ===============================*/


img.screen{
  width:180px;
  border: none;
  padding-top: 5px;
  padding-left: 0px;
outline: 1px solid #178dcc;
}

img.left-bar{
    outline: 1px solid #178dcc;
    margin-top: 10px;
}
img.left-bar:hover{
    outline: 1px solid #fff;
}

.heading{
    background:#178dcc;
    color: #fff;
    text-align: center;
}

.heading-green{
    background:#49ac3f;
    color: #fff;
    text-align: center;
}

.download-link{
    background: #49ac3f;
    border: transparent;
    width: 100%;
}

.no-list-style li{
    list-style: none;
}

.table-hover tr:hover {
    background:#178dcc !important;
    color: #fff;
    cursor: pointer
}


.faq{
    background: url(../images/bg.gif);
}


.form-control{
    border-radius: 0;
}

label {
    color: #49ac3f;
}

#navbar a {
     padding-left: 4px;
     padding-right: 8px;
 }


  .tabledownload {
     font-size:18px;
 }

 .tabledownload >td{
     border-top: 0px;
 }
