/* ==========================================================================
   mobile and tablet custom style
   ========================================================================== */
body {
  background: #ffffa7; }

/*@media all and (max-width: $tablet) {
                 
    }*/
/*--------- main ---------*/
body[data-page="main"] header {
  min-height: 188px;
  background: #fcf5ca;
  border-bottom: 7px solid #696351;
  padding-top: 42px;
  padding-bottom: 7px; }
  body[data-page="main"] header hgroup h3 {
    font: 28px Arial;
    color: #302b20;
    margin: 0px; }
  body[data-page="main"] header hgroup h1 {
    font: 48px Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #302b20;
    margin: 0px; }
    @media all and (min-width: 600px) {
      body[data-page="main"] header hgroup h1 {
        font-size: 72px; } }
    body[data-page="main"] header hgroup h1 .underscore_h1 {
      font: 36px Arial;
      text-decoration: underline;
      font-weight: bold;
      color: #43937a; }
      @media all and (min-width: 600px) {
        body[data-page="main"] header hgroup h1 .underscore_h1 {
          font-size: 50px; } }
  body[data-page="main"] header .slug {
    min-height: 55px;
    width: 100%;
    background: #b44d42;
    text-align: center; }
    body[data-page="main"] header .slug i {
      font: 17px "Palatino Linotype", serif;
      font-weight: bold;
      font-style: italic;
      color: #fefefe;
      line-height: 3; }
      @media all and (min-width: 600px) {
        body[data-page="main"] header .slug i {
          font-size: 27px; } }
body[data-page="main"] nav .panel {
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none; }
body[data-page="main"] nav .list-group-item {
  background-color: #ffac45;
  border: none;
  border-bottom: 3px solid #b44d42;
  height: 70px;
  overflow: hidden;
  padding: 0 10px 0 0;
  font: 24px Arial;
  font-weight: bold;
  text-transform: uppercase;
  color: #000; }
  body[data-page="main"] nav .list-group-item img {
    padding-right: 10px; }
  body[data-page="main"] nav .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  body[data-page="main"] nav .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none; }
  body[data-page="main"] nav .list-group-item:hover {
    background: #fcf5ca;
    color: #b44d42; }
  body[data-page="main"] nav .list-group-item:active {
    background: #fcf5ca;
    color: #b44d42; }
body[data-page="main"] .note {
  min-height: 45px;
  background: #f9f979;
  border: 1px dashed #747438;
  font-family: Arial;
  font-size: 11px;
  font-style: italic;
  text-align: center;
  color: #000;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 9px 20px 0 20px; }
  @media all and (min-width: 600px) {
    body[data-page="main"] .note {
      font-size: 14px; } }
  body[data-page="main"] .note a {
    color: #1800ff; }
body[data-page="main"] footer {
  padding-top: 15px;
  padding-bottom: 15px; }
  body[data-page="main"] footer .form-group label {
    font: 24px Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #010000;
    line-height: 2.5;
    padding-right: 0; }
  body[data-page="main"] footer .form-group .col-xs-7 {
    padding-left: 0; }
  body[data-page="main"] footer .form-group .button-buy-small {
    width: 212px;
    height: 60px;
    background: url(../img/btn-agree.png) no-repeat 0 -60px transparent; }
    body[data-page="main"] footer .form-group .button-buy-small:hover {
      background-position: 0 0; }
  body[data-page="main"] footer .logo {
    min-height: 82px;
    background: #fff;
    border: 1px dashed #000;
    text-align: center;
    margin-top: 20px; }

/*--------- factualStudy ---------*/
div[data-page="factualStudy-page1"] header {
  min-height: 184px;
  background: #fcf5ca;
  border-bottom: 7px solid #696351;
  padding-top: 42px;
  padding-bottom: 7px; }
  div[data-page="factualStudy-page1"] header hgroup h3:nth-child(1) {
    font: 26px Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin: 0; }
  div[data-page="factualStudy-page1"] header hgroup h3:nth-child(2) {
    font: 26px Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff0101;
    margin: 0; }
div[data-page="factualStudy-page1"] article {
  padding-top: 14px;
  padding-bottom: 40px;
  font: 20px Arial;
  color: #000; }
  div[data-page="factualStudy-page1"] article a {
    color: #1800ff;
    text-decoration: underline; }

/*-------------factualStudy page-2 -----------------------*/
div[data-page="factualStudy-page2"] .video-holder {
  background: -moz-linear-gradient(top, #9d9232, #d6d1b4, #a09538);
  background: -webkit-linear-gradient(top, #9d9232, #d6d1b4, #a09538);
  background: -o-linear-gradient(top, #9d9232, #d6d1b4, #a09538);
  background: -ms-linear-gradient(top, #9d9232, #d6d1b4, #a09538);
  margin: 40px auto 0 auto; }
  div[data-page="factualStudy-page2"] .video-holder .video-header {
    min-height: 45px;
    background: -webkit-linear-gradient(top, #046e03, #5fa040);
    background: -moz-linear-gradient(top, #046e03, #5fa040);
    background: -o-linear-gradient(top, #046e03, #5fa040);
    background: -ms-linear-gradient(top, #046e03, #5fa040);
    font-family: Arial;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 5px; }
  div[data-page="factualStudy-page2"] .video-holder video {
    padding-top: 14px;
    margin: 0 auto;
    display: block;
    width: 94%; }
  div[data-page="factualStudy-page2"] .video-holder .video-footer {
    min-height: 95px; }
    div[data-page="factualStudy-page2"] .video-holder .video-footer .desc {
      background: #c5c191;
      border: 2px solid #918c58;
      font-family: Arial;
      font-size: 18px;
      color: #fff;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
      line-height: 1;
      margin-top: 7px;
      padding: 14px 20px;
      text-align: center; }
      div[data-page="factualStudy-page2"] .video-holder .video-footer .desc .evident {
        font-weight: bold; }
div[data-page="factualStudy-page2"] h3 {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  margin-top: 40px; }
  div[data-page="factualStudy-page2"] h3 a {
    color: #000; }
div[data-page="factualStudy-page2"] img {
  margin: 14px auto 40px auto; }

/*-------------factualStudy page-3 -----------------------*/
div[data-page="factualStudy-page3"] .before2 {
  margin-top: 70px;
  margin-bottom: 30px; }
div[data-page="factualStudy-page3"] .bottle {
  margin-top: 24px;
  margin-bottom: 24px; }

/*-------------healtAndBenefits -----------------------*/
div[data-page="healtAndBenefits"] header {
  min-height: 184px;
  background: #fcf5ca;
  border-bottom: 7px solid #696351;
  padding-top: 60px;
  padding-bottom: 26px; }
  div[data-page="healtAndBenefits"] header hgroup h3:nth-child(1) {
    font: 28px Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #356604;
    margin: 0; }
  div[data-page="healtAndBenefits"] header hgroup h3:nth-child(2) {
    font: 28px Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #5d5400;
    margin: 0; }
div[data-page="healtAndBenefits"] article {
  padding-top: 14px;
  font: 20px Arial;
  color: #000; }
  div[data-page="healtAndBenefits"] article a {
    color: #1800ff;
    text-decoration: underline; }
  div[data-page="healtAndBenefits"] article img {
    margin-top: 30px;
    margin-bottom: 30px; }

/*-------------whatToExpect-page1 -----------------------*/
div[data-page="whatToExpect-page1"] header {
  min-height: 184px;
  background: #fcf5ca;
  border-bottom: 7px solid #696351;
  padding-top: 60px;
  padding-bottom: 26px; }
  div[data-page="whatToExpect-page1"] header hgroup h3:nth-child(1) {
    font: 28px Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #5d5400;
    margin: 0; }
  div[data-page="whatToExpect-page1"] header hgroup h3:nth-child(2) {
    font: 28px Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: #1800ff;
    margin: 0; }
div[data-page="whatToExpect-page1"] article {
  padding-top: 14px;
  font: 20px Arial;
  color: #000; }
  div[data-page="whatToExpect-page1"] article a {
    color: #1800ff;
    text-decoration: underline; }
  div[data-page="whatToExpect-page1"] article img {
    margin-top: 30px;
    margin-bottom: 30px; }

/*-------------whatToExpect-page2 -----------------------*/
div[data-page="whatToExpect-page2"] article {
  padding-top: 42px;
  padding-bottom: 10px;
  font: 20px Arial;
  color: #000; }
  div[data-page="whatToExpect-page2"] article ul {
    padding-left: 0; }
    div[data-page="whatToExpect-page2"] article ul li {
      list-style: none;
      font: 20px Arial;
      font-weight: bold;
      color: #000;
      line-height: 1.3; }

/*-------------whatToExpect-page3 -----------------------*/
div[data-page="whatToExpect-page3"] hgroup h3 {
  font: 28px Arial;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 0; }
div[data-page="whatToExpect-page3"] hgroup h4 {
  font: 24px Arial;
  font-weight: bold;
  color: #000;
  margin-top: 0; }
div[data-page="whatToExpect-page3"] p {
  font: 20px Arial;
  color: #000; }
div[data-page="whatToExpect-page3"] h4 {
  font: 24px Arial;
  font-weight: bold;
  font-style: italic;
  color: #000; }

/*-------------buy-----------------------*/
div[data-page="buy"] {
  padding-bottom: 24px; }
  div[data-page="buy"] header {
    min-height: 184px;
    background: #fcf5ca;
    border-bottom: 7px solid #696351;
    padding-top: 60px;
    padding-bottom: 26px;
    margin-bottom: 18px; }
    div[data-page="buy"] header h3 {
      font: 28px Arial;
      font-weight: bold;
      text-transform: uppercase;
      color: #006100;
      margin: 0; }
  div[data-page="buy"] p {
    text-align: center; }
    div[data-page="buy"] p small {
      font: 14px Arial;
      font-weight: bold;
      color: #1800ff; }
  div[data-page="buy"] hgroup {
    text-align: center; }
    div[data-page="buy"] hgroup h4:nth-child(1) {
      font: 20px Arial;
      font-weight: bold;
      text-transform: uppercase;
      color: #000; }
    div[data-page="buy"] hgroup h4:nth-child(2) {
      font-family: Arial;
      font-size: 23px;
      color: #000; }
    div[data-page="buy"] hgroup h4:nth-child(3) {
      font-family: Arial;
      font-size: 23px;
      font-weight: bold;
      color: #000; }
      div[data-page="buy"] hgroup h4:nth-child(3) span {
        color: #006200; }
    div[data-page="buy"] hgroup h4:nth-child(4) {
      font-family: Arial;
      font-size: 23px;
      font-weight: bold;
      color: #000; }
      div[data-page="buy"] hgroup h4:nth-child(4) span {
        text-decoration: underline; }
  div[data-page="buy"] .p-r {
    padding-right: 0; }
  div[data-page="buy"] h2 {
    font: 30px Arial;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: #000;
    text-align: center; }
  div[data-page="buy"] ol li {
    font: 20px Arial;
    color: #000;
    font-style: italic;
    padding-bottom: 7px; }
  div[data-page="buy"] .button-buy-small {
    width: 212px;
    height: 60px;
    margin: 0 auto;
    background: url(../img/btn-agree.png) no-repeat 0 -60px transparent; }
    div[data-page="buy"] .button-buy-small:hover {
      background-position: 0 0; }

/*--------------------feedback------------------*/
div[data-page="feedback"] header {
  min-height: 180px;
  background: transparent;
  border-bottom: 7px solid #696351;
  padding-top: 90px;
  padding-bottom: 50px;
  margin-bottom: 30px; }
  div[data-page="feedback"] header h1 {
    font-family: Arial;
    font-size: 37px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5d5400; }
div[data-page="feedback"] .form-horizontal h3 {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #5d5400; }
div[data-page="feedback"] .form-horizontal .control-label {
  font-family: Arial;
  font-size: 15px;
  color: #000;
  text-align: left; }
div[data-page="feedback"] .form-horizontal .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
div[data-page="feedback"] .form-horizontal .btn-comment {
  height: 77px;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background: #006600;
  font-family: Arial;
  font-size: 26px;
  color: #fff;
  text-align: center; }
  div[data-page="feedback"] .form-horizontal .btn-comment:hover {
    background: #004500; }
div[data-page="feedback"] h4 {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  padding-bottom: 40px; }
  div[data-page="feedback"] h4 a {
    color: #000; }

/*--------------------feedback-page2------------------*/
div[data-page="feedback-page2"] .comment {
  background: #fff;
  border: 1px dashed #bebead;
  margin-bottom: 15px;
  padding-top: 9px;
  padding-left: 9px; }
  div[data-page="feedback-page2"] .comment .col-xs-2 {
    padding-left: 0;
    padding-right: 0; }
  div[data-page="feedback-page2"] .comment .col-xs-10 {
    padding-left: 0;
    padding-right: 0; }
    div[data-page="feedback-page2"] .comment .col-xs-10 b {
      font-family: Arial;
      font-size: 14px;
      font-weight: bold;
      color: #000; }
    div[data-page="feedback-page2"] .comment .col-xs-10 p small {
      font-family: Arial;
      font-size: 11px;
      font-weight: bold;
      color: #995800; }
  div[data-page="feedback-page2"] .comment .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    color: #424242; }

/*# sourceMappingURL=style.css.map */
