  <!-- Site header -->
    <header class="header block overlay overlay--light">        
        <div class="header__container">
           
            
            <div class="header__logo">
                <a href="index.html" class="logo"><img src="img/logo.png" class="logo__ico" alt="modnuy-dom.com.ua"></a>
            </div><!-- /.logo -->
            
            
            <div class="header__info">
                
                <div class="header__top">
                   
                    <ul class="header__nav top-nav">
                        <li class="top-nav__item"><a href="#" class="top-nav__link @@if (nav == 1) { active }">О нас</a></li>
                        <li class="top-nav__item"><a href="#" class="top-nav__link @@if (nav == 2) { active }">Партнерам</a></li>
                        <li class="top-nav__item"><a href="#" class="top-nav__link @@if (nav == 3) { active }">Отзывы</a></li>
                        <li class="top-nav__item"><a href="contacts.html" class="top-nav__link @@if (nav == 4) { active }">Контакты</a></li>
                    </ul> <!-- /.top-nav -->


                    <ul class="header__tabs tab">
                        <li class="tab__item"><a href="#" class="tab__link active" data-tab="Tab1">Магазин №1</a></li>
                        <li class="tab__item"><a href="#" class="tab__link" data-tab="Tab2">Магазин №2</a></li>
                        <li class="tab__item"><a href="#" class="tab__link" data-tab="Tab3">Магазин №3</a></li>
                    </ul> <!-- /.tabs -->

                    <div class="header__social">
                        <a href="#" class="social"><span class="icon icon--yt"></span></a>
                        <a href="#" class="social"><span class="icon icon--fb"></span></a>
                    </div> <!-- /.social -->
                    
                </div> <!-- top -->
                
                
                <div class="header__contacts tab">
                   
                    <div class="tab__content current" id="Tab1">  
                                             
                        <div class="header__tab-column">                            
                            <span class="icon icon--phone"></span>                            
                            <div class="header__tab-text">
                                <a href="tel:+380503743744" class="header__tab-link">+38 (050) 374 37 44</a> <br>
                                <a href="tel:+380960635764" class="header__tab-link">+38 (096) 063 57 64</a>

                            </div>                            
                        </div> <!-- /.column --> 
                                               
                        <div class="header__tab-column">                           
                            <span class="icon icon--marker"></span>                            
                            <div class="header__tab-text">
                                <p class="header__tab-paragraph">г. Черновцы, <br> ул. Нагорная, 1</p>
                            </div>                            
                        </div> <!-- /.column -->  
                                              
                        <div class="header__tab-column"> 
                            <a href="#mapBlock" class="button button--ico js-goto">
                                <span class="icon icon--map"></span>
                                показать на карте
                            </a>                           
                        </div> <!-- /.column -->
                        
                    </div> <!-- /.content --> 
                    
                     <div class="tab__content" id="Tab2">  
                                             
                        <div class="header__tab-column">                            
                            <span class="icon icon--phone"></span>                            
                            <div class="header__tab-text">
                                <a href="tel:+380957125882" class="header__tab-link">+38 (095) 712 58 82</a> <br>
                                <a href="tel:+380682639360" class="header__tab-link">+38 (068) 263 93 60</a>
                                

                            </div>                            
                        </div> <!-- /.column --> 
                                               
                        <div class="header__tab-column">                           
                            <span class="icon icon--marker"></span>                            
                            <div class="header__tab-text">
                                <p class="header__tab-paragraph">  г. Черновцы, <br> ул. Героев Майдана, 160 </p>
                            </div>                            
                        </div> <!-- /.column -->  
                                              
                        <div class="header__tab-column"> 
                            <a href="#mapBlock" class="button button--ico js-goto">
                                <span class="icon icon--map"></span>
                                показать на карте
                            </a>                           
                        </div> <!-- /.column -->
                        
                    </div> <!-- /.content -->  
                                                         
                  
                    <div class="tab__content" id="Tab3">  
                                             
                        <div class="header__tab-column">                            
                            <span class="icon icon--phone"></span>                            
                            <div class="header__tab-text">
                                <a href="#" class="header__tab-link">+38 (050) 499997 44</a> <br>
                                <a href="#" class="header__tab-link">+38 (096) 0634546664</a>
                            </div>                            
                        </div> <!-- /.column --> 
                                               
                        <div class="header__tab-column">                           
                            <span class="icon icon--marker"></span>                            
                            <div class="header__tab-text">
                                <p class="header__tab-paragraph">г. Черновцы, <br> ул. Нdddddгорная, 1</p>
                            </div>                            
                        </div> <!-- /.column -->  
                                              
                        <div class="header__tab-column"> 
                            <a href="#mapBlock" class="button button--ico js-goto">
                                <span class="icon icon--map"></span>
                                показать на карте
                            </a>                           
                        </div> <!-- /.column -->
                        
                    </div> <!-- /.content -->                                                                        
                                                          
                                                                                                
                    
                </div> <!-- /.contacts -->
                
                
            </div> <!-- /.info -->
            
            
        </div><!-- /.container -->        
    </header> <!-- /.haeader -->
    
    
    