 <!-- Navigation block -->
    
    <nav class="main-nav block" id="sticker">
        <div class="main-nav__container">
         
         <a href="index.html" class="main-nav__link main-nav__logo"><img src="img/logo-small.png" alt="Logo"></a>
         
         <a href="#" class="main-nav__link">Обои</a>
         <a href="#" class="main-nav__link">декоративные штукатурки</a>
         <a href="#" class="main-nav__link">фрески и фотообои</a>
         <a href="#" class="main-nav__link">освещение</a>
         <a href="#" class="main-nav__link">электрокамины</a> <!-- active -->
         <a href="#" class="main-nav__link">дизайн интерьера</a>
        
        </div> <!-- /.container -->
    </nav><!-- /.main-nav -->
    
    
    
    <!-- Mobile menu -->
    
    <nav class="mobile-menu">
        
        
        <div class="mobile-menu__head">
           
            <a href="index.html" class="mobile-menu__logo"><img class="mobile-menu__logo-icon" src="img/logo-small.png" alt="Logo"></a>           
            
            <button class="hamburger mobile-menu__hamburger drop-menu" data-target="innerNav">
                Menu
                <span class="hamburger__item"></span>
                <span class="hamburger__item"></span>
                <span class="hamburger__item"></span>
            </button>
            
            <a href="#" class="mobile-menu__social"><span class="icon icon--yt"></span></a>
            <a href="#" class="mobile-menu__social"><span class="icon icon--fb"></span></a>                
                
            
        </div>
        
        
        <div class="mobile-menu__inner" id="innerNav">
           
            <a href="#" class="mobile-menu__link @@if (nav == 1) { active }">О нас</a>
            <a href="#" class="mobile-menu__link @@if (nav == 2) { active }">Партнерам</a>
            <a href="#" class="mobile-menu__link @@if (nav == 3) { active }">Отзывы</a>
            <a href="contacts.html" class="mobile-menu__link @@if (nav == 4) { active }">Контакты</a>            
            <a href="#" class="mobile-menu__link drop-menu" data-target="innerSubMenu"><span class="mobile-menu__carret"></span>Каталог</a>           
            
            <ul class="mobile-menu__submenu" id="innerSubMenu">
                <li class="mobile-menu__submenu-item">
                    <a href="#" class="mobile-menu__link">Обои</a>
                </li>
                <li class="mobile-menu__submenu-item">
                    <a href="#" class="mobile-menu__link">декоративные штукатурки</a>
                </li>
                <li class="mobile-menu__submenu-item">
                    <a href="#" class="mobile-menu__link">фрески и фотообои</a>
                </li>
                <li class="mobile-menu__submenu-item">
                    <a href="#" class="mobile-menu__link">освещение</a>
                </li>
                <li class="mobile-menu__submenu-item">
                    <a href="#" class="mobile-menu__link">электрокамины</a>
                </li>
                <li class="mobile-menu__submenu-item">
                    <a href="#" class="mobile-menu__link">дизайн интерьера</a>
                </li>
            </ul>
            
        </div>  
        
    </nav>