.component-content-tile {
    position: relative;
    border-radius: 8px;
    background: var(--black);
    color: var(--white);
    padding: 16px;
    min-height: 160px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__title {
        width: 100%;
        margin: 0 0 8px 0;
    }

    &__list {
        padding: 0;
        list-style: none;
    }

    &__list-item {
        margin: 0 0 4px 0;

        &::before {
            content: "\2022";
            color: var(--goldenGrass);
            display: inline-block;
            width: 16px;
        }
    }
}
