.component-top-deals {
    padding: 48px 0;

    &__heading {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 16px 0;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: auto;
        gap: 32px;

        @media only screen and (min-width: 768px) {
            grid-template-columns: repeat(2, calc(50% - 16px));
        }
    }

    &__controls {
        margin: 16px 0 0 0;
        text-align: center;
    }
}
