body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; 
    font-family: sans-serif;                 /* prevent copy paste, to allow, change 'none' to 'text' */
}




.fb-btn{background: url('../img/facebook.png') no-repeat #3a5795 left center !important; font-family: sans-serif !important;}
.tw-btn{background: url('../img/twitter.png') no-repeat #55acee left center !important; font-family: sans-serif !important;}
.in-btn{background: url('../img/instagram.png') no-repeat #125688 left center !important; font-family: sans-serif !important;}



.ui-bar-twitter{
    background: url('../img/twitter.png') no-repeat #55acee !important;
    padding-left: 50px;
}
.ui-bar-instagram{
    background: url('../img/instagram.png') no-repeat #125688 !important;
    padding-left: 50px;
}
.ui-bar-facebook{
    background: url('../img/facebook.png') no-repeat #3a5795 !important;
    padding-left: 50px;
 }

.profile-panel{
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0 0 20px 0;
}

ul.feed{
    padding: 0;
    margin: 0;
}

#fbXpull {
    width:100%;
     overflow:auto;
    -webkit-overflow-scrolling:touch;
}


.ico-refresh{
    margin-left:  auto;
    margin-right: auto;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    
    -webkit-transition: margin .5s; /* Safari */
    transition: margin .5s;
    margin-top: -72px;
    margin-bottom: 20px;
       
}

.ico-refresh.noanimated{
   margin-top: 20px; 
}

.ico-refresh.animated {
    margin-top: 20px;
    
    -webkit-animation-name: spin;
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 700ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 700ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.ui-content{
    color: #eee;
}

.ui-grid-solo{
    color: #444 !important;
}

.zmdi{
    display: inline-block;
    font: normal normal normal 14px/1 'Material Design Iconic Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.btn-round{
    border-radius: 50% !important;
    border: 1px solid rgba(160, 160, 160, 0.2)
}

.rotate-x{
    -webkit-transform: scale(-1,1);
    -ms-transform: scale(-1,1);
    transform: scale(-1,1);
}

.app-desc{
    text-align: center;
    color: #444;
    width: 100%;
    float: left;
}

.intro-page{
    text-align: center;
    position: relative;
}
.intro-page .intro-logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top:50%;
    left:50%;
    margin: -50px 0 0 -50px;
}



.copyright{
    text-align: center;
    font-size: 13px !important;
}



