// ***** color variables *****

$white           : #fff;
$black           : #000;
$gray            : #8c8c8c;
$dark-gray       : #656565;
$dark-red        : #c42521;
$red             : #da2d29;


// ***** resolution breakpoints *****

$desktop--lg : 1060px;
$desktop     : 1024px;
$desktop--sm : 996px;
$tablet      : 768px;
$mobile--lg  : 480px;
$mobile      : 320px;

