@import "./normalize";
@import "./fonts";
@import "./variables";
@import "./typography";
@import "./buttons";
@import "./badge";
@import "./loader";
@import "./breadcrumb";
@import "./utils";

html,
body {
    font-family: var(--font);
    color: var(--black);
    background-color: var(--white);
}

a,
button {
    &:focus,
    &:active {
        outline: 1px dotted var(--antiqueBrass);
    }
}
