.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0;
    height: 0;
    text-indent: -9999px;
}

.display-none {
    display: none;
}

.container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1200px;
    width: 100%;

    &--small {
        max-width: 992px;
    }
}

.is-transitioning {
    * {
        pointer-events: none;
        cursor: progress;
    }
}

.full-height-section {
    min-height: 100vh;
    overflow: hidden;
}

.title-underline {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 100px;
        height: 3px;
        background: var(--goldenGrass);
        margin: 16px 0;
    }

    &--centered {
        &::after {
            margin: 16px auto;
        }
    }
}
