:root {
    /* Color Palette */
    /* These colors can be used as background-color or text color when needed. */

    /* Main colors */
    --white: #fff;
    --black: #000;
    --gray: #676870;
    --antiqueBrass: #c38450;
    --goldenGrass: #d7a324;
    --casal: #275764;

    /* Transparent colors */
    --whiteTransparent: rgba(255, 255, 255, 0.5);
    --blackTransparent: rgba(0, 0, 0, 0.5);

    /* Fonts */
    --font: "Segoe UI", sans-serif;
}
