

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*-----------------login form ===================================*/

.vertical-offset-100{
    padding-top:20%;
}


.bordered{

    border: 5px solid #2995b7 !important;
    border-radius: 5px;
}

.panel-title{
font-family: "Century Gothic";
	font-size: 24px;
	color: #555;
	text-shadow: 0 1px #fff;
    text-align: center;
}

body{
    background: url(../img/bg.png) repeat;
}


.panel {
   margin-bottom: 0;

}


.my-btn{
    width: 78px;
    height: 38px;
    border: none;
    background: url(../img/btn-login.png);
}
.my-btn:hover{
    background: url(../img/btn-login-hover.png);
}


/**
 * Start by hiding the checkboxes
 */
.checkboxFive input[type=checkbox] {
	visibility: hidden;
}


.checkboxFive {
	width: 25px;
	position: relative;
}

.checkboxFive span{
    padding-left: 20px;
    color: #555;
}

.checkboxFive label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
    border-radius: 3px;
}


.checkboxFive label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

    
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.checkboxFive label:hover::after {
	opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.forgot-pass{
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

.forgot-pass a{
    text-decoration: none;
    font-weight: 100;
    color: #fff;
}

.forgot-pass a:hover{
    text-decoration: underline;
}




/*=======================================================main page ======================================================================*/


.navbar-brand{
    width: 215px;
    height: 85px;
    background: url(../img/logo.png) no-repeat;
}


.admin-holder{
    background: #fff;
    position: relative;
}
.admin-holder a{
    color: #363636;
    text-decoration: none;
}

.admin-holder a:hover{
    color: #24abd5;
}



.admin-panel{
    position: absolute;
    top: 0;
    right: 40px;
    z-index: 454;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.46);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,.46);
	box-shadow: 0 5px 5px rgba(0,0,0,.46);
	background-image: -webkit-linear-gradient(bottom, #dfdfdf, #fff);
	background-image: -moz-linear-gradient(bottom, #dfdfdf, #fff);
	background-image: -o-linear-gradient(bottom, #dfdfdf, #fff);
	background-image: -ms-linear-gradient(bottom, #dfdfdf, #fff);
	background-image: linear-gradient(to top, #dfdfdf, #fff);
	-webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 250px;
    padding: 5px;
}



.white{
    background: #fff;
    min-height: 500px;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}


/*drop down submenu*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #24abd5;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}





/*------------ cuutomize navbar ---------------------*/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
        margin: 20px 10px 0 30px;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(211, 232, 240, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(211, 232, 240, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #d3e8f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #d3e8f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #d3e8f0;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}


/*=======================custom navbar=====================*/
.dropdown-menu {
    background-color: #d3e8f0;
  /* border: 1px solid #ccc; */
  /* border: 1px solid rgba(0,0,0,.15); */
   border-radius: 0px !important;
   -webkit-box-shadow: 0 0 0 rgba(0,0,0,.175);
    box-shadow: 0 0 0 rgba(0,0,0,.175); 
}

.dropdown-menu>li>a:hover{
    background: #24abd5;
}

.footer{
    height: 44px;
    background: url(../img/footer.png) no-repeat;
    width:100%;
   position: absolute;
    bottom: -44px;
    
}


.dropdown{
    padding-top: 40px;
}


.glyphicon {
    width: 24px;
    height: 27px;
    background: transparent url("../img/sprite.png") 0 0 no-repeat;
}


.glyphicon2 {
    width: 17px;
    height: 18px;
    background: transparent url(../img/admin-sprite.png) 0 0 no-repeat;
    display: inline-block;
}

.exit{
   background-position: -34px 0; 
}

.admin{
background-position: -17px 0; 
    }

.manage{
    background-position: -51px 0; 
}

.pages{
    background-position: -24px 0;
}

.documents{
    background-position: -48px 0;
}


.reports{
    background-position: -72px 0;
}

.journals{
    background-position: -96px 0;
}


.questions{
    background-position: -120px 0;
}

.question-mark{
    font-size: 18px;
}

.copyright{
    text-align: center;
    color: #fff;
    padding-top: 70px;
}



.btn-primary{
    background: #24abd5;
    border: #24abd5;
}


hr {
    margin: 0 !important;
    height: 6px;
    background: url(../img/separator.png) repeat-x;
}