.social{
    display: flex;
    align-items: center;
    justify-content: center;
    
    float: left;
    margin: 3px;    
    width: 35px;
    height: 35px;
    background: $color--black;
    border: none;
    
    &:hover{
        background: $color--red;
    }
}//end social




.button{
    padding: 15px 45px;
    background: $color--red;
    float: left;
    border: none;
    
    color: $color--white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: em(13);
    
    transition: all .3s ease ;
    
    &:hover, &:focus{
        background: $color--black;
    }
    
    &--ico{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        
        &>.icon{
            margin-right: 15px;
        }
    }
    
    
    
}// end button