.callme{    
    width: 50px;
    height: 50px;
    background: $color--red;
    position: fixed;
    left: 50px;
    bottom: 50px;
    z-index: 99;    
    border-radius: 50%;
    
    text-align: center;
    line-height: 55px;
    outline: none;
    
    animation: callme  2s infinite;
    
    &:hover{
        animation: none;
    }
    
    > .icon{
        display: inline-block;
    }
    
}//end call me



.call-dialog {
	background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
    
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}
