.cascade-slider_container {
  position: relative;
  height: 500px;
  margin: 0 auto;
    user-select: none;
}

.cascade-slider_item {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(0.3);
  transition: all 1s ease;
  opacity: 0;
  z-index: -1; 

}


.cascade-slider_thumbnail{
    box-shadow: 0 8px 18px rgba(0,0,0,.35);
    width: 560px;
    height: 315px;
}


.cascade-slider_caption{
    font-size: 12px;
    line-height: 1.5;
    color: $color--black;
    text-align: center;
    margin-top: 30px;    
    opacity: 0;
    transition: opacity 1s ease;
}


.cascade-slider_item.next {
  left: 50%;
  transform: translateY(-50%) translateX(-120%) scale(.8);
  opacity: 1;
  z-index: 1;
}

.cascade-slider_item.prev {
  left: 50%;
  transform: translateY(-50%) translateX(20%) scale(.8);
  opacity: 1;
  z-index: 1;
}

.cascade-slider_item.now {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) scale(1.2);
  opacity: 1;
  z-index: 5;
    
    .cascade-slider_caption{
        opacity: 1;
    }
}

.cascade-slider_arrow {
    position: absolute;
    width: 55px;
    height: 55px;
    border: none;
    background: transparent;
    padding: 0;
    
    font-size: 0;
    cursor: pointer;
    outline: none;
    
    &:before{
        content: '';
        display: block;
        width: 13px;
        height: 21px;
        background: url(../img/sprite/arrow-dark.png#sprite);
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -10.5px;
        margin-left: -6.5px;
    }
  z-index: 5;
}

.cascade-slider_arrow-left { 
    right: 55px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.cascade-slider_arrow-right { 
    left: 55px;
    top: 50%;
    transform: translateY(-50%);
}

.cascade-slider_nav {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
  z-index: 5;
}

.cascade-slider_dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 1em;
  background: #ddd;
  list-style: none;
  cursor: pointer;
}

.cascade-slider_dot:hover { background: #555; }

.cascade-slider_dot.cur { background: #555; }





.video-slide{
    position: relative;
    &__container{
        position: static;
    }
}