.testimonials{
    background: url(../img/offer-bg.jpg);
    background-position: top center;
    background-size: cover;
}


.comment{
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    
    &__item{
        max-width: 370px;
        float: left;
    }
    
    &__text{
        display: block;
        padding: 24px;
        background: $color--white;
        border-radius: 5px;
        box-shadow: 0 3px 7px rgba(0,0,0,.35);
        
        color: $color--black;
        font-style: italic;
        font-size: em(14);
        line-height: 1.5;
        
        position: relative;
        
        &::after{
            content: '';
            display: block;
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 8px solid $color--white;
            
            position: absolute;
            left: 35px;
            bottom: -8px;
        }
    }
    
    &__owner{
        display: flex;
        align-items: center;
        padding-top: 30px;
    }
    
    &__avatar{
        width: 100px;
        height: 100px;
        box-shadow: 0 3px 7px rgba(0,0,0,.35);
        border: 4px solid $color--white;
        border-radius: 50%;
        margin-right: 15px;
    }
    
    &__owner-name{
        color: $color--white;
        font-size: em(16);
        line-height: 1.3;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    &__date{
        font-size: em(12);
        color: $color--gray;
        font-style: italic;
    }
    
}//end comment