/**
 * Footer styles
 */

.footer{
    
    background: url(../img/footer-bg.jpg) no-repeat transparent;
    background-position: top center;
    background-size: cover;
    
    padding-top: 50px;
    
    &__container{
        display: flex;
        justify-content: space-between;
    }
    
    &__heading{
        color: $color--white;
        text-transform: uppercase;
        font-size: em(16);
        margin-bottom: 30px;
        padding-bottom: 17px;
        display: block;
        position: relative;
        
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: $color--red;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    
    
    &__column{
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    
    
    &__column{
        
        &:nth-child(1){
            padding-right: 50px;
        }
        
        &:nth-child(2){
            text-align: center;
            align-items: center;
            justify-content: space-between;
            padding: 0 25px;
        }
        
        &:nth-child(3){
            
            .footer__heading{
                text-align: right;
            }
            
            padding-left: 50px;
        }
    }
    
    
}//end footer




.copyright{
    width: 100%;
    margin-top: 50px;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    
    border-top: 1px solid $color--gray;
    
    &__text{
        font-size: em(12);
        color: $color--gray;
    }
    
    &__link{
        color: $color--white;
        text-decoration: none;
    }
    
}// end copyright