.footer-nav{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    
    &__link{
               
        font-size: em(14);
        color: $color--gray;
        text-decoration: none;
        
        padding: 5px;
      
        
        &:hover{
            color: $color--white;
        }
    }
    
}// end footer-nav