.go-up{
    width: 50px;
    height: 50px;
    background: $color--red;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 99;    
    border-radius: 50%;
    
    text-align: center;
    line-height: 55px;
    
    display: none;
    
    > .icon{
        transform: rotate(90deg);
        display: inline-block;
    }
}//end go-up