/**
 * Header styles
 */

.header{
    
    height: 200px;
    background: url(../img/heder-bg.jpg) no-repeat transparent;
    background-position: top center;
    background-size: cover;
    
    
    &__container{
        display: flex;
        height: 100%;
    }
    
    &__social{
        padding: 7px 0;
    }
    
    &__info{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        border-left: 1px solid $color--line;
        border-right: 1px solid $color--line;
    }
    
    &__top{
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 55px;
        border-bottom: 1px solid $color--line;
    }
    
    &__contacts{
        flex-grow: 1;
    }
    
    &__tab-column{
        width: 33.3333%;
        float: left;
        height: 100%;
        border-right: 1px solid $color--line;
        
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        
        
        > .icon{
            margin: 15px;
        }
        
        &:last-child{
            border-right: none;
        }
    }
    
    &__tab-text, &__tab-link{
        color: $color--black;
        text-decoration: none;
        font-size: em(14);
        line-height: 1.5;
    }
    
}//end header