/**
 * Icons set
 */


.icon{
    
    display: block;
    
    &--yt{
        width: 18px;
        height: 22px;
        background: url(../img/sprite/youtube.png#sprite);
    }
    
    &--fb{
        width: 10px;
        height: 18px;
        background: url(../img/sprite/facebook.png#sprite);
    }
    
    &--phone{
        width: 17px;
        height: 17px;
        background: url(../img/sprite/phone.png#sprite);
    }
    
     &--phone-white{
        width: 17px;
        height: 17px;
        background: url(../img/sprite/phone-white.png#sprite);
    }
    
    &--marker{
        width: 16px;
        height: 22px;
        background: url(../img/sprite/map-marker.png#sprite);
    }
    
    &--map{
        width: 16px;
        height: 16px;
        background: url(../img/sprite/map-marker2.png#sprite);
    }
    
    
    &--check{
        width: 29px;
        height: 23px;
        background: url(../img/sprite/check-mark.png#sprite);
    }
    
    
    &--camera{
        width: 29px;
        height: 20px;
        background: url(../img/sprite/camera.png#sprite);
    }
    
    &--offer{
        width: 28px;
        height: 32px;
        background: url(../img/sprite/offer.png#sprite);
    }
    
    &--comments{
        width: 29px;
        height: 25px;
        background: url(../img/sprite/comments.png#sprite);
    }
    
    &--team{
        width: 31px;
        height: 25px;
        background: url(../img/sprite/teem.png#sprite);
    }
    
    &--person{
        width: 11px;
        height: 11px;
        background: url(../img/sprite/person.png#sprite);
    }
    
    &--contact-phone{
        width: 11px;
        height: 11px;
        background: url(../img/sprite/contact-phone.png#sprite);
    }
    
    &--ring{
        width: 14px;
        height: 14px;
        background: url(../img/sprite/ring.png#sprite);
    }
    
    &--mail{
        width: 14px;
        height: 11px;
        background: url(../img/sprite/mail.png#sprite);
    }
    
    &--goup{
        width: 13px;
        height: 21px;
        background: url(../img/sprite/arrow.png#sprite);
    }
}