.nav-buttom{
    
    padding-left: 24px;
    
    &__item{        
        display: block;
        width: 100%;
        float: left;
        position: relative;
        
        &::before{
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            background: $color--gray;
            position: absolute;
            left: -18px;
            top: 50%;
            margin-top: -3px;
        }
        
        &:hover{
            &::before{
                background: $color--red;
            }
        }
        
    }
    
    
    &__link{
        display: block;
        color: $color--gray;
        text-decoration: none;
        text-transform: uppercase;
        font-size: em(14);
        line-height: 1.5;
        padding-top: 12px;
        padding-bottom: 12px;
        display: block;
        float: left;
        
        &:hover{
            color: $color--white;
        }
    }    
    
}