.tab{
    
    display: flex;
    
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    &__link{
        height: 55px;
        padding: 0 15px;
        
        line-height: 55px;
        color: $color--black;
        font-size: em(14);
        text-decoration: none;
        font-weight: 600;
        
        transition: all .3s ease;
        
        &:hover{
            background: $color--red;
            
            color: $color--white;
        }
    }
    
    &__content{
        width: 100%;
        display: none;
        overflow: hidden;
        transition: all .3s ease;
    }
    
}// tab