/**
 * Navigation styles
 */

.top-nav{
    display: flex;
    
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:last-child{
            .top-nav__link:after{
                display: none;
            }
        }
    }
    
    &__link{
        color: $color--black;
        font-size: em(14);
        text-decoration: none;
        padding: 15px 20px;
        position: relative;
        
        &:hover{
            color: $color--red;
        }
        
        &:after{
            content: '';
            display: block;
            width: 1px;
            height: 12px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: $color--line;
        }
        
        
    }
}// .top-nav

