/**
* Breakpoint sizes
*/

$q-320   : 320px;
$q-480   : 480px;
$q-600   : 600px;
$q-720   : 720px;
$q-768   : 768px;
$q-800   : 800px;
$q-996   : 996px;
$q-1024  : 1024px;
$q-1140  : 1140px;
$q-1200  : 1200px; 
$q-1250  : 1250px; 
$q-1440  : 1440px; 



/**
 * 1440px
 */
@include media-query($q-1440) {
   
    // container
    [class$="__container"]{
        max-width: $q-1200;
    }
    
    // slick slider
    .slick-prev{ left: 0; }    
    .slick-next{ right: 0; }
    
    
    .cascade-slider_thumbnail{
        width: 460px;
        height: 290px;
    }
    
    
}//end 1200px




/**
 * 1200px
 */
@include media-query($q-1200) {
        
    
    // container
    [class$="__container"]{
        max-width: $q-1140;
    }
    
    .cascade-slider_thumbnail{
        width: 420px;
        height: 250px;
    }
    
    
}//end 1200px




 
/**
 * 1250px
 */
@include media-query($q-1250) {
        
    
    .header{
        height: 160px;
    }
    
    //logo
    .logo{
        padding: 5px;
        
        &__ico{
            max-width: 80%;
        }
    }
    
    //top-nav{
    .top-nav{
        &__link{
            padding: 15px;
            font-size: em(12);
        }    
    }
    
    
    //tab
    .tab{
        &__link{
            padding: 0 10px;
            font-size: em(12);
        }
    }
    
    
    // main-nav
    .main-nav{
        height: 60px;
        &__link{
            padding: 8px;
            line-height: 1.5;
            font-size: em(12);
        }
    }
    
    
    //fixed buttons
    .callme{
        left: 30px;
        bottom: 30px;
    }
    
    .go-up{
        right: 30px;
        bottom: 30px;
    }
 
    
    // headings
    .heading{
        &--h1{
            font-size: em(35);
        }
        
        &--h2, &--med{
            font-size: em(25);
        }
        
        &--h3{
            margin-bottom: 30px;
        }
    }
    
    
    // slider
    .slider{
        &__container{
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    
    //rotator
    .rotator{
        padding-left: 55px;
            padding-right: 55px;
        &__slide{
            padding: 0;
        }
        
        &__img{
            max-width: 300px;
            transform: translateY(25%);
        }
    }
    
    
    //separator
    .separator{
        &__ico{
            margin: 30px auto;
        }
    }
    
    
    //jumbotron
    .jumbotron{
        &__left, &__right{
            padding: 40px 0;
        }
    }
    
    //work hero
    .works-hero{
        &__container{
            padding: 20px;
        }
    }
    
    
    //cascade slider
    .cascade-slider_arrow-left{ right: 0; }
    .cascade-slider_arrow-right{ left: 0; }
    
    
    //comment
    .comment{
        &__item{
            max-width: 30%;
        }
    }
    
    
    
    //gallery
    .gallery{
        display: flex;
        flex-wrap: wrap;
    }
    
    
    .footer{
        padding-bottom: 100px;
        
        &__column{
            &:first-child{
                padding-right: 0;
            }
            
            &:last-child{
                padding-left: 0;
            }
        }
    }
    
}//end 1200px








// ***** 1024px *****
@include media-query(1020px) {
  
    // container
    [class$="__container"]{
        max-width: $q-768;
        padding: 0 5px;
    }
    
    
    .cascade-slider_thumbnail{
        width: 400px;
        height: 250px;
    }
    
    
    //mobile menu
    .mobile-menu{
        display: block;
    }
    
    
    //header
    .header{
        display: none;
    }
    
    //main menu
    .main-nav, .sticky-wrapper{
        display: none;
    }
    
    
    //rotator
    .rotator{
        padding: 50px;
        
        .heading, .text{
            margin-bottom: 17px;
        }
        
        .text{
            height: 200px; 
            overflow: hidden;
        }
    }
    
    
    //slider
    .post-nav{
        margin-top: 52px;
    }
    
    // slick slider
    .slick-arrow{
        background: none;
    }
    
    .slick-dots{
        bottom: 10px;
    }
    
    
    // cascade slider
    .cascade-slider_arrow{
        
        background: rgba($color--black, .8);
        
        &::before{
            background: url(../img/sprite/arrow.png#sprite);
        }
    }
    
    .cascade-slider_arrow-left{
        transform: translateY(50%) rotate(180deg);
    }
    
    .cascade-slider_arrow-right{
        transform: translateY(50%);
    }
    
    
    //heading
    .heading{
        &--h1{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: em(25);
        }
        
        &--h3{
            font-size: em(20);
            margin-bottom: 10px;
        }
    }
    
    //button
    .button{
        width: 100%;
        padding: 15px 10px;
    }
    
    
    
    //work-hero
    .works-hero{
        &__container{
            padding: 10px;
        }
    }
    
    
    //promo
    .promo{
        &__tile{
            width: 50%;
            padding: 10px 10px 20px 10px;
        }
    }
    
    //gallery
    .gallery{
        &__show{
            width: 33.3%;
        } 
    }
   
    
    //separator
    .separator{
        &__btn{
            margin: 0;
            
            > .button{
                width: auto;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
    
    
    // offer
    .offer{
        margin-top: 25px;
        &__tile{
            width: calc(50% - 12px);
        }
    }
    
    
    //testimonials
    .testimonials{
        padding-bottom: 25px;
    }
    
    //comment
    .comment{
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
        
        flex-wrap: wrap;
        
        &__item{
            width: 100%;
            max-width: 100%;
            flex-direction: row;
            margin-bottom: 25px;
        }
    }
    
    
    //employers
    .employers-timeline{
        padding: 15px;
    }
    
    .employer{
        &__info{
            width: calc(100% - 88px);
        }
    }
    
    
    //jumbotron
    .jumbotron{
        flex-direction: column;
        &__left, &__right{
            width: 100%;
            
            [class$="__container"] {
                float: none;
                margin: 0 auto;
            }
        }
        
        &__right{            
            padding-top: 0;
            
            .jumbotron__container{
                padding-top: 40px;
                
                &::before{
                    top: 9px;
                    left: 50%;
                    transform: rotate(90deg) translateY(25%);
                }   
            }
        }
        
        
        .contact-form{
            width: 400px;
            margin: 25px auto;
        }
        
        &__container{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    
    //asistent
    .asistent{
        padding-bottom: 25px;
    }
    
    
    //footer
    .footer{
        &__container{
            padding-left: 15px;
            padding-right: 15px;
            flex-direction: column;
        }
        
        &__column{
            width: 100%;
            margin: 15px 0;
            
            &:nth-child(2){
                order: 3;
            }
        }
        
        &__heading{
            text-align: center !important;
        }
    }
    
    // nav buttom
    .nav-buttom{
        &__item{
            display: inline-block;
            width: 50%;
        }
    }
    
    //footer-nav
    .footer-nav{
        margin-top: 25px;
    }
    
    
}// end media query 1024px

















  


// ***** 996px *****
@include media-query($q-996) {
    
    
    .cascade-slider_thumbnail{
        width: 330px;
        height: 200px;
    }
    
   
}// end media query 996px














// ***** 768px *****
@include media-query($q-768) {
   
   
    
    
}// end media query 768px




// ***** 720px *****
@include media-query($q-720) {
    
    
    //cascadeslider
    .cascade-slider{
        
        &_slides{
            width: 100%;
            float: left;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        
        &_arrow{
            display: none;
        }
        
        &_item{
        
            width: 100%;
            float: left;
            margin-bottom: 25px;
            
            transform: none !important;
            opacity: 1 !important;
            z-index: 1 !important;
            
            top: auto !important;
            left: auto !important;
            
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
            
        }
        
        &_thumbnail{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
    }
    
    
    
    
   
     // container
    [class$="__container"]{
        max-width: $q-600;
        padding: 0 15px;
    }
    
    
    //rotator
    .rotator{
        
        .text{
            height: auto;
        }
        
        padding: 35px 0;
        display: block;
        min-height: auto;
        
        &__slide{
            
        }
        
        &__column{
            display: block;
            width: 100%;
            text-align: center;
            &--img{
                display: none;
            }
        }
    }
    
    //slick-sslider
    .slick-arrow{
        display: none !important;
    }
    
    
    // heading
    .heading{
        word-break: break-word;
        &--h1{
            font-size: em(18);
        }
        
        &--h2{
            font-size: em(18);
            margin-bottom: 10px;
        }
        
        &--h3{
            font-size: em(18);
        }
        
        &--med{
            font-size: em(18);
            margin-bottom: 10px;
        }
    }
    
    //text
    .text{
        font-size: em(14);
        overflow: visible;
    }
    
    
    
    //promo
    .promo{
        display: block;
        float: left;
        
        &__tile{
            width: 100%;
        }
        
        &__tile{
            font-size: em(16);
        }
    }
    
    
    //work-gallery
    .work-gallery{
        margin-top: 25px;
        display: block;
    }
    
    //work hero
    .works-hero{
        display: block;
        width: 100%;
        float: left;
        padding: 25px 0;
        
        &__text{
            margin-bottom: 15px;
        }
    }
    
    
    //gallery
    .gallery{
        display: block;
        width: 100%;
        float: left;
        
        &__show{
            width: 50%;
        }
    }
    
    
    //offer
    .offer{
        display: block;
        width: 100%;
        float: left;
        
        &__tile{
            width: 100%;
            margin: 5px 0;
        }
    }
    
    
    
    //comment
    .comment{
        display: block;
        width: 100%;
        
        &__item{
            display: block;
            width: 100%;
            float: left;
        }
    }
    
    
    
    
    //separator
    .separator{
        padding-left: 15px;
        padding-right: 15px;
        &__btn{            
            
            > .button{
                text-align: center;
                width: 100%;
            }
        }
    }
    
    
    //employers-timeline
    .employers-timeline{
        padding: 0;
    }
    
    //employer
    .employer{
        display: block;
        
        text-align: center !important;
        
        &::after{
            display: none;
        }  
        
        &__thumbnail{
            display: block;
            margin: 0 auto;
            border: none;
            width: 100%;
            float: left;
        }
        
        &__avatar{
            margin: 0 auto;
            display: block;
            float: none;
        }
        
        &__info{
            width: 100%;
            padding: 20px 0;
        }
        
    }
    
    
    //jumbotron
    .jumbotron{
        .contact-form{
            width: 100%;
        }
    }
    
    
    //asistent
    .asistent{
        display: block;
        width: 100%;
        float: left;
        text-align: center;
    }
    
    //contact-form
    .contact-form{
        width: 100%;
    }
    
    
    //footer
    .footer{
        padding-top: 25px;
        
        &__column{
            width: 100%;
            float: left;
            display: block;
            text-align: center;
            padding: 0 !important;
        }
        
         .header{
            &__social{
                text-align: center;
                width: 100%;
            }
        }
    }
    
    
    
    //social
    .social{
        display: inline-block;
        text-align: center;
        line-height: 42px;
        float: none;
        
        .icon{
            display: inline-block;
        }
    }
    
    //copyright
    .copyright{
        display: block;
        width: 100%;
        text-align: center;
        
        &__text{
            margin-bottom: 25px;
            line-height: 1.5;
        }
    }
    
    
    
    //footer
    .footer{
        &__column{
            &:nth-child(1), &:nth-child(2){
                display: none;
            }
        }
    }
    
    
    //footer-nav
    .footer-nav{
        display: block;
        width: 100%;
        float: left;
        display: none;
        
        &__link{
            display: inline-block;
        }
    }
   
    //nav bottom
    
    .nav-buttom{
        &__item{
            width: 100%;
            text-align: center;
        }
    }
    
    
}// end media query 720px




// ***** 640px *****
@include media-query(640px) {
    
    
    
}//end 640













// ***** 600px *****
@include media-query($q-600) {    
    
    
        
}// end media query 600px
















// ***** 480px *****
@include media-query($q-480) {    
   
    
    
}// end media query 480px




















// ***** 320px *****
@include media-query($q-320) {
    
    // mobile last
    
} // end media query 320px


































