.sidebar{
    background-color: var(--main-bg, #261c46);
    max-height: 100vh;
    overflow: auto;
    
    &::-webkit-scrollbar{
        display: none;
    }
    
}

.conversations{
    float: left;
    width: 100%;
}