// ***** city skyline animation svg *****
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawLine {
  to { stroke-dashOffset: 0; }
}

@keyframes fadeStroke {
  to { stroke-opacity: 1; }
}

@keyframes fillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}


@keyframes eq1 {
  from { height: 2px; }
  to { height: 22px; }
}

@keyframes eq2 {
  from { height: 2px; }
  to { height: 15px; }
}

@keyframes eq3 {
  from { height: 2px; }
  to { height: 35px; }
}

@keyframes eq4 {
  from { height: 2px; }
  to { height: 22px; }
}

@keyframes eq5 {
  from { height: 2px; }
  to { height: 18px; }
}




@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}


@keyframes animatebottom {
    from {top: 0; opacity: 1}
    to {top: -300px; opacity: 0}
}


@keyframes slideSize {
    to {width: 110%;}
}




