// ***** 320px *****
@media only screen and (min-width : $mobile) {
    
    // mobile first
} // end media query 320px






// ***** 480px *****
@media only screen and (min-width : $mobile--lg) {    
    
    .logo{
        width: 371px;
        height: 90px;
        
        &--inner{
            width: 60%;
        }
        
    }// .logo
    
    .lang{
        &__link{
            margin: 0 25px;
            width: 60px;
            height: 60px;
            line-height: 56px;
        }
    }// .lang
    
    .intro-header{
        padding: 60px;
    }// .intro-header
    
    .intro-footer{
        padding: 60px;
    }// .intro-footer
    
    
    .skyline{
        &__path{
            stroke-width: 0.5;
        }
    }// .skyline
    
    
    .aside{
        padding: 17px 17px 34px 17px;
        width: 70px;
    }
    
    .lang-dropdown{
        display: block;
    }
    
     .content{
        width: calc(100% - 70px);
    }
    
    
        
}// end media query 480px








// ***** 768px *****
@media only screen and (min-width : $tablet) {
    
    .aside{
        
        &__copyright{
            margin-bottom: 15px;
        }
    }
    
    
    .top-nav{
        padding: 15px 45px 45px;
    
        display: flex;
        justify-content: flex-end;
    }//.top nav
    
    .container{
        padding: 40px;
        
         &__inner{
            width: calc(50% - 10px);
            float: left;
            margin-right: 10px;
        
        }
    } //.container
    
    
    .row{
        .container__inner:nth-child(even){
            margin-right: 0;
            margin-left: 10px;
        }
    }
    
    
    .img{
        width: auto;
        max-width: 100%;
        
        &--lg{
            width: 100%;
        }
        
    }
    
    .modal{
        &__content{
            margin: 10% auto;
        }
        
        &__close{
            top: auto;
            top: -70px;
        }
    }
    
    
    .social{
        margin: 0 30px;
    }
    
    
}// end media query 768px








// ***** 996px *****
@media only screen and (min-width : $desktop--sm) {

    .animated-logo{
        width: 30%;
    }
    
   
}// end media query 996px


// ***** 1200px *****
@media only screen and (min-width : $desktop--lg) {
    
    .content{
        width: calc(100% - 280px);
    }
    
    
    .canvas-menu--open{
    
        .aside{
            width: 280px;
        }
    }
    
    .logo{
        
        &--inner{
            width: 100%;
        }
        
    }// .logo
    
    .offcanvas-toggle{
        display: none;
    }
    
    .aside{
        padding: 5px 42px 25px 42px;
        width: 280px;
        height: 100%;
        
        &__inner{
            transform: scale(1);
        }
    }
    
    
}// end media query 1200px




