// ***** themes *****


// $primary
.color-theme--1{
    
    .intro{
        background-color: $primary;
    }
    
    .aside{
         background-color: $primary;
    }
    
    .equalizer{    
        &__bar{
            background-color: $primary;
        }
        &:after{
            border-left: 20px solid $primary;
        }
    }
    
    .social{
        &__link{
            &:hover{
                background-color: $primary;
            }
        }
    }
    
    .lang-dropdown{
        &__select{
            &:hover{
                color: $primary;
            }
        }
    }
   
    
    
    .nicescroll-cursors{
        background-color: $primary !important;
    }
    
    .badge{
        background-color: $primary;
    }
    
    .contact-form{ 
        
        &__submit{
            background-color: $primary;
        }
        
    }
    
    .link{
        color: $primary;
    }
    
    
    .modal{
        &__close{
            color: $primary;
        }
    }
    
    .video{
        &__play{
            border-left-color: $primary;
        }
    }
    
    
    .heading, .paragraph{
        color: $primary;
    }
    
    
    
    .animated-logo{
        &__p{
            stroke: $primary;
        }
    }
    
    .next{
        &:hover{
            background-color: $primary;
        }
    }
    
} // .color-theme--1






// $black
.color-theme--2{
    
    .intro{
        background-color: $black;
    }
    
    .aside{
         background-color: $black;
    }
    
    .equalizer{    
        &__bar{
            background-color: $black;
        }
        &:after{
            border-left: 20px solid $black;
        }
    }
    
    .social{
        &__link{
            &:hover{
                background-color: $black;
            }
        }
    }
    
    .lang-dropdown{
        &__select{
            &:hover{
                color: $black;
            }
        }
    }
  
    
    .nicescroll-cursors{
        background-color: $black !important;
    }
    
    .badge{
        background-color: $black;
    }
    
    .contact-form{ 
        
        &__submit{
            background-color: $black;
        }
        
    }
    
    .link{
        color: $black;
    }
    
    .modal{
        &__close{
            color: $black;
        }
    }
    
    .video{
        &__play{
            border-left-color: $black;
        }
    }
    
    .heading, .paragraph{
        color: #333;
    }
    
    .animated-logo{
        &__p{
            stroke: $black;
        }
    }
    
    .next{
        &:hover{
            background-color: $black;
        }
    }
    
} // .color-theme--2






// $brick
.color-theme--3{
    
    .intro{
        background-color: $brick;
    }
    
    .aside{
         background-color: $brick;
    }
    
    .equalizer{    
        &__bar{
            background-color: $brick;
        }
        &:after{
            border-left: 20px solid $brick;
        }
    }
    
    .social{
        &__link{
            &:hover{
                background-color: $brick;
            }
        }
    }
    
    .lang-dropdown{
        &__select{
            &:hover{
                color: $brick;
            }
        }
    }
    
   
    
    .nicescroll-cursors{
        background-color: $brick !important;
    }
    
    .badge{
        background-color: $brick;
    }
    
    .contact-form{ 
        
        &__submit{
            background-color: $brick;
        }
        
    }
    
    .link{
        color: $brick;
    }
    
    .modal{
        &__close{
            color: $brick;
        }
    }
    
    .video{
        &__play{
            border-left-color: $brick;
        }
    }
    
    .heading, .paragraph{
        color: $brick;
    }
    
    .animated-logo{
        &__p{
            stroke: $brick;
        }
    }
    
    .next{
        &:hover{
            background-color: $brick;
        }
    }
    
} // .color-theme--3




