
[class^="socicon-"]:before,
[class*=" socicon-"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.socicon-facebook:before {
  content: "\e041"; 
}

.socicon-instagram:before {
  content: "\e057"; 
}

.socicon-youtube:before {
  content: "\e051";
}

.socicon-linkedin:before {
  content: "\e049"; 
} 


.heading{
     font-size: em(20);
     font-weight: 500;
     margin-bottom: 20px;
     margin-top: 10px;
     line-height: 1.4;
     color: #333;
     
     &--sm{
        font-size: em(18);
         margin-bottom: 10px;
         margin-top: 5px;         
     }
}
    
.paragraph{
    font-size: em(16);
    margin-bottom: 13px;
    margin-top: 13px;
    line-height: 1.4;
    color: #333;
}
    
.img{     
     width: 100%;
     margin-bottom: 13px;
}


.badge{
    width: auto;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 5px;
    
    color: $content--dark;
    font-size: em(14);
    line-height: 1;
}


.link{
    text-decoration: none;
    color: transparent;
    
    &:hover{
        text-decoration: underline;
    }
}