// ***** color variables *****

$primary         : #636d8e;
$primary--light  : #8390b4;
$white           : #fff;
$black           : #000;
$content         : #dbdde3;
$content--dark   : #cdced4;
$brick           : #C0392B;
$gray            : #2C3E50;
$modal           : #fefefe;

// ***** resolution breakpoints *****
$desktop--lg : 1200px;
$desktop     : 1024px;
$desktop--sm : 996px;
$tablet      : 768px;
$mobile--lg  : 480px;
$mobile      : 320px;

