/*******************************************************************************
***
***   Dear friend :
***   When I wrote this code, only I and God knew what it was.
***
***   But now only God knows what is here ! 
***   
***   So, if you done trying to 'optimize' this code,
***   please include this comment as a warning for the next guy who also will  
***   trying to do this.
***
***   Author : denys.ark@gmail.com
***
********************************************************************************/


@import 'functions';
@import 'reset';
@import 'variables';
@import 'fonts';
@import 'animation';
@import 'themes';
@import 'typography';
@import 'form';
@import 'modal';
@import 'fancybox';


body,html{     
    user-select: none;
    user-drag: none;
}

img{
    pointer-events: none;
}

// ***** body *****
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


// ***** wrapper *****
.wrapper{    
    width: 100%;
    
    &:before {
        content: '';
        display: table;
    }
    
    &:after{
        content: '';
        display: table;
        clear: both;
    }    
}// .wrapper




// ***** logo *****
.logo{
    display: block;
    width: 70%;
    height: 90px;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
    float: left;
    
    //-webkit-mask: -webkit-gradient(radial, 17 17, 123, 17 17, 138, from(rgb(0, 0, 0)), color-stop(0.5, rgba(0, 0, 0, 0.2)), to(rgb(0, 0, 0)));
    
    &--inner{
        float: right;
        width: 50%;
        margin: 30px auto 0 auto;
        padding-top: 50px;
        background-position: center center;
    }
    
    &:before {
        content: '';
        display: table;
    }
    
    &:after{
        content: '';
        display: table;
        clear: both;
    } 
    
}// .logo



// ***** color-switch *****
.color-switch{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid $white;
    float: right;
    margin-left: 30px;
    
    background-color: transparent;
    transition: background-color .3s ease-in;
    
    &:focus{
        outline: none;
    }
    
    &[data-color='2']{
        background-color: $brick;
    }
    
    &[data-color='1']{
        background-color: $black;
    }
    
    &[data-color='3']{
       background-color: $primary;
    }
    
}// .color-switch



// ***** lang *****
.lang{
    
    &__item{
        display: inline-block;
    }
    
    &__link{
        display: block;
        width: 40px;
        height: 40px;
        border: 2px solid $white;
        border-radius: 100%;
        margin: 0 5px;
        
        line-height: 36px;
        color: $white;
        text-transform: uppercase;
        font-size: em(16);
        text-decoration: none;
        
        &:hover, &--active{
            background-color: rgba($white, .3);
        }
    }
    
    
}// .lang




// ****** intro ******
.intro{
    min-height: 100vh;
    transition: background-color .3s ease-in;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}// .intro


// ***** intro-header *****
.intro-header{
    width: 100%;
    float: left;
    padding: 20px;
    
}// .intro-header


// ***** skyline *****
.skyline{
    width: 100%;
    float: left;
    position: relative;
    
    &__city{
        max-width: 100%;
        max-height: 450px;
        
        &--back{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        
        &--front{
            position: relative;
            z-index: 2; 
        }
    }
    
    &__path{
        stroke: $white;
        stroke-width: 1;
        transition: opacity 1s;
        &--front{            
            opacity: 0;
        }
        &--back{
            opacity: .3;
        }
        
        &--animated{
            animation-name: draw;
            animation-duration: 10s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite; 
            animation-timing-function: linear; 
        }
    }
    
}// .skyline

// ***** intro-footer *****
.intro-footer{
    width: 100%;
    float: left;
    padding: 20px;
    
    text-align: center;
}// .intro-footer






//***** content *****
.content{
    background-color: $content;
    float: right;
    width: calc(100% - 50px);
    min-height: 100vh;
    height: 100%;
    position: relative;
    
    transition: width .3s ease-in;
    
    &--sm{
        min-height: auto;
    }
        
    &:before {
        content: '';
        display: table;
    }
    
    &:after{
        content: '';
        display: table;
        clear: both;
    }  
}// .content


// ***** top-nav *****
.top-nav{
    width: 100%;
    padding: 15px 15px 45px 15px;
    display: block;
    position: relative;
    z-index: 4;
    
    &:before {
        content: '';
        display: table;
    }
    
    &:after{
        content: '';
        display: table;
        clear: both;
    }  
    
}// .top-nav



// ***** social *****
.social{
    width: auto;
    float: right;
    margin: 0 5px;
    
    &__item{
        display: inline-block;
        margin: 0 4px;
    }
    
    &__link{
        display: block;
        width: 36px;
        height: 36px;        
        line-height: 36px;
        border: 1px solid $white;
        border-radius: 100%;
        
        transition: background-color 0.3s ease-out;
        
        color: $white;
        text-align: center;
        text-decoration: none;
    }
    
    .socicon-facebook{
        background-image: url(../img/sprite/facebook.png#social);
        background-position: center center;
    }
    
    .socicon-linkedin{
        background-image: url(../img/sprite/linkedin.png#social);
        background-position: center center; 
    } 
    
    .socicon-instagram{
        background-image: url(../img/sprite/instagram.png#social);
        background-position: center center;
    }
    
    .socicon-youtube{
        background-image: url(../img/sprite/youtube.png#social);
        background-position: center center;
    }
    
}// .social

// ***** lang *****
.lang-dropdown{
    width: auto;
    float: right;
    position: relative;
    margin: 0 5px;
    display: none;
    
    &__current{
        display: block;
        background: none;
        border: none;
        height: 35px;
        padding: 0;
        position: relative;
        
        text-transform: uppercase;
        color: $white;
        font-size: em(14);
        line-height: 35px;
        
        &:focus{
            outline: none;
            
        }
        
        &:after{
             content: '';
             display: block;
             width: 0; 
             height: 0; 
             border-left: 6px solid transparent;
             border-right: 6px solid transparent;
             border-top: 6px solid $white;         
             float: right;
             margin: 13.5px 8px;
            
             transition: transform 0.3s ease-out;
        }
        
        
    }
    
    
    &__content{
        position: absolute;
        width: 100%;
        height: 0px;
        overflow: hidden;
        
        transition: height 0.3s ease-out;
    }
    
    &__select{
        width: 100%;
        display: block;
        padding: 8px 0;
        
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
        font-size: em(14);
        color: $white;
    }
    
    &:hover &__content, &:focus &__content{
        height: auto;
    }
    
    &:hover &__current:after, &:focus &__current:after{
        transform: rotate(180deg);
    }

    
}// .lang





// ***** equalizer ******
.equalizer{
    overflow: hidden;
    height: 35px;
    width: 35px;
    position: relative;
    float: right;
    
    &__bar{
        height: 2px;
        width: 3px;
        margin: 0 2px;
        display: inline-block;
        position: absolute;
        bottom: 0;
        
        transition: height .6s linear;
        
        animation: none;
        animation-name: none;
        
        &:nth-child(1){
            left: 0;
            animation-name: eq1;
            animation-delay: 0ms;
            height: 10px;
        }
        
         &:nth-child(2){
            left: 7px;
            animation-name: eq2;
            animation-delay: 300ms;
             height: 15px;
        }
        
         &:nth-child(3){
            left: 14px;
            animation-name: eq3;
            animation-delay: 600ms;
             height: 25px;
        }
        
         &:nth-child(4){
            left: 21px;
            animation-name: eq4;
            animation-delay: 900ms;
             height: 15px;
        }
        
         &:nth-child(5){
            left: 28px;
            animation-name: eq5;
            animation-delay: 1200ms;
             height: 10px;
        }
        
        
    } //.bar
   
    
    
    &--play{
        .equalizer__bar{
            animation-duration: 500ms;
            animation-play-state: running;
            animation-direction: alternate;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        
    }
    
}// .equalizer



// ***** main-nav *****
.main-nav{    
    width: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px; 
    
    &__link{
        display: block;
        width: 100%;
        padding: 10px 0 25px 0;
        position: relative;
        
        text-align: center;
        font-size: em(14);
        color: $white;
        text-decoration: none;
        letter-spacing: 1px;
        
        transition: letter-spacing 0.3s ease-out;
        
        &:hover{
            letter-spacing: 3px;
        }
        
        &:after{
            content: '';
            display: block;
            width: 100%;
            height: 15px;
            background: url(../img/under-nav.png) no-repeat;
            background-position: center center;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    
     &__item{
        &:last-child .main-nav__link{
            &:after{
                content: none;
            }
        }
    }
    
}// .main-nav



// ***** offcanvas-toggle *****
.offcanvas-toggle{ 
    display: block;
    margin: 0 auto;
    padding: 0;    
    background: none;
   border: none;
    
    float: left;
    
    &:focus{
        outline: none;
    }
    
     &:before {
        content: '';
        display: table;
    }
    
    &:after{
        content: '';
        display: table;
        clear: both;
    } 
    
    &__border{
        border: 1px solid $white;
        padding: 4px;
        width: 36px;
        height: 36px;
        
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: space-around;
    }
    
    &__line{
        display: block;
        width: 100%;
        height: 1px;
        opacity: 1;
        background-color: $white;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out, background-color .3s ease-in, transform-origin .3s ease-in;
        
            &:nth-child(1){
                width: 70%;
            }
            
            &:nth-child(2){
                width: 100%;
            }
            
            &:nth-child(3){
                width: 70%;
            }
    }
    
}// .offcanvas-toggle



// ***** aside *****
.aside{
    width: 50px;
    min-height: 100vh;
    height: auto;   
    float: left;
    padding: 7px;
    transition: background-color .3s ease-in, transform .3s ease-in, width .5s linear;    
    position: fixed;
    top:0;
    left: 0;
    overflow-y: auto;
    z-index: 5;
    display: flex;
    flex: 1;
    flex-direction: column;
    
    
    &:before {
        content: '';
        display: table;
    }
    
    &:after{
        content: '';
        display: table;
        clear: both;
    } 
    
    
    &__inner{
        width: 100%;
        height: 100%;
        float: left;
        z-index: 5;
        position: relative;
        
        display: flex;
        flex-direction: column;        
        flex: 1;
        justify-content: space-between;
        
        transition: transform .4s linear;
        transform: translate(-300%);
    }
    
    &__copyright{
        width: 100%;
        float: left;
        margin-bottom: 25px;
        
        text-align: center;
        font-size: em(12);
        color: $content--dark;
 
    }
    
}// .aside


//***** canvas-menu--open *****
.canvas-menu--open{
    
    .aside{
       width: 100%;
        height: 100%;
        
        
        &__inner{
            transform: translate(0);
        }
        
    }
    
    .offcanvas-toggle{ 
        
        &__border{           
            align-items: initial;
        }
        
        &__line{
            &:nth-child(1){
                transform: rotate(45deg);
                transform-origin: 10% 10%;
                width: 120%;
            }
            
            &:nth-child(2){
                opacity: 0;
            }
            
            &:nth-child(3){
                transform: rotate(-45deg);
                transform-origin: 10% 90%;
                width: 120%;
            }
        }
    }
    
    
}// .canvas-menu--open


// ***** next *****
.next{    
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    border: 1px solid $white;
    bottom: 15px;
    left: 50%;
    transform: translate(-20px);
    border-radius: 50%;
    overflow: hidden;
    z-index: 4;
    transition: background-color .2s linear;
    
    &:before{
        content: "";
        position: absolute;
        display: block;
        height: 43px;
        width: 1px;
        right: 0;
        bottom: -3px;
        background: $white;
        transform: rotate(27deg);
        transform-origin: 0 0;
    }
    
    &:after{
        position: absolute;
        content: "";
        display: block;
        width: 43px;
        height: 1px;
        left: 1px;
        top: 0;
        background: $white;
        transform: rotate(63deg);
        transform-origin: 0 0;
    }
    
    
}// .next


// ***** container *****
.container{
    padding: 15px;
    width: 100%;
    max-width: 900px;
    z-index: 2;
    position: relative;
    
    &--lg{
        max-width: 100%;
    }
    
    &:before {
        content: '';
        display: table;
    }
    
    &:after{
        content: '';
        display: table;
        clear: both;
    } 
    
    &__inner{
        width: 100%;
        
         > .heading , > .paragraph{
            margin-top: 0;
        }
        
        &:before {
            content: '';
            display: table;
        }

        &:after{
            content: '';
            display: table;
            clear: both;
        } 
        
        &--pad{
            padding-bottom: 30px;
        }
        
    }
    
} //.container



// ***** row *****
.row{
    
    width: 100%;
    float: left;
    
    &:before {
        content: '';
        display: table;
    }
    
    &:after{
        content: '';
        display: table;
        clear: both;
    }
    
}// .row


// ***** map *****
.map{
    margin-bottom: 25px;
}//. map



// ***** video *****
.video{
    margin-bottom: 13px;
    display: block;
    position: relative;
    
    > .img{
        margin-bottom: 0;
    }
    
    &__play{
        display: block;
        width: 0; 
        height: 0; 
        border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;        
        border-left: 35px solid transparent;
        cursor: default;
        
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -21px;
        margin-top: -17.5px;
        
        transition: border-left-color .2s ease-out;
        
        &:hover{
            border-left-color: $white;
        }
        
    }
    
}//. video



// ***** animated-logo *****
.animated-logo{
    
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    
    &__p{
        fill-opacity: 0;
        stroke-dashArray: 1100;
        stroke-dashoffset: 1100; 
        
        fill: $white;
        stroke: $primary;
        stroke-miterlimit: 5;
        stroke-width: 1;
        
    }
    
    &__t{
        
        fill-opacity: 0;
        stroke-dashArray: 1100;
        stroke-dashoffset: 1100;
        stroke-width: 2;
        
        fill: $white;
        stroke: $white;
        stroke-miterlimit: 5;
        
    }
    
     &--shown{
        
        .animated-logo__p{
            animation-name: drawLine, fillIn;
            animation-duration: 4s, 2s;
            animation-timing-function: ease-in-out;
            animation-delay: 1s, 4s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite, 1;
            animation-direction: alternate, normal;
        }
        
        .animated-logo__t{
            animation-name: drawLine, fillIn;
            animation-duration: 4s, 2s;
            animation-timing-function: ease-in-out;
            animation-delay: 3s, 4.5s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
        }
        
    }
    
}// .animated-logo


// ***** slide *****

.slide{    
    width: 100%;
    height: 100vh;
    overflow: hidden;    
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-clip: content-box;
    
    transition: background-image 1s linear;
    
    position: absolute;
    top:0;
    right: 0;
    
    &__preload{
        width: 0;
        height: 0;
        opacity: 0;
    }
    
}// .slide




// ***** video-wrap *****
.video-wrap{
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    
    .video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
}// .video-wrap


// ***** .inner-video *****
.video-inner{
    width: 100%;
    min-height: 100vh;
    
    object-fit: contain;
    
    overflow: hidden;
    display: block;
    
    position: absolute;
    top: 0;
    right: 0;
    
}


#bgAnimation{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    z-index: 1;
    opacity: .5;
    background: transparent;
}

@import 'media-queries';