/**
* Breakpoint sizes
*/

$q-320   : 320px;
$q-480   : 480px;
$q-600   : 600px;
$q-768   : 768px;
$q-800   : 800px;
$q-996   : 996px;
$q-1024  : 1024px;
$q-1200  : 1200px;  

// ***** 996px *****  
@include media-query($q-996) {

    .nav.shown{    
        display: block !important;
        width: 100%;
        position: absolute;
        left: 0;
        top: 55px;
        background: $color__nav;
        z-index: 10;

        .aside-nav-header, .nav__items, .nav__link, .search-form{
            width: 100%;
            float: left;
            margin: 0;
        }

        .nav__link{
            &:after{
                display: none;
            }
        }

        .search-form{
            border: 1px solid $color__nav;
        }

        .aside-nav-header{
            background: none;

            &__hamb{  
                
                transition: all .2s linear;
                
                .hamburger__line{
                    width: 12px;

                   &:nth-child(2){
                        display: none;
                   } 

                    &:nth-child(1){
                        transform: rotate(45deg);
                        transform-origin: 5px 0px;
                   }

                    &:nth-child(3){
                        transform: rotate(-45deg);
                        transform-origin: 5px -10px;
                   }
                }            
            }

            &__text{
                text-shadow: none;
                font-size: em(14);
                font-weight: normal;
            }
        }


    }//end nav open

}// end media query


.js-map{
    &.focused{
        > iframe{
             pointer-events: all;
        }
    }
}


.tab{
    
    &__switch{
        &.active{
            border-top-color: $color__orange;
            border-bottom-color: $color__white;
        }
    }
    
    &__content{
        &.current{
            display: block;
        }
    }
    
}//end tab




.app-tab{
    &__switch{
        &.active{
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            
            &::after{
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 14px 23px 0 23px;
                border-color: $color__orange transparent transparent transparent;
                position: absolute;
                left: 50%;
                bottom: -29px;
                transform: translateX(-50%);
            }
            
        }
    }
}




.app-tab__slide{
    &.current{
        display: block;
    }    
}





