// ***** resolution breakpoints *****

$desktop:		960px;
$tablet:		768px;
$mobile-lg:		480px;
$mobile:		320px;

// ***** colors *****
$gray-primary: 		#242424;
$gray-secondary:    #2e2e2e;
$gray-light: 		#adadad;
$gray-xlight: 		#dfdbd4;
$gray-line: 		#bcb5a7;
$green: 			#57c5a0;
$orange: 			#f27e4b;
$background: 		#ebe7df;
