.chat-info{
    display: block;
    float: left;
    width: 100%;
    margin: 25px 0;
    display: flex;
    align-items: center;
    
    > .icon{
        margin: 0 10px;
    }
    
    color: var(--font-secondary, #8b8da9);
    font-size: 14px;
    
    &--center{
        text-align: center;
        justify-content: center;
    }
}
