/* line 22, ../sass/_settings.scss */
.container {
  min-width: 480px !important;
  padding-left: 0;
  padding-right: 0; }

/* line 29, ../sass/_settings.scss */
body {
  background-color: #fff; }

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/oswald/oswald.regular.eot");
  src: url("../fonts/oswald/oswald.regular.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald/oswald.regular.woff") format("woff"), url("../fonts/oswald/oswald.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/oswald/oswald.bold.eot");
  src: url("../fonts/oswald/oswald.bold.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald/oswald.bold.woff") format("woff"), url("../fonts/oswald/oswald.bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/oswald/oswald.light.eot");
  src: url("../fonts/oswald/oswald.light.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald/oswald.light.woff") format("woff"), url("../fonts/oswald/oswald.light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* line 64, ../sass/_settings.scss */
.garciniaBtn {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjMDAzZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlMDEzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fc003f), color-stop(100%, #be0131));
  background-image: -moz-linear-gradient(top, #fc003f, #be0131);
  background-image: -webkit-linear-gradient(top, #fc003f, #be0131);
  background-image: linear-gradient(to bottom, #fc003f, #be0131); }
/* line 73, ../sass/_settings.scss */
.garciniaBtn:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjMDAzZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlMDEzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fc003f), color-stop(100%, #be0131));
  background-image: -moz-linear-gradient(bottom, #fc003f, #be0131);
  background-image: -webkit-linear-gradient(bottom, #fc003f, #be0131);
  background-image: linear-gradient(to top, #fc003f, #be0131);
  color: #fff; }

/* line 104, social-desktop/*.png */
.social-desktop-sprite, .social-desktop-facebook, .social-desktop-pinterest, .social-desktop-rss, .social-desktop-twitter {
  background-image: url('../img/social-desktop-s61ad9f10f3.png');
  background-repeat: no-repeat; }

/* line 84, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-desktop-facebook {
  background-position: 0 0; }
/* line 59, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-desktop-facebook:hover, .social-desktop-facebook.facebook-hover {
  background-position: 0 -38px; }

/* line 84, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-desktop-pinterest {
  background-position: 0 -76px; }
/* line 59, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-desktop-pinterest:hover, .social-desktop-pinterest.pinterest-hover {
  background-position: 0 -114px; }

/* line 84, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-desktop-rss {
  background-position: 0 -152px; }
/* line 59, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-desktop-rss:hover, .social-desktop-rss.rss-hover {
  background-position: 0 -190px; }

/* line 84, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-desktop-twitter {
  background-position: 0 -228px; }
/* line 59, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-desktop-twitter:hover, .social-desktop-twitter.twitter-hover {
  background-position: 0 -266px; }

/*@media all and (min-width: $large-tablets) {}*/
@media (min-width: 768px) {
  /* line 9, ../sass/desktop.scss */
  .container {
    width: 1080px; } }
/* line 14, ../sass/desktop.scss */
.descktopp-nav {
  height: 58px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ExYTFhMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcxNzA3MCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #a1a1a1), color-stop(100%, #717070));
  background-image: -moz-linear-gradient(bottom, #a1a1a1, #717070);
  background-image: -webkit-linear-gradient(bottom, #a1a1a1, #717070);
  background-image: linear-gradient(to top, #a1a1a1, #717070);
  min-width: 1080px; }
/* line 18, ../sass/desktop.scss */
.descktopp-nav ul {
  display: block;
  height: 58px;
  margin-bottom: 0; }
/* line 22, ../sass/desktop.scss */
.descktopp-nav ul li {
  list-style: none;
  display: block;
  float: left;
  width: 12.5%;
  text-align: center; }
/* line 29, ../sass/desktop.scss */
.descktopp-nav ul li a {
  color: #fff;
  display: block;
  width: 100%;
  height: 58px;
  text-decoration: none;
  font: 16px 'Oswald', Arial, sans-serif;
  font-weight: bold;
  line-height: 4;
  text-transform: uppercase; }
/* line 39, ../sass/desktop.scss */
.descktopp-nav ul li a:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjMDAzZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlMDEzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fc003f), color-stop(100%, #be0131));
  background-image: -moz-linear-gradient(bottom, #fc003f, #be0131);
  background-image: -webkit-linear-gradient(bottom, #fc003f, #be0131);
  background-image: linear-gradient(to top, #fc003f, #be0131); }
/* line 46, ../sass/desktop.scss */
.descktopp-nav:after {
  content: " ";
  display: block;
  height: 8px;
  width: 100%;
  background-color: #fc003f; }

/* line 57, ../sass/desktop.scss */
header .mobile-women-healt {
  display: block;
  float: left;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../img/m-skinanddietlogo.png?1436172536');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 377px;
  height: 75px; }
/* line 63, ../sass/desktop.scss */
header .header-pp-terms {
  margin-top: 30px; }
/* line 65, ../sass/desktop.scss */
header .header-pp-terms a {
  font: 12px 'Arial', sans-serif;
  color: #1e00ff;
  text-decoration: none; }
/* line 69, ../sass/desktop.scss */
header .header-pp-terms a:nth-child(1) {
  padding-right: 50px; }
/* line 72, ../sass/desktop.scss */
header .header-pp-terms a:hover {
  text-decoration: underline; }

/* line 81, ../sass/desktop.scss */
.top-wrapper {
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  height: 40px;
  border: 1px solid #898989; }
/* line 88, ../sass/desktop.scss */
.top-wrapper .top-row {
  line-height: 2.5; }
/* line 92, ../sass/desktop.scss */
.top-wrapper .top-row .sep-r {
  float: left;
  border-right: 1px solid #898989;
  height: 39px;
  padding: 10px 15px 0 0;
  font: 14px 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
  color: #e50000; }
/* line 102, ../sass/desktop.scss */
.top-wrapper .top-row .se-r-after b {
  font: normal 14px 'Arial', sans-serif;
  padding-left: 12px;
  padding-right: 12px;
  color: #000; }
/* line 109, ../sass/desktop.scss */
.top-wrapper .top-row .se-r-after span {
  font: normal 14px 'Arial', sans-serif;
  color: #5f5e5e; }
/* line 117, ../sass/desktop.scss */
.top-wrapper .search-form {
  padding-right: 0;
  padding-left: 0; }
/* line 120, ../sass/desktop.scss */
.top-wrapper .search-form .form-control {
  height: 38px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #898989; }
/* line 129, ../sass/desktop.scss */
.top-wrapper .search-form .btn-default {
  height: 38px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: 1px solid #898989; }
/* line 139, ../sass/desktop.scss */
.top-wrapper .social-links {
  padding-right: 0; }
/* line 141, ../sass/desktop.scss */
.top-wrapper .social-links .btn-group {
  float: right !important; }
/* line 144, ../sass/desktop.scss */
.top-wrapper .social-links .btn {
  height: 38px;
  width: 38px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #fff;
  border: none; }

/* line 157, ../sass/desktop.scss */
.special-report {
  font: 30px 'Oswald',Arial, sans-serif; }
/* line 159, ../sass/desktop.scss */
.special-report h3 {
  color: #000;
  font-weight: bold; }
/* line 162, ../sass/desktop.scss */
.special-report h3 span {
  color: #e50000;
  text-decoration: underline; }
/* line 168, ../sass/desktop.scss */
.special-report br {
  display: none; }

/* line 174, ../sass/desktop.scss */
.note {
  text-align: left;
  background: #fff6cc;
  border: 1px solid #ffdb4f;
  font: 16px 'Arial', sans-serif;
  color: #000;
  padding-top: 5px; }
/* line 181, ../sass/desktop.scss */
.note p {
  margin-bottom: 10px;
  line-height: 1.6; }
/* line 185, ../sass/desktop.scss */
.note a {
  color: #1e00ff;
  text-decoration: none; }
/* line 188, ../sass/desktop.scss */
.note a:hover {
  text-decoration: underline; }
/* line 192, ../sass/desktop.scss */
.note br {
  display: none; }
/* line 196, ../sass/desktop.scss */
.note .big-link {
  font-size: 24px;
  display: block; }

/* line 203, ../sass/desktop.scss */
.media-icons {
  margin-top: 25px;
  margin-bottom: 25px; }

/* line 209, ../sass/desktop.scss */
.desktop-content p {
  font: 14px/20px helvetica,arial,sans-serif;
  margin-bottom: 20px; }
/* line 214, ../sass/desktop.scss */
.desktop-content a {
  color: #1e00ff; }
/* line 218, ../sass/desktop.scss */
.desktop-content blockquote {
  font-size: 14px; }
/* line 220, ../sass/desktop.scss */
.desktop-content blockquote p {
  font-style: italic; }

/* line 228, ../sass/desktop.scss */
footer {
  background-color: #555555;
  margin-top: 95px;
  padding-top: 20px;
  font-family: 'Arial', sans-serif; }
/* line 235, ../sass/desktop.scss */
footer a {
  font-size: 14px;
  font-weight: bold !important;
  color: #fff;
  display: block;
  text-align: center;
  text-transform: capitalize; }
/* line 245, ../sass/desktop.scss */
footer a br {
  display: none; }
/* line 248, ../sass/desktop.scss */
footer a:hover {
  color: #fff;
  text-decoration: underline; }
/* line 253, ../sass/desktop.scss */
footer a:after {
  content: " ";
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #d1d1d1;
  margin-left: 20px;
  vertical-align: bottom; }
/* line 266, ../sass/desktop.scss */
footer i {
  font-size: 10px;
  color: #fff; }
