/* line 22, ../sass/_settings.scss */
.container {
  min-width: 480px !important;
  padding-left: 0;
  padding-right: 0; }

/* line 29, ../sass/_settings.scss */
body {
  background-color: #fff; }

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/oswald/oswald.regular.eot");
  src: url("../fonts/oswald/oswald.regular.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald/oswald.regular.woff") format("woff"), url("../fonts/oswald/oswald.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/oswald/oswald.bold.eot");
  src: url("../fonts/oswald/oswald.bold.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald/oswald.bold.woff") format("woff"), url("../fonts/oswald/oswald.bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/oswald/oswald.light.eot");
  src: url("../fonts/oswald/oswald.light.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald/oswald.light.woff") format("woff"), url("../fonts/oswald/oswald.light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* line 64, ../sass/_settings.scss */
.garciniaBtn, .navigation .big-read-button, footer .footer-read-button {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjMDAzZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlMDEzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fc003f), color-stop(100%, #be0131));
  background-image: -moz-linear-gradient(top, #fc003f, #be0131);
  background-image: -webkit-linear-gradient(top, #fc003f, #be0131);
  background-image: linear-gradient(to bottom, #fc003f, #be0131); }
/* line 73, ../sass/_settings.scss */
.garciniaBtn:hover, .navigation .big-read-button:hover, footer .footer-read-button:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjMDAzZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlMDEzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fc003f), color-stop(100%, #be0131));
  background-image: -moz-linear-gradient(bottom, #fc003f, #be0131);
  background-image: -webkit-linear-gradient(bottom, #fc003f, #be0131);
  background-image: linear-gradient(to top, #fc003f, #be0131);
  color: #fff; }

/* line 104, social/*.png */
.social-sprite, .social-facebook, .social-pinterest, .social-rss, .social-twitter {
  background-image: url('../img/social-s081bd15a19.png');
  background-repeat: no-repeat; }

/* line 84, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-facebook {
  background-position: 0 0; }
/* line 59, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-facebook:hover, .social-facebook.facebook-hover {
  background-position: 0 -96px; }

/* line 84, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-pinterest {
  background-position: 0 -192px; }
/* line 59, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-pinterest:hover, .social-pinterest.pinterest-hover {
  background-position: 0 -288px; }

/* line 84, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-rss {
  background-position: 0 -384px; }
/* line 59, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-rss:hover, .social-rss.rss-hover {
  background-position: 0 -480px; }

/* line 84, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-twitter {
  background-position: 0 -576px; }
/* line 59, d:/Software/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.social-twitter:hover, .social-twitter.twitter-hover {
  background-position: 0 -672px; }

/*@media all and (min-width: $tablet) {}*/
/* line 7, ../sass/mobile.scss */
.img-responsive {
  width: 100%; }
@media all and (min-width: 600px) {
  /* line 7, ../sass/mobile.scss */
  .img-responsive {
    max-width: 70%;
    margin: 0 auto; } }

/* line 16, ../sass/mobile.scss */
.header-top-line {
  height: 16px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjMDAzZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlMDEzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fc003f), color-stop(100%, #be0131));
  background-image: -moz-linear-gradient(bottom, #fc003f, #be0131);
  background-image: -webkit-linear-gradient(bottom, #fc003f, #be0131);
  background-image: linear-gradient(to top, #fc003f, #be0131);
  min-width: 480px;
  margin-top: 20px; }

/* line 24, ../sass/mobile.scss */
header .mobile-women-healt {
  display: block;
  margin: 4px auto 20px auto;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  background-image: url('../img/m-skinanddietlogo.png?1436172536');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 377px;
  height: 75px; }

/* line 33, ../sass/mobile.scss */
.search-form {
  margin-bottom: 15px;
  padding-left: 0; }
/* line 36, ../sass/mobile.scss */
.search-form .input-group {
  width: 450px;
  margin: 0 auto; }
/* line 40, ../sass/mobile.scss */
.search-form .form-control {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 50px; }
/* line 46, ../sass/mobile.scss */
.search-form .btn-default {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #b8b8b8;
  height: 50px; }

/* line 59, ../sass/mobile.scss */
.social-links {
  padding-left: 0; }
/* line 61, ../sass/mobile.scss */
.social-links .btn-group {
  width: 450px;
  margin: 0 auto;
  display: block; }
/* line 66, ../sass/mobile.scss */
.social-links .btn-group .btn {
  width: 25%;
  height: 96px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #898989;
  background-color: #fff; }

/* line 81, ../sass/mobile.scss */
.just-for-aligment {
  padding-left: 0; }

/* line 89, ../sass/mobile.scss */
.desktop-content p {
  margin: 0 0 20px; }
/* line 92, ../sass/mobile.scss */
.desktop-content a {
  color: #1e00ff; }
/* line 96, ../sass/mobile.scss */
.desktop-content blockquote {
  padding: 0;
  margin: 0;
  font-size: 14px;
  border-left: none; }
/* line 102, ../sass/mobile.scss */
.desktop-content blockquote p {
  font-style: italic; }

/* line 109, ../sass/mobile.scss */
.navig-mobile {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjMDAzZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlMDEzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fc003f), color-stop(100%, #be0131));
  background-image: -moz-linear-gradient(bottom, #fc003f, #be0131);
  background-image: -webkit-linear-gradient(bottom, #fc003f, #be0131);
  background-image: linear-gradient(to top, #fc003f, #be0131);
  height: 60px;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 20px; }
/* line 116, ../sass/mobile.scss */
.navig-mobile .btn {
  height: 60px;
  width: 123px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NhMzYzNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcwMDgwOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ca3636), color-stop(100%, #700808));
  background-image: -moz-linear-gradient(top, #ca3636, #700808);
  background-image: -webkit-linear-gradient(top, #ca3636, #700808);
  background-image: linear-gradient(to bottom, #ca3636, #700808);
  font: bold 16px 'Oswald',Arial, sans-serif;
  color: #fff;
  text-align: left; }
/* line 123, ../sass/mobile.scss */
.navig-mobile .btn:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjMDAzZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2JlMDEzMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fc003f), color-stop(100%, #be0131));
  background-image: -moz-linear-gradient(bottom, #fc003f, #be0131);
  background-image: -webkit-linear-gradient(bottom, #fc003f, #be0131);
  background-image: linear-gradient(to top, #fc003f, #be0131); }
/* line 126, ../sass/mobile.scss */
.navig-mobile .btn img {
  float: left;
  margin-right: 8px; }
/* line 132, ../sass/mobile.scss */
.navig-mobile h3 {
  font: bold 30px 'Oswald',Arial, sans-serif;
  color: #fff;
  margin-top: 9px; }

/* line 140, ../sass/mobile.scss */
.special-report {
  text-align: center;
  font-family: 'Oswald', Arial, sans-serif; }
/* line 144, ../sass/mobile.scss */
.special-report h3 {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin-bottom: 14px;
  margin-top: 5px; }
/* line 151, ../sass/mobile.scss */
.special-report h3 span {
  font-size: 50px;
  color: #e50000;
  font-weight: bold; }

/* line 160, ../sass/mobile.scss */
.note {
  background: #fff6cc;
  border: 1px solid #ffdb4f;
  font: 16px 'Arial', sans-serif;
  color: #000;
  padding-bottom: 10px; }
/* line 166, ../sass/mobile.scss */
.note p {
  margin-bottom: 0;
  line-height: 1.6; }
/* line 170, ../sass/mobile.scss */
.note a {
  color: #1e00ff;
  text-decoration: none; }
/* line 173, ../sass/mobile.scss */
.note a:hover {
  text-decoration: underline; }

/* line 183, ../sass/mobile.scss */
.navigation .big-read-button {
  width: 450px;
  height: 80px;
  margin: 0 auto 15px auto;
  font-size: 40px;
  display: block; }

/* line 196, ../sass/mobile.scss */
.media-icons {
  margin-top: 25px;
  margin-bottom: 30px; }
/* line 200, ../sass/mobile.scss */
.media-icons img {
  width: 100%;
  margin: 0 auto; }

/* line 207, ../sass/mobile.scss */
footer {
  background: #555555;
  min-width: 480px;
  margin-top: 10px;
  padding-top: 10px; }
@media all and (min-width: 600px) {
  /* line 215, ../sass/mobile.scss */
  footer .footer-links {
    width: 100%;
    margin-left: 0; }
  /* line 218, ../sass/mobile.scss */
  footer .footer-links .col-xs-6 {
    width: 25%;
    padding: 0; } }
/* line 226, ../sass/mobile.scss */
footer .footer-read-button {
  min-height: 55px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 3; }
/* line 235, ../sass/mobile.scss */
footer .in-2-row {
  line-height: 1.5; }
/* line 239, ../sass/mobile.scss */
footer a {
  font: 14px 'Arial', sans-serif;
  color: #fff;
  text-decoration: none; }
/* line 243, ../sass/mobile.scss */
footer a:hover {
  color: #fff;
  text-decoration: underline; }
/* line 249, ../sass/mobile.scss */
footer i {
  font: 11px 'Arial', sans-serif;
  color: #fff;
  font-style: italic; }

/* line 257, ../sass/mobile.scss */
#womens-healt {
  display: none; }

/* line 261, ../sass/mobile.scss */
#my-results {
  display: none; }
