.action{
	
	&__nav{
		background: #fff;
		border: none;
		float: left;
		height: 60px;
		min-width: 90px;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		
		color: #6e6e6e;
		text-align: center;
		font-size: 17px;		
		cursor: pointer;
		outline: none;
		border-left: 1px solid #ccc;
		&:last-child{
			border-right: 1px solid #ccc;
		}
		
		i{
			margin-right: 8px;
			vertical-align: middle;
		}
		
		&:hover .badge{
			background:  $green;
		}
	}
	
}