.badge{
	display: inline-block;
	min-width: 20px;
	height: 20px;
	border-radius: 4px;
	background: #adadad;
	padding: 0 5px;
	margin: 0 0 0 8px;
	
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	line-height: 20px;
}