.breadcrumb{
	display: inline-block;
	font-size: em(12);
	padding: 0 20px;
	
	&__nav{
		color: $gray-line;
		text-decoration: none;
		font-weight: 600;
		
		&::after{
			content: ' >';
			color: $gray-line;
		}
		
		&:last-child{
			pointer-events: none;
		}
		
		&:last-child::after{
			content: none;
		}
		
		&:hover{
			color: $green;
		}
	}
}