.btn{
	cursor: pointer;
	outline: none;
	transition: color .2s ease;
	
	&:hover, &:focus{
		color: $green;		
	}
	
	&__sub{
		text-transform: lowercase;
	}
	
	i {
		font-size: 16px;
	}
}

.btn--dark{
	background: $gray-primary;
	border: none;
	height: 45px;
	padding: 15px 18px;
	border-right: 1px solid #383838;
	
	vertical-align: middle;
	
	color: $gray-light;
	font-size: em(11);
	text-transform: uppercase;
}

.btn--light{
	background: transparent;
	border: 1px solid currentColor;
	padding: 10px 20px;
	
	color: $gray-line;
	font-size: em(14);
	font-weight: bold;
	text-decoration: none;
}

.btn--white{
	background: #fff;
	display: inline-block;
	width: 40px;
	height: 40px;
	
	color: #6e6e6e;
	text-align: center;
	line-height: 40px;
}

.btn--gray{
	background: rgba(#2e2e2e, .5);
	display: inline-block;
	height: 36px;
	width: 36px;
	border: none;
	
	color: #7d7d7d;
	text-align: center;
	line-height: 36px;
	
	transition: all .2s ease-in-out;
	
	&:hover{
		background: #7d7d7d;
		color: $gray-primary;
	}
}


.btn--fb{
	background: #3b5a9a;
	padding: 10px 15px;
	display: flex;
    align-items: center;
	
	color: #fff;
	font-size: em(13);
	text-decoration: none;
	text-align: center;
	
	&:hover{
		color: #000;
	}
	
	i{
		margin-right: 5px;
	}
}

.btn--tw{
	background: #2ca8d2;
	padding: 10px 15px;
	display: flex;
    align-items: center;
	
	color: #fff;
	font-size: em(13);
	text-decoration: none;
	text-align: center;
	
	&:hover{
		color: #000;
	}
	
	i{
		margin-right: 5px;
	}
}