.search{
	float: left;
	display: flex;
	height: 100%;
	position: relative;
	
	
	&__input{
		background: transparent;
		border: none;
		border-left: 1px solid #383838;
		//width: 200px;
		//padding: 15px 18px;
		width: 1px;
		padding: 0;
		overflow: hidden;
		transition: all .3s ease;
		
		color: $gray-light;
		font-size: em(11);
		outline: none;
		
		&::placeholder{
			color: $gray-light;
		}
	}
	
	
}




.subscribe{
	display: flex;
	float: left;
	height: 36px;
	position: relative;
	
	&__input{
		width: 214px;
		height: 100%;
		background: #2e2e2e;
		padding: 14px;
		border: none;
		border: 1px solid #2e2e2e;
		
		transition: all .2s ease;
		
		outline: none;
		color: #7d7d7d;
		font-size: em(12);
	}
	
	&__greeting{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: $gray-primary;
		
		display: flex;
		justify-content: center;
		align-items: center;
		
		animation: fadeIn .3s;
		
		font-size: em(14);
		color: #fff;
		text-align: center;
	}
	
	&__label{
		display: inline-block;
	}
	
	&__btn{
		display: inline-block;
		width: 36px;
		height: 36px;
		background: #7d7d7d;
		border: none;
		
		color: #2e2e2e;
		
		transition: all .2s ease-in-out;
		
		&:hover{
			background: $gray-secondary;
			color: #7d7d7d;
		}
	}
}


.subscribe--error{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	
	.subscribe__input{
		border-color: red;
	}
}

.subscribe--sent{
	overflow: hidden;
}