.search{
	float: left;
	display: flex;
	height: 100%;
	position: relative;
	
	
	&__input{
		background: transparent;
		border: none;
		border-left: 1px solid #383838;
		//width: 200px;
		//padding: 15px 18px;
		width: 1px;
		padding: 0;
		overflow: hidden;
		transition: all .3s ease;
		
		color: $gray-light;
		font-size: em(11);
		outline: none;
		
		&::placeholder{
			color: $gray-light;
		}
	}
	
	
}




.subscribe{
	display: flex;
	float: left;
	height: 36px;
	position: relative;
	
	&__input{
		width: 214px;
		height: 100%;
		background: #2e2e2e;
		padding: 14px;
		border: none;
		
		outline: none;
		color: #7d7d7d;
		font-size: em(12);
	}
	
	&__label{
		display: inline-block;
		position: absolute;
		left: 14px;
		top: 13px;
		
		cursor: text;
		color: #7d7d7d;
		font-size: em(12);
		font-style: italic;
	}
	
	&__btn{
		display: inline-block;
		width: 36px;
		height: 36px;
		background: #7d7d7d;
		border: none;
		
		color: #2e2e2e;
		
		transition: all .2s ease-in-out;
		
		&:hover{
			background: $gray-secondary;
			color: #7d7d7d;
		}
	}
}
