.hamburger{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	&__line{
		display: block;
		width: 23px;
		height: 2px;
		margin-bottom: 4px;
		background: $gray-secondary;		
		transition: all .3s ease;
		opacity: 1;
		transform: rotate(0);
		pointer-events: none;
		
		&:last-child{
			margin-bottom: 0;
		}
	}
	
}