.navigation{
	height: 60px;
	
	&__item{
		display: inline-block;
		float: left;
		border-left: 1px solid #eeeeee;
		
		&:last-of-type{
			border-right: 1px solid #eeeeee;
		}
	}
	
	&__link{
		padding: 0 22px;
		height: 60px;
		float: left;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		
		text-decoration: none;
		font-size: em(16);
		color: $gray-primary;
		font-weight: 600;
		text-align: center;
		
		
		transition: all .3s ease;
		
		&--active{
			color: $green;
		}
		
		&:hover{
			color: $green;
			
			& > .badge{
				background: $green;
			}
		}
		
		> .fa{
			color: #6e6e6e;
		}
	}
}



.bottom-nav{
	&__item{
		display: inline-block;
	}
	
	&__link{
		display: inline-block;
		text-decoration: none;
		color: rgba(#fff, .5);
		font-size: 1em;
		
		transition: all .3s ease;
	}
	
	&__link::after{
		content: " / ";
		color: rgba(#fff, .5);
	}
	
	&__link:hover{
		color: $green;
	}
	
	&__item:last-child &__link::after{
		content: none;
	}
	
}