.news{
	&__item{
		width: 100%;
		float: left;
		margin-bottom: 15px;
		display: flex;
		justify-content: space-between;
	}
	
	&__content{
		width: calc(100% - 56px);
		height: 36px;
		overflow: hidden;
	}
	
	&__link{
		display: inline-block;
		margin-bottom: 6px;
		
		text-decoration: none;
		color: $gray-primary;
		font-weight: bold;
		font-size: em(14);
		
		&:hover{
			color: $green;
		}
	}
	
	&__desc{
		color: $gray-primary;
		font-size: em(12);
		line-height: 1.2;
	}
}

.date{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 36px;
	height: 36px;
	background: $green;
	
	color: #fff;
	text-transform: uppercase;
	
	
	&__month{
		font-size: em(10);
		font-weight: 700;
	}
	
	&__day{
		font-size: em(12);
		font-weight: 700;
	}
}