.modal {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.7);
	animation: fadeIn .3s;
	
	
	&--close{
		display: none;
		animation: fadeOut .5s;
		
		.modal__content{
			animation: modalOut .5s;
		}
	}
	
	&--open{
		display: block;		
	}
	
	
	
	&__content{
		animation: modalIn .3s;
		width: 500px;
		background: #fff;
		margin: 5% auto;
		box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
	}
	
	&__header{
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #ccc;
		background: $gray-secondary;
		color: #fff;
	}
	
	&__close{
		padding: 5px;
		
		color: #fff;
		text-decoration: none;
		font-size: em(14);
		text-transform: uppercase;
		font-family: Arial, sans-serif;
		
		&:hover{
			color: $green;
		}
	}
	
	&__body{
		padding: 20px;
		overflow: auto;
	}
	
	&__footer{
		border-top: 1px solid #ccc;
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: $gray-secondary;
		color: #fff;
	}
}