.product{
	background: #fff;
	width: calc(33.3% - 13.3px);
	position: relative;
	overflow: hidden;
	
	transition: all .4s ease;
	
	&__thumbnail{
		display: block;
		height: 220px;
		max-width: 100%;
		margin: 0 auto;	
		transition: all .4s ease;
	}
	
	&__info{
		width: 100%;
		padding: 15px 15px 20px 15px;
		border-top: 1px solid #ccc;
		position: relative;
		height: 56px;
		transition: all .4s ease;
	}
	
	&__action{
		position: absolute;
		bottom: 0;
		right: 0;
		width: calc(100% - 85px);
		background: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		height: 55px;
		
		transition: transform .3s cubic-bezier(0.78, 0.02, 0.24, 1.04);
		transform: translateX(120%);
	}
	
	
	&__name{		
		padding-left: 85px;
		display: block;
		height: 20px;
		overflow: hidden;
		width: 100%;
		
		pointer-events: none;
		user-select: none;
		
		font-size: em(18);
		color: $gray-primary;
		font-weight: 600;
		text-overflow: ellipsis;
		line-height: 1;
		transition: all .4s ease;
	}
	
	&__price{		
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		background: $green;
		position: absolute;
    	bottom: 0;
		left: 15px;
		
		color: #fff;
		font-size: em(13);
		font-weight: 600;
		transition: all .4s ease;
		
	}
}

.product:hover .product__action{
	transform: translateX(0);
}

.product--sale{
	&::before{
		content: attr(data-badge);
		display: block;
		width: 70px;
		height: 70px;
		background: $gray-primary;		
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 15px;
		
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		font-size: em(13);
		text-align: center;
	}
}

.product--stock{
	&::before{
		content: attr(data-badge);
		display: block;
		width: 70px;
		height: 70px;
		background: $orange;		
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 15px;
		
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		font-size: em(13);
	}
}


.list .product{
	width: 100%;
	margin: 0 0 20px 0;
	padding: 5px;
	overflow: visible;

	&:last-child{
		margin-bottom: 0;
	}

	&::before{
		display: none;
	}

	&__thumbnail{
		height: 70px;
		width: 70px;
		float: left;
	}

	&__name{
		padding: 0 15px;
		font-size: em(15);
		height: 16px;
	}

	&__info{
		padding: 0;
		border: none;
		height: 70px;
		float: left;
		width: calc(100% - 70px);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__price{
		width: 100px;
		flex-basis: 100px;
		position: static;
		background: transparent;
		color: $green;
		font-size: em(16);
	}

	&__action{
		flex-basis: 200px;
		background: none;
		padding: 0;
		position: static;
		transform: none;			
	}

	.action__link{
		border: 1px solid currentColor;
		margin: 3px;
	}

}