.slide{
	height: 460px;
	overflow: hidden;
	
	
	&__item{
		display: none;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;		
		background-color: $background;
	}
	
	&--inner{
		height: 260px;
		
		.slide__item{
			display: flex;
		}
	}
	
	&__container{
		padding-left: calc(960px / 2);
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-position: left bottom;
		background-size: cover;
	}
	
	&__price{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		background: $green;
		
		color: #fff;
		font-size: em(13);
		font-weight: 600;
	}
	
	&__title{
		display: inline-block;
		margin-top: 12px;
		margin-bottom: 12px;
		
		font-size: em(40);
		color: $gray-primary;		
		line-height: 1.2;
	}
	
	&__description{
		display: inline-block;
		margin-bottom: 15px;
		
		font-size: em(20);
		color: $gray-primary;
	}
	
	&__heading{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 14px;
		
		.slide__title{
			margin: 0;
			width: calc(100% - 70px);
			padding-left: 22px;
			line-height: 1;
		}
		
	}
	
}

