[data-tooltip]{
	position: relative;
	
	&::before{
		content: attr(data-tooltip);
		display: block;
		padding: 5px 8px;
		min-width: 60px;
		background-color: #2B222A;
		border-radius: 2px;
		position: absolute;
		bottom: -34px;
		left: 50%;
		
		color: #fff;		
		font-size: 12px;
		font-weight: 100;
		line-height: 1.2;
		z-index: 99;
		transform: translateY(10px) translateX(-50%);
		opacity: 0;
		transition: all .3s ease;
		
		pointer-events: none;
	}
	
	&::after{
		content: '';
		width: 0;
		height: 0;
		border-left: solid transparent 6px;
		border-right: solid transparent 6px;
		border-bottom: solid #2B222A 6px;
		position: absolute;
		left: 50%;
		bottom: -10px;
		margin-left: -6px;
		
		transform: translateY(10px);
		transition: all .2s ease;
		opacity: 0;
		z-index: 99;
		
		pointer-events: none;
	}
	
	&:hover{
		&::before{
			opacity: 1;
			transform: translateY(0) translateX(-50%);
			transition-delay: .4s;
		}
		
		&::after{
			opacity: 1;
			transform: translateY(0);
			transition-delay: .5s;
		}
	}
}

[data-tooltip][class*='--top']{
	&::before{
		bottom: auto;
		top: -34px;
		transform: translateY(-10px) translateX(-50%);
	}
	
	&::after{
		border-top: solid #2B222A 6px;
		border-bottom: none;
		bottom: auto;
		top: -10px;
		transform: translateY(-10px);
	}
	
	&:hover{
		&::before{
			transform: translateY(0) translateX(-50%);
		}
		&::after{
			transform: translateY(0);
		}
	}
}