.widget{
	width: calc(33.3% - 33.3px);
	
	&__title{
		display: inline-block;
		margin-top: 5px;
		margin-bottom: 25px;
		
		text-transform: uppercase;
		color: #7d7d7d;
		font-size: em(14);
		font-weight: 600;
	}
	
	&__text{
		color: #a4a4a4;
		font-size: em(12);
		font-style: italic;
		text-align: justify;
		font-weight: 600;
		line-height: 1.4;
	}
	
	&__evident{
		font-size: 1em;
		font-style: italic;
		font-weight: 600;
		color: $green;
	}
	
	&__date{
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 10px;
		
		color: #c4c5bf;
		font-size: em(13);
		font-weight: 600;
	}
}


