// screen sizes
$screen__large : 1145px;
$screen__medium : 1020px;
$screen__ltablet: 900px;
$screen__tablet: 768px;
$screen__lmobile: 460px;
$screen__mobile: 320px;


// colors

$color__heading : #547186;
$color__blue 	: #2a97d7;
$color__txt		: #3b3b3b;
$color__white	: #fff;
$color__bg		: #efefef;
$color__green	: #a2c037;
$color__red		: #f50e34;
$color__gray	: #c9c9c9;

*{
	box-sizing: border-box;
}

// pixel to em function
@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em;
}