// ***** color variables *****

$color--white       : #fff;
$color--black       : #282522;
$color--black2      : #393939;
$color--red         : #e21f26;
$color--line        : #e0e0e0;
$color--gray        : #9f9f9f;
$color--gray-light  : #f5f5f5;
$color--gray-dark   : #4c4c4c; 



// ***** resolution breakpoints *****

$desktop--lg : 1200px;
$desktop     : 1024px;
$desktop--sm : 996px;
$tablet      : 768px;
$mobile--lg  : 480px;
$mobile      : 320px;

