[class$='__container'] {
	margin: 0 auto;
	max-width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	width: 100%;
	
	&::before {
		content: '';
		display: table;
	}
	
	&::after {
		clear: both;
		content: '';		
		display: table;		
	}
}

[class^='container--fluid'] {
	max-width: 100%;
}

[class^='container--flex'] {
	display: flex;
	justify-content: space-between;
	
	&::before, &::after {
		content: none;
		display: none;
	}
}

.container--mansory{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	> * {
		margin: 10.2px;
		
		&:first-child{
			margin-left: 0;
		}
		
		&:last-child{
			margin-right: 0;
		}
		
		&:nth-child(-n+3){
			margin-top: 0;
		}
		
		&:nth-child(3n+3){
			margin-right: 0;
		}
		
		&:nth-child(3n+4){
			margin-left: 0;
		}
		
		
	}
}

[class$='--row'] {
	margin: 0 -30px;
}
