/** Created by TTF.in.ua **/
@font-face {
    font-family: 'AGGloria-Roman';
    src: url('AGGloria-Roman.eot');
    src: url('AGGloria-Roman.eot?#iefix') format('embedded-opentype'),
         url('AGGloria-Roman.woff') format('woff'),
         url('AGGloria-Roman.ttf') format('truetype'),
         url('AGGloria-Roman.svg#AGGloria-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}