/*Author: Denys Arkan*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66666667%;
  }

  .col-sm-push-10 {
    left: 83.33333333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66666667%;
  }

  .col-sm-push-7 {
    left: 58.33333333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66666667%;
  }

  .col-sm-push-4 {
    left: 33.33333333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66666667%;
  }

  .col-sm-push-1 {
    left: 8.33333333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66666667%;
  }

  .col-md-pull-10 {
    right: 83.33333333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66666667%;
  }

  .col-md-pull-7 {
    right: 58.33333333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66666667%;
  }

  .col-md-pull-4 {
    right: 33.33333333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66666667%;
  }

  .col-md-pull-1 {
    right: 8.33333333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66666667%;
  }

  .col-md-push-10 {
    left: 83.33333333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66666667%;
  }

  .col-md-push-7 {
    left: 58.33333333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66666667%;
  }

  .col-md-push-4 {
    left: 33.33333333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66666667%;
  }

  .col-md-push-1 {
    left: 8.33333333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66666667%;
  }

  .col-lg-push-10 {
    left: 83.33333333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66666667%;
  }

  .col-lg-push-7 {
    left: 58.33333333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66666667%;
  }

  .col-lg-push-4 {
    left: 33.33333333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66666667%;
  }

  .col-lg-push-1 {
    left: 8.33333333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

/* Custom container */
.container {
  width: 1280px !important;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
@media (min-width: 1280px) {
  .container {
    width: 100% !important;
  }
}

.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

/* custom fonts */
@font-face {
  font-family: 'BookOS';
  src: url(../fonts/BookOS.ttf);
}
@font-face {
  font-family: 'displayPro';
  src: url(../fonts/displayPro.ttf);
}
@font-face {
  font-family: 'Georgia';
  src: url(../fonts/Georgia.ttf);
}
@font-face {
  font-family: "FranziskaWebPro";
  src: url("../fonts/FranziskaWebPro/FranziskaWebPro.eot");
  src: url("../fonts/FranziskaWebPro/FranziskaWebPro.eot?#iefix") format("embedded-opentype"), url("../fonts/FranziskaWebPro/FranziskaWebPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FranziskaWebPro";
  src: url("../fonts/FranziskaWebPro/FranziskaWebPro-Italic.eot");
  src: url("../fonts/FranziskaWebPro/FranziskaWebPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/FranziskaWebPro/FranziskaWebPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
#main-header {
  padding: 0;
}
#main-header .header-bg {
  display: block;
  padding: 0;
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.top-bar-img-sprite, .top-bar-img-poligon-ico, .top-bar-img-search-ico, .input-group .btn-seach span, .top-bar-img-top-bar-logo, .top-bar .navbar-brand {
  background-image: url('../img/top-bar-img-s8d2fafc21c.png');
  background-repeat: no-repeat;
}

.top-bar-img-poligon-ico {
  background-position: 0 0;
}

.top-bar-img-search-ico, .input-group .btn-seach span {
  background-position: 0 -19px;
}

.top-bar-img-top-bar-logo, .top-bar .navbar-brand {
  background-position: 0 -45px;
}

.input-group {
  display: block;
  float: left;
  margin-right: 80px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.input-group .form-control {
  padding: 0 24px;
  color: #95b4a5;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 100;
  background-color: #fff;
  border: none;
  -moz-border-radius-topleft: 19px;
  -webkit-border-top-left-radius: 19px;
  border-top-left-radius: 19px;
  -moz-border-radius-bottomleft: 19px;
  -webkit-border-bottom-left-radius: 19px;
  border-bottom-left-radius: 19px;
  height: 37px;
  width: 178px;
  float: left;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.input-group .form-control:focus {
  outline: none;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-group .form-control:-moz-placeholder {
  color: #95b4a5;
}
.input-group .form-control::-moz-placeholder {
  color: #95b4a5;
}
.input-group .form-control:-ms-input-placeholder {
  color: #95b4a5;
}
.input-group .form-control::-webkit-input-placeholder {
  color: #95b4a5;
}
.input-group .form-control.select-control {
  width: 222px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  background: url("../img/drop-down.png") no-repeat right #fff;
  padding-right: 70px;
  color: #95b4a5;
  border-color: #fff;
}
.input-group .select-control-for-city {
  width: 180px;
  padding: 0;
  margin: 2px 0 0;
  color: #95b4a5;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-group .top-input-btn, .input-group .btn-seach {
  display: block;
  width: 43px;
  height: 37px;
  background-color: #95b4a5;
  border: 1px solid #fff;
  float: right;
  -moz-border-radius-topright: 19px;
  -webkit-border-top-right-radius: 19px;
  border-top-right-radius: 19px;
  -moz-border-radius-bottomright: 19px;
  -webkit-border-bottom-right-radius: 19px;
  border-bottom-right-radius: 19px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group .top-input-btn:active, .input-group .btn-seach:active, .input-group .top-input-btn:focus, .input-group .btn-seach:focus {
  background-color: #95b4a5;
  border-color: #fff;
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-group .btn-seach {
  position: relative;
}
.input-group .btn-seach span {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  margin: -8px 0 0 -8px;
}

.top-bar {
  height: 50px;
  background-color: #92af9d;
  padding: 5px 0 0 30px;
}
.top-bar .navbar-brand {
  display: block;
  height: 41px;
  width: 170px;
  float: left;
  margin-right: 95px;
}
.top-bar #social-btns a {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.top-bar #social-btns .vk {
  padding: 10px 7px;
}
.top-bar #social-btns .fb {
  padding: 8px 13px;
}
.top-bar #social-btns .g-plus {
  padding: 9px 11px;
}
.top-bar .login-icon-sprite, .top-bar .login-icon-login-icon {
  background-image: url('../img/login-icon-s434056e9a2.png');
  background-repeat: no-repeat;
}
.top-bar .login-icon-login-icon {
  background-position: 0 -64px;
}
.top-bar .login-icon-login-icon:hover, .top-bar .login-icon-login-icon.login-icon-hover {
  background-position: 0 0;
}
.top-bar #entry-btn {
  cursor: pointer;
  display: block;
  float: left;
  margin-left: 50px;
  min-width: 100px;
  height: 38px;
  border: solid 1px #fff;
  background-color: #fff;
  color: #95b4a5;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  padding: 5px;
}
.top-bar #entry-btn.login-icon-login-icon {
  padding-left: 35px;
}
.top-bar #entry-btn:hover, .top-bar #entry-btn:active, .top-bar #entry-btn:focus {
  text-decoration: none;
  color: #fff;
  background-color: #95b4a5;
}

#touday-events {
  padding: 0;
  margin-bottom: 10px;
}
#touday-events .touday {
  width: 224px;
  height: 90px;
  margin-top: 27px;
  background: url("../img/touday-bg.png") no-repeat transparent;
  color: #fff;
  text-decoration: none;
  font: 100 26px sans-serif;
  text-transform: uppercase;
  padding-left: 38px;
  line-height: 90px;
  float: left;
}
#touday-events .touday:hover {
  color: #fff;
  text-decoration: none;
}
#touday-events #events-list {
  padding: 0;
  margin: 22px 0 0 0;
  overflow: hidden;
  transition: height 0.8s ease;
}
#touday-events #events-list .event-owerlay {
  list-style: none;
  float: left;
}
#touday-events #events-list .event-owerlay .post-panel.post-hidden {
  padding: 0;
  margin: 0 6px;
  width: 100px;
  float: left;
  transition: width 0.8s ease,height 0.8s ease;
}
#touday-events #events-list .event-owerlay .post-panel.post-hidden .post-thumbnail {
  transition: width 0.8s ease,height 0.8s ease;
  height: 100px;
}
#touday-events #events-list .event-owerlay .post-panel.post-hidden .post-thumbnail img {
  width: 100%;
  height: 100%;
  transition: width 0.8s ease,height 0.8s ease,border-radius 0.8s ease;
  margin: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
#touday-events #events-list .event-owerlay .post-panel.post-hidden .post-body {
  display: none;
}
#touday-events #events-list .event-owerlay .post-panel.post-hidden .post-footer {
  display: none;
}

.post-rating {
  list-style: none;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 1px #222;
  position: relative;
}
.post-rating .rating-symbol {
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 2px;
}
.post-rating .rating-symbol .glyphicon-star.yellow {
  color: #ffcf00 !important;
}
.post-rating .rating-symbol .glyphicon-star.brun {
  color: #6c5353 !important;
}

.user-message {
  width: 200px;
  height: 10px;
  position: absolute;
  color: #000;
  font-size: 10px;
  text-shadow: none;
  text-transform: uppercase;
}
.user-message.after {
  top: 35px;
  left: 0;
}
.user-message.before {
  top: -20px;
  left: 0;
}
.user-message.right {
  top: 0;
  left: 120px;
}

.post-rating-article {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 1px #222;
}
.post-rating-article .rating-symbol {
  width: 20px;
  height: 18px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.post-rating-article .rating-symbol .glyphicon-star.yellow {
  color: #ffcf00 !important;
}
.post-rating-article .rating-symbol .glyphicon-star.brun {
  color: #6c5353 !important;
}

.menu-icons-sprite, .menu-icons-catalog-appartment, .menu-icons-catalog-beauty-healt, .menu-icons-catalog-food, .menu-icons-catalog-hobby, .menu-icons-catalog-ico, .menu-icons-catalog-shoping, .menu-icons-catalog-spent-time, .menu-icons-catalog-sport, .menu-icons-catalog-tourism, .menu-icons-news-appartment, .menu-icons-news-beauty-healt, .menu-icons-news-food, .menu-icons-news-hobby, .menu-icons-news-ico, .menu-icons-news-in-city, .menu-icons-news-science, .menu-icons-news-society, .menu-icons-news-spent-time, .menu-icons-news-sport, .menu-icons-news-tourism, .menu-icons-news-transport, .menu-icons-news-useful, .menu-icons-notice-circ, .menu-icons-notice-concert, .menu-icons-notice-ico, .menu-icons-notice-mouvie, .menu-icons-notice-party, .menu-icons-notice-presentation, .menu-icons-notice-recitals, .menu-icons-notice-showing, .menu-icons-notice-teatr, .menu-icons-notice-training, .menu-icons-overview-ico, .menu-icons-people-beauty, .menu-icons-people-healt, .menu-icons-people-ico, .menu-icons-people-law, .menu-icons-people-other, .menu-icons-people-politica, .menu-icons-people-science, .menu-icons-people-show-biz {
  background-image: url('../img/menu-icons-s1a46375f8f.png');
  background-repeat: no-repeat;
}

.menu-icons-catalog-appartment {
  background-position: 0 -101px;
}
.menu-icons-catalog-appartment:hover, .menu-icons-catalog-appartment.catalog-appartment-hover {
  background-position: 0 0;
}

.menu-icons-catalog-beauty-healt {
  background-position: 0 -303px;
}
.menu-icons-catalog-beauty-healt:hover, .menu-icons-catalog-beauty-healt.catalog-beauty-healt-hover {
  background-position: 0 -202px;
}

.menu-icons-catalog-food {
  background-position: 0 -505px;
}
.menu-icons-catalog-food:hover, .menu-icons-catalog-food.catalog-food-hover {
  background-position: 0 -404px;
}

.menu-icons-catalog-hobby {
  background-position: 0 -707px;
}
.menu-icons-catalog-hobby:hover, .menu-icons-catalog-hobby.catalog-hobby-hover {
  background-position: 0 -606px;
}

.menu-icons-catalog-ico {
  background-position: 0 -808px;
}

.menu-icons-catalog-shoping {
  background-position: 0 -1010px;
}
.menu-icons-catalog-shoping:hover, .menu-icons-catalog-shoping.catalog-shoping-hover {
  background-position: 0 -909px;
}

.menu-icons-catalog-spent-time {
  background-position: 0 -1212px;
}
.menu-icons-catalog-spent-time:hover, .menu-icons-catalog-spent-time.catalog-spent-time-hover {
  background-position: 0 -1111px;
}

.menu-icons-catalog-sport {
  background-position: 0 -1414px;
}
.menu-icons-catalog-sport:hover, .menu-icons-catalog-sport.catalog-sport-hover {
  background-position: 0 -1313px;
}

.menu-icons-catalog-tourism {
  background-position: 0 -1616px;
}
.menu-icons-catalog-tourism:hover, .menu-icons-catalog-tourism.catalog-tourism-hover {
  background-position: 0 -1515px;
}

.menu-icons-news-appartment {
  background-position: 0 -1818px;
}
.menu-icons-news-appartment:hover, .menu-icons-news-appartment.news-appartment-hover {
  background-position: 0 -1717px;
}

.menu-icons-news-beauty-healt {
  background-position: 0 -2020px;
}
.menu-icons-news-beauty-healt:hover, .menu-icons-news-beauty-healt.news-beauty-healt-hover {
  background-position: 0 -1919px;
}

.menu-icons-news-food {
  background-position: 0 -2222px;
}
.menu-icons-news-food:hover, .menu-icons-news-food.news-food-hover {
  background-position: 0 -2121px;
}

.menu-icons-news-hobby {
  background-position: 0 -2424px;
}
.menu-icons-news-hobby:hover, .menu-icons-news-hobby.news-hobby-hover {
  background-position: 0 -2323px;
}

.menu-icons-news-ico {
  background-position: 0 -2525px;
}

.menu-icons-news-in-city {
  background-position: 0 -2727px;
}
.menu-icons-news-in-city:hover, .menu-icons-news-in-city.news-in-city-hover {
  background-position: 0 -2626px;
}

.menu-icons-news-science {
  background-position: 0 -2929px;
}
.menu-icons-news-science:hover, .menu-icons-news-science.news-science-hover {
  background-position: 0 -2828px;
}

.menu-icons-news-society {
  background-position: 0 -3131px;
}
.menu-icons-news-society:hover, .menu-icons-news-society.news-society-hover {
  background-position: 0 -3030px;
}

.menu-icons-news-spent-time {
  background-position: 0 -3333px;
}
.menu-icons-news-spent-time:hover, .menu-icons-news-spent-time.news-spent-time-hover {
  background-position: 0 -3232px;
}

.menu-icons-news-sport {
  background-position: 0 -3535px;
}
.menu-icons-news-sport:hover, .menu-icons-news-sport.news-sport-hover {
  background-position: 0 -3434px;
}

.menu-icons-news-tourism {
  background-position: 0 -3737px;
}
.menu-icons-news-tourism:hover, .menu-icons-news-tourism.news-tourism-hover {
  background-position: 0 -3636px;
}

.menu-icons-news-transport {
  background-position: 0 -3939px;
}
.menu-icons-news-transport:hover, .menu-icons-news-transport.news-transport-hover {
  background-position: 0 -3838px;
}

.menu-icons-news-useful {
  background-position: 0 -4141px;
}
.menu-icons-news-useful:hover, .menu-icons-news-useful.news-useful-hover {
  background-position: 0 -4040px;
}

.menu-icons-notice-circ {
  background-position: 0 -4343px;
}
.menu-icons-notice-circ:hover, .menu-icons-notice-circ.notice-circ-hover {
  background-position: 0 -4242px;
}

.menu-icons-notice-concert {
  background-position: 0 -4545px;
}
.menu-icons-notice-concert:hover, .menu-icons-notice-concert.notice-concert-hover {
  background-position: 0 -4444px;
}

.menu-icons-notice-ico {
  background-position: 0 -4646px;
}

.menu-icons-notice-mouvie {
  background-position: 0 -4848px;
}
.menu-icons-notice-mouvie:hover, .menu-icons-notice-mouvie.notice-mouvie-hover {
  background-position: 0 -4747px;
}

.menu-icons-notice-party {
  background-position: 0 -5050px;
}
.menu-icons-notice-party:hover, .menu-icons-notice-party.notice-party-hover {
  background-position: 0 -4949px;
}

.menu-icons-notice-presentation {
  background-position: 0 -5252px;
}
.menu-icons-notice-presentation:hover, .menu-icons-notice-presentation.notice-presentation-hover {
  background-position: 0 -5151px;
}

.menu-icons-notice-recitals {
  background-position: 0 -5454px;
}
.menu-icons-notice-recitals:hover, .menu-icons-notice-recitals.notice-recitals-hover {
  background-position: 0 -5353px;
}

.menu-icons-notice-showing {
  background-position: 0 -5656px;
}
.menu-icons-notice-showing:hover, .menu-icons-notice-showing.notice-showing-hover {
  background-position: 0 -5555px;
}

.menu-icons-notice-teatr {
  background-position: 0 -5858px;
}
.menu-icons-notice-teatr:hover, .menu-icons-notice-teatr.notice-teatr-hover {
  background-position: 0 -5757px;
}

.menu-icons-notice-training {
  background-position: 0 -6060px;
}
.menu-icons-notice-training:hover, .menu-icons-notice-training.notice-training-hover {
  background-position: 0 -5959px;
}

.menu-icons-overview-ico {
  background-position: 0 -6161px;
}

.menu-icons-people-beauty {
  background-position: 0 -6363px;
}
.menu-icons-people-beauty:hover, .menu-icons-people-beauty.people-beauty-hover {
  background-position: 0 -6262px;
}

.menu-icons-people-healt {
  background-position: 0 -6565px;
}
.menu-icons-people-healt:hover, .menu-icons-people-healt.people-healt-hover {
  background-position: 0 -6464px;
}

.menu-icons-people-ico {
  background-position: 0 -6666px;
}

.menu-icons-people-law {
  background-position: 0 -6868px;
}
.menu-icons-people-law:hover, .menu-icons-people-law.people-law-hover {
  background-position: 0 -6767px;
}

.menu-icons-people-other {
  background-position: 0 -7070px;
}
.menu-icons-people-other:hover, .menu-icons-people-other.people-other-hover {
  background-position: 0 -6969px;
}

.menu-icons-people-politica {
  background-position: 0 -7272px;
}
.menu-icons-people-politica:hover, .menu-icons-people-politica.people-politica-hover {
  background-position: 0 -7171px;
}

.menu-icons-people-science {
  background-position: 0 -7474px;
}
.menu-icons-people-science:hover, .menu-icons-people-science.people-science-hover {
  background-position: 0 -7373px;
}

.menu-icons-people-show-biz {
  background-position: 0 -7676px;
}
.menu-icons-people-show-biz:hover, .menu-icons-people-show-biz.people-show-biz-hover {
  background-position: 0 -7575px;
}

#main-menu {
  margin-left: 2px;
  width: 100px;
  padding: 0;
}
#main-menu .accordion-heading {
  -moz-box-shadow: 2px 0px 23px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 0px 23px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 23px -4px rgba(0, 0, 0, 0.75);
}
#main-menu .menu-item {
  display: block;
  width: 100px;
  height: 100px;
}

.food-filter {
  margin-bottom: 13px;
  padding: 0 15px;
}
.food-filter .filter-btn {
  padding: 6px;
  height: 36px;
  width: 13%;
  margin: 0 0.4%;
  background-color: rgba(215, 58, 87, 0.7);
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
.food-filter .filter-btn:hover, .food-filter .filter-btn:active, .food-filter .filter-btn.active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #d73a57;
}

.article-holder {
  padding-right: 0;
  width: 70%;
}

.interactive-link, .like, .comm {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-family: FontAwesome;
}
.interactive-link:hover, .like:hover, .comm:hover, .interactive-link:active, .like:active, .comm:active, .interactive-link:focus, .like:focus, .comm:focus {
  text-decoration: none;
}

.like {
  cursor: pointer;
  color: #fff;
}
.like:hover, .like:active, .like:focus {
  color: #fff;
}
.like:before {
  content: "\f08a";
}
.like:hover:before, .like.active:before {
  content: "\f004";
}

.comm {
  color: #fff;
}
.comm:hover, .comm:active, .comm:focus {
  color: #fff;
}
.comm:before {
  content: "\f0e5";
}
.comm:hover:before, .comm.active:before {
  content: "\f075";
}

.post-panel {
  padding: 0 10px 0 10px;
  margin-bottom: 30px;
  width: 262px;
  transition: width 0.8s ease,height 0.8s ease;
  float: left;
}
.post-panel .post-thumbnail {
  height: 227px;
  transition: width 0.8s ease,height 0.8s ease;
}
.post-panel .post-thumbnail img {
  width: 100%;
  height: 100%;
  transition: width 0.8s ease,height 0.8s ease,border-radius 0.8s ease;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.post-panel .post-body {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  height: 120px;
  padding: 10px;
  color: #fff;
  opacity: 1;
}
.post-panel .post-body h3 {
  margin: 0;
  font: 100 16px sans-serif;
  text-transform: uppercase;
  height: 72px;
  overflow: hidden;
}
.post-panel .post-body time {
  font-size: 12px;
}
.post-panel .post-footer {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 35px;
  padding: 10px;
  color: #fff;
  font: 12px sans-serif;
  text-transform: uppercase;
  opacity: 1;
}
.post-panel .post-footer a.pull-right {
  color: #fff;
  text-decoration: underline;
}

.panel-news .post-body {
  background-color: #d63857;
}
.panel-news .post-footer {
  background-color: #d63857;
}

.panel-catalog .post-body {
  background-color: #ff6450;
}
.panel-catalog .post-footer {
  background-color: #ff6450;
}

.panel-notice .post-body {
  background-color: #bea742;
}
.panel-notice .post-footer {
  background-color: #bea742;
}

.panel-people .post-body {
  background-color: #ea6452;
}
.panel-people .post-footer {
  background-color: #ea6452;
}

#single-article {
  padding: 0;
}

.top-bar-single {
  width: 95%;
  margin: 0 auto;
  min-height: 65px;
}
.top-bar-single .breadcrumb {
  background: none transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  line-height: 65px;
}
.top-bar-single .breadcrumb li + li:before {
  padding: 0 2px;
  color: #adc3b6;
  content: "/\00a0";
}
.top-bar-single .breadcrumb li {
  color: #adc3b6;
  font-size: 18px;
}
.top-bar-single .breadcrumb li a {
  color: #adc3b6;
  font-size: 18px;
  text-decoration: none;
}
.top-bar-single .input-group {
  margin-right: 0;
  margin-top: 10px;
}
.top-bar-single .input-group .btn-info {
  border: 1px solid #92af9d;
  border-right: 2px;
}
.top-bar-single .input-group .form-control {
  border: 1px solid #92af9d;
}
.top-bar-single .input-group .form-control:focus {
  border: 1px solid #92af9d;
}

.article-holder {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 38px;
}

.fool-width-article {
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  -moz-box-shadow: 1px 1px 10px rgba(140, 139, 139, 0.75);
  -webkit-box-shadow: 1px 1px 10px rgba(140, 139, 139, 0.75);
  box-shadow: 1px 1px 10px rgba(140, 139, 139, 0.75);
}
.fool-width-article .single-post-header {
  background-color: #a23c64;
  -moz-border-radius-topleft: 23px;
  -webkit-border-top-left-radius: 23px;
  border-top-left-radius: 23px;
  -moz-border-radius-topright: 23px;
  -webkit-border-top-right-radius: 23px;
  border-top-right-radius: 23px;
}
.fool-width-article .single-post-header h1 {
  color: #fff;
  font-size: 48px;
  text-align: center;
  font-weight: 100;
  padding: 0;
  margin: 21px 0;
  font-family: "PT Serif Caption",Georgia,serif;
}
.fool-width-article .single-post-body {
  padding: 0 30px;
}
.fool-width-article .single-post-body h2 {
  color: #000;
  font-size: 30px;
  text-align: center;
  font-family: "PT Serif Caption",Georgia,serif;
  margin: 15px 0;
}
.fool-width-article .single-post-body p {
  color: #000;
  font-size: 18px;
  font-family: Roboto,Arial,sans-serif;
  margin: 20px 0;
}
.fool-width-article .single-post-body .text-par {
  color: #000;
  font-size: 18px;
  font-family: Roboto,Arial,sans-serif;
}
.fool-width-article .single-post-body .post-img-caption {
  max-width: 500px;
  margin: 0 auto;
  font-family: "FranziskaWebPro",serif;
  text-align: center;
  font-size: 17px;
  font-style: italic;
  line-height: 1.5;
  color: #444;
}
.fool-width-article .single-post-body img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}
.fool-width-article .single-post-body .blockquote {
  padding: 25px 30px 25px 100px;
  margin: 0;
  font-size: 22px;
  line-height: 1.5;
  border: none;
  font-family: Roboto,Arial,sans-serif;
  background: url("../img/quotes.png") no-repeat left center;
}
.fool-width-article .panda-sprite, .fool-width-article .panda-r-1, .fool-width-article .panda-r-2, .fool-width-article .panda-r-3, .fool-width-article .panda-r-4, .fool-width-article .panda-r-5 {
  background-image: url('../img/panda-sf482613692.png');
  background-repeat: no-repeat;
}
.fool-width-article .panda-r-1 {
  background-position: 0 0;
}
.fool-width-article .panda-r-2 {
  background-position: 0 -86px;
}
.fool-width-article .panda-r-3 {
  background-position: 0 -172px;
}
.fool-width-article .panda-r-4 {
  background-position: 0 -258px;
}
.fool-width-article .panda-r-5 {
  background-position: 0 -344px;
}
.fool-width-article .panda-holder {
  margin-top: 5px;
}
.fool-width-article .panda-holder #pEmotion {
  width: 81px;
  height: 77px;
  margin: 0 auto;
}
.fool-width-article .single-post-footer .marker {
  height: 35px;
  background-color: #b8b8b8;
  margin: 40px 0 25px 0;
}
.fool-width-article .single-post-footer .marker .like {
  cursor: pointer;
  color: #d73a57;
}
.fool-width-article .single-post-footer .marker .like:hover, .fool-width-article .single-post-footer .marker .like:active, .fool-width-article .single-post-footer .marker .like:focus {
  color: #d73a57;
}
.fool-width-article .single-post-footer .marker p {
  margin: 0;
}
.fool-width-article .single-post-footer .marker .pull-left {
  height: 35px;
  color: #000;
  font-size: 18px;
  padding-left: 20px;
  line-height: 35px;
}
.fool-width-article .single-post-footer .marker .pull-right {
  padding: 0 24px;
  text-align: center;
  font-size: 24px;
  height: 35px;
  background-color: #e8e8e8;
}
.fool-width-article .single-post-footer .marker .pull-right .glyphicon {
  font-size: 20px;
}
.fool-width-article .single-post-footer .marker .count-holder {
  color: #d73a57;
}
.fool-width-article .single-post-footer .comment-area {
  padding: 0 27px;
}
.fool-width-article .single-post-footer .comment-area h3 {
  color: #d73a57;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 0 24px 0;
}
.fool-width-article .single-post-footer .comment-area .comm {
  color: #d73a57;
}
.fool-width-article .single-post-footer .comment-area .comm:hover, .fool-width-article .single-post-footer .comment-area .comm:active, .fool-width-article .single-post-footer .comment-area .comm:focus {
  color: #d73a57;
}
.fool-width-article .single-post-footer .comment .col-xs-1 {
  padding: 0;
}
.fool-width-article .single-post-footer .comment .col-xs-1 img {
  width: 60px;
  height: 60px;
}
.fool-width-article .single-post-footer .comment .col-xs-11 .comment-holder {
  color: #92af9d;
  font-size: 18px;
}
.fool-width-article .single-post-footer .comment .col-xs-11 .comment-text {
  color: #000;
  font-size: 14px;
}
.fool-width-article .single-post-footer .comment .col-xs-11 .answer {
  color: #d73a57;
  text-decoration: none;
  text-transform: capitalize;
  margin: 10px 0;
}
.fool-width-article .single-post-footer .comment .col-xs-11 .answer:hover, .fool-width-article .single-post-footer .comment .col-xs-11 .answer:focus, .fool-width-article .single-post-footer .comment .col-xs-11 .answer:active {
  color: #d73a57;
  text-decoration: underline;
}
.fool-width-article .single-post-footer .review {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 11px;
  padding: 15px 0 15px 15px;
}
.fool-width-article .single-post-footer .review .col-xs-1 {
  padding: 0;
}
.fool-width-article .single-post-footer .review .col-xs-1 img {
  width: 60px;
  height: 60px;
}
.fool-width-article .single-post-footer .review .col-xs-1 p {
  text-align: center;
  font-size: 14px;
  color: #000;
  margin: 0;
}
.fool-width-article .single-post-footer .review .review-holder {
  color: #000;
  font-weight: bold;
  font-size: 15px;
}
.fool-width-article .single-post-footer .review .review-text {
  color: #000;
  font-size: 16px;
}
.fool-width-article .single-post-footer .review .useful-review {
  color: #333;
  font-size: 14px;
}
.fool-width-article .single-post-footer .review .reviev-btns {
  position: relative;
}
.fool-width-article .single-post-footer .review .reviev-btns .glyphicon {
  color: #d73a57;
  font-size: 17px;
  margin-right: 5px;
  cursor: pointer;
}
.fool-width-article .single-post-footer .review.r-green {
  background-color: #b2d179;
}
.fool-width-article .single-post-footer .review.r-blue {
  background-color: #e3f4fe;
}
.fool-width-article .single-post-footer .review.r-red {
  background-color: #e7899a;
}
.fool-width-article .single-post-footer #comment-form {
  padding: 0 27px;
}
.fool-width-article .single-post-footer #comment-form textarea.text-area {
  width: 100%;
  max-width: 100%;
  min-height: 70px;
  border: 1px solid #d73a57;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 8px;
}
.fool-width-article .single-post-footer #comment-form textarea.text-area:focus {
  outline: none;
  border: 1px solid #d73a57;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fool-width-article .single-post-footer #review-form {
  padding: 10px 27px;
}
.fool-width-article .single-post-footer #review-form textarea {
  width: 100%;
  max-width: 100%;
  min-height: 150px;
  border: 1px solid #888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
}
.fool-width-article .single-post-footer #review-form textarea:focus {
  outline: none;
  border: 1px solid #888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fool-width-article .single-post-footer #review-form .form-group {
  margin-top: 15px;
}
.fool-width-article .single-post-footer #review-form input.form-control, .fool-width-article .single-post-footer #review-form select.form-control {
  height: 34px;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #888;
}
.fool-width-article .single-post-footer #review-form input.form-control:focus, .fool-width-article .single-post-footer #review-form select.form-control:focus {
  outline: none;
  border: 1px solid #888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fool-width-article .single-post-footer #review-form label {
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: sans-serif;
}
.fool-width-article .single-post-footer #review-form .col-xs-1 {
  padding: 0;
}
.fool-width-article .single-post-footer #review-form .col-xs-1 img {
  width: 100%;
}
.fool-width-article .single-post-footer #review-form .user-name {
  margin-bottom: 5px;
}
.fool-width-article .single-post-footer #review-form .link-review, .fool-width-article .single-post-footer #review-form .link-review a {
  color: #000;
  margin: 0;
}
.fool-width-article .single-post-footer .btn-answer {
  font-size: 12px;
  text-transform: uppercase;
  color: #d73a57;
  margin: 10px 0 14px 0;
  min-width: 100px;
  height: 38px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  background-color: #fff;
  border: 1px solid #d73a57;
}
.fool-width-article .single-post-footer .btn-answer:hover, .fool-width-article .single-post-footer .btn-answer:active, .fool-width-article .single-post-footer .btn-answer:focus {
  background-color: #d73a57;
  color: #fff;
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.editor-buttons {
  margin-top: 2px;
}
.editor-buttons .btn {
  width: 24px;
  height: 24px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #d0d0d0;
  padding: 1px;
  color: #000;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}
.editor-buttons .btn:hover, .editor-buttons .btn:active, .editor-buttons .btn.active {
  background-color: rgba(208, 208, 208, 0.5);
}

.datepaginator .pagination > li > a {
  border: 1px solid #000;
  color: #00aeff;
}
.datepaginator .pagination > li:first-child > a, .datepaginator .pagination > li:last-child > a {
  margin: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #000;
}
.datepaginator .dp-off {
  background-color: rgba(215, 58, 87, 0.4) !important;
  color: #fff !important;
}
.datepaginator .dp-today {
  background-color: rgba(0, 174, 255, 0.6) !important;
  color: #fff !important;
}
.datepaginator .dp-selected {
  background-color: #00aeff !important;
  color: #fff !important;
}

.datepicker-dropdown:before {
  border-bottom-color: black !important;
}

.datepicker.dropdown-menu {
  background-color: #fff;
  border: 1px solid #000 !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 13px;
}
.datepicker.dropdown-menu .custom-date-style, .datepicker.dropdown-menu .day, .datepicker.dropdown-menu .month, .datepicker.dropdown-menu .year, .datepicker.dropdown-menu .today, .datepicker.dropdown-menu .active {
  background-image: none;
  text-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}
.datepicker.dropdown-menu .custom-date-style:hover, .datepicker.dropdown-menu .day:hover, .datepicker.dropdown-menu .month:hover, .datepicker.dropdown-menu .year:hover, .datepicker.dropdown-menu .today:hover, .datepicker.dropdown-menu .active:hover {
  background-image: none;
}
.datepicker.dropdown-menu .day, .datepicker.dropdown-menu .month, .datepicker.dropdown-menu .year {
  color: #000;
  background-color: transparent !important;
}
.datepicker.dropdown-menu .day:hover, .datepicker.dropdown-menu .month:hover, .datepicker.dropdown-menu .year:hover {
  background-color: #e8e8e8 !important;
}
.datepicker.dropdown-menu .today {
  background-color: #d63857 !important;
  color: #000;
}
.datepicker.dropdown-menu .today:hover {
  background-color: rgba(214, 56, 87, 0.5) !important;
}
.datepicker.dropdown-menu .active {
  background-color: #00aeff !important;
  color: #fff;
}
.datepicker.dropdown-menu .active:hover {
  background-color: rgba(0, 174, 255, 0.5) !important;
}
.datepicker.dropdown-menu .datepicker-days .table-condensed thead {
  border-bottom: 1px solid #6f7274;
}

.touday-events .event-cathegory {
  font-size: 20px;
  font-family: Arial,sans-serif;
  color: #000;
  margin: 40px 0 5px 0;
}
.touday-events ul {
  padding-left: 20px;
}
.touday-events ul li {
  list-style: none;
}
.touday-events ul li a {
  color: #00aeff;
  font-size: 19px;
  text-decoration: none;
}
.touday-events ul li a:hover {
  text-decoration: underline;
}

#galleria {
  height: 400px;
}
#galleria .galleria-info {
  display: none !important;
}

#promotion {
  padding: 0;
}
#promotion .promo-block {
  width: 280px;
  height: 360px;
  background-color: #e8e8e8;
  margin-bottom: 30px;
}
#promotion .promo-p {
  text-align: center;
  color: #d63857;
  font: 100 22px sans-serif;
  line-height: 360px;
}

#footer {
  background-color: #dcdcdc;
  padding-top: 30px;
  min-height: 340px;
}
#footer ul, #footer .col-xs-4 {
  padding: 0;
}
#footer ul > li {
  list-style: none;
  font-size: 18px;
  color: #000;
}
#footer ul > li b {
  margin-bottom: 50px;
  display: block;
}
#footer ul > li a {
  color: #000;
  text-decoration: none;
  line-height: 2.2;
  font-weight: 100;
}
#footer ul > li a:hover, #footer ul > li a:active, #footer ul > li a:focus {
  color: #000;
  text-decoration: underline;
}

#toTop {
  position: fixed;
  right: 130px;
  bottom: 100px;
  display: block;
  border: 2px solid #adc3b6;
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #adc3b6;
  font-size: 35px;
  text-align: center;
  text-decoration: none;
}
#toTop:hover {
  text-decoration: none;
  color: #fff;
  background-color: #adc3b6;
}

.modal-dialog {
  width: 543px;
  min-height: 350px;
  background-color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  z-index: 9999999;
  position: relative;
  top: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: sans-serif;
  font-weight: 100;
  padding: 30px 20px 20px;
}
.modal-dialog a[data-dismiss="modal"] {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  margin: 1px 10px;
  text-decoration: none;
}
.modal-dialog a[data-dismiss="modal"]:hover, .modal-dialog a[data-dismiss="modal"]:active, .modal-dialog a[data-dismiss="modal"]:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
.modal-dialog a {
  color: #000cff;
}
.modal-dialog .form-control {
  text-align: center;
  width: 220px;
  height: 37px;
  display: block;
  margin: 0 auto;
  border: solid 1px #92af9d;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  font-size: 20px;
}
.modal-dialog .form-group {
  margin-bottom: 20px;
}
.modal-dialog label {
  font-weight: 100;
}
.modal-dialog .login-btn {
  min-width: 100px;
  height: 38px;
  margin: 0 auto;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  background-color: #92af9d;
  color: black;
  font-size: 20px;
  line-height: 10px;
  text-align: center;
}
.modal-dialog .login-btn:hover {
  background-color: #b0c5b8;
}
.modal-dialog .login-btn:focus {
  outline: none;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-dialog .login-by-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid;
  padding: 3px;
  margin-left: 13px;
}
.modal-dialog .login-by-social a.vk {
  border-color: #3d64a6;
}
.modal-dialog .login-by-social a.fb {
  border-color: #073c90;
}
.modal-dialog .login-by-social a.g-plus {
  border-color: #b60000;
}
.modal-dialog input.error {
  border: 1px solid #db001b !important;
}
.modal-dialog input.error:after {
  display: block;
  content: "!";
}
.modal-dialog label.error {
  display: none !important;
}

.d3-movie {
  display: inline-block;
  width: 42px;
  height: 15px;
  background: url("../img/glasses.png") no-repeat transparent;
}

/*movie table*/
.movie-list .table {
  font-size: 18px;
}
.movie-list .thead {
  color: #000;
}
.movie-list .tdetail {
  color: #00aeff;
}

/* end movie table*/
.movie-desc {
  padding: 0 0 16px 0;
  background: #e8e8e8;
  margin-bottom: 10px;
  font-size: 16px;
  color: #000;
}
.movie-desc .col-xs-3 {
  padding-left: 0;
}
.movie-desc .col-xs-3 img {
  border: 1px solid #000;
  width: 150px;
  height: 195px;
}
.movie-desc .col-xs-12 {
  padding: 0 15px;
}
.movie-desc ul {
  padding-left: 0;
  font-style: italic;
}
.movie-desc .glyphicon-star {
  color: #ffd000;
}
.movie-desc .table-striped > tbody > tr:nth-of-type(even) {
  background-color: #fff;
}

.panel {
  margin: 0;
  background: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-group .panel + .panel {
  margin: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis.multiline {
  white-space: normal;
}

.datepaginator .pagination > li {
  display: inline-block !important;
}

#filter {
  display: none;
}

.table-no-border > thead > tr > th,
.table-no-border > tbody > tr > th,
.table-no-border > tfoot > tr > th,
.table-no-border > thead > tr > td,
.table-no-border > tbody > tr > td,
.table-no-border > tfoot > tr > td {
  border-top: none;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #e5e5e5;
}
