.call-to-action{
    
    display: block;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 55px;
    text-align: center;
    position: relative;
    float: left;
    
    &__btn{
        display: inline-block;
        position: relative;
        z-index: 2;
        
        &::before, &::after{
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 25px;
            top: 0;            
            background: $color__white;
        }
        
        &::after{
            right: -26px;
        }
        
        &::before{
            left: -26px;
        }
        
    }
    
    
    &::before{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: rgba($color__line--light, .5);
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        z-index: 1;
    }
    
}//end call to action