.cat-filter{
    width: 100%;
    float: left;
    margin-bottom: 40px;
    
    &__select{
        width: 58%;
        float: right;        
    }
    
    
    &__text{
        width: 42%;
        font-size: em(16);
    }
    
    &__badge{
        display: inline-block;
        display: inline-flex;
        width: 30px;
        height: 30px;
        background: $color__orange;
        
        vertical-align: middle;
        margin-right: 19px;
        
        text-align: center;
        justify-content: center;
        align-items: center;
        
        
        > .icon{
            display: inline-block;
        }
    }
    
}//end cat-filter