/**
* Hamburger icon
*/

.hamburger{
    background: none;
    border: none;
    width: 18px;
    display: block;
    padding: 0;
    cursor: pointer;
    
    &:focus{
        outline: none;
    }
    
    &--hidden-lg{
        display: none;
    }
    
    
    
    &__line{
        display: block;
        width: 18px;
        height: 2px;
        background: $color__white;
        margin: 2px auto;
        transition: all .3s ease;
    }
    
    
    
    &--open{
                
        &:hover{
            .hamburger__line{
               margin: 2px auto;
            }
        }
        
        .hamburger__line{
            
            margin: 2px auto !important;
            
            &:nth-child(1){
                transform: rotate(45deg);
                transform-origin: 20% 80%;
            }
            
            &:nth-child(2){
                opacity: 0;
            }
            
            &:nth-child(3){
                transform: rotate(-45deg);
                transform-origin: 14% 63%;
            }
        } 
    }
    
}//
