.hero{
    
    position: relative;
    margin-bottom: 60px;
    
    &__container{
        background: url(../img/hero-bg.jpg) no-repeat;
        background-size: cover;        
    }
    
    &::before{
        content: '';
        display: block;
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        background: rgba($color__line--light, .5);
        z-index: 1;
    }
    
    
    &__column{
        padding: 35px 15px 45px 15px;
        text-align: center;
        width: 50%;
        float: left;
    }
    
    &__heading{
        color: $color__white;
        text-transform: uppercase;
        font-size: em(30);
        margin-top: 0;
        margin-bottom: 25px;
    }
    
    &__icon{
        display: inline-block;
        border: 1px solid $color__line--light;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    
}//end hero