/**
 * Icons set
 */
.icon{    
    display: block;
    
    &--mail{
        width: 20px;
        height: 16px;
        background: url(../img/sprite/mail.png#sprite);
    }
    
    &--phone{
        width: 18px;
        height: 18px;
        background: url(../img/sprite/phone.png#sprite);
    }
    
    &--cart{
        width: 26px;
        height: 25px;
        background: url(../img/sprite/cart.png#sprite);
    }
    
    &--hands{
        width: 33px;
        height: 22px;
        background: url(../img/sprite/hands.png#sprite);
    }
    
     &--hands-orange{
        width: 28px;
        height: 20px;
        background: url(../img/sprite/hands-orange.png#sprite);
    }
    
    &--phone-sm{
        width: 13px;
        height: 13px;
        background: url(../img/sprite/phone-sm.png#sprite);
    }
    
    &--mail-sm{
        width: 16px;
        height: 13px;
        background: url(../img/sprite/mail-sm.png#sprite);
    }
    
    &--write-sm{
        width: 15px;
        height: 15px;
        background: url(../img/sprite/write-sm.png#sprite);
    }
    
    &--cart-orange{
        width: 31px;
        height: 30px;
        background: url(../img/sprite/cart-orange.png#sprite);
    }
    
     &--cart-orange-sm{
        width: 22px;
        height: 22px;
        background: url(../img/sprite/cart-orange-sm.png#sprite);
    }
    
    &--pin{
        width: 13px;
        height: 17px;
        background: url(../img/sprite/pin.png#sprite);
    }
    
    &--check-p{
        width: 30px;
        height: 29px;
        background: url(../img/sprite/popup-check.png#sprite);
    }
    
    &--slide{
        width: 9px;
        height: 11px;
        background: url(../img/sprite/slide-nav.png#sprite);
    }
    
    &--slide-hover{
        width: 9px;
        height: 11px;
        background: url(../img/sprite/slide-nav-hover.png#sprite);
    }
    
    &--cran{
        width: 14px;
        height: 21px;
        background: url(../img/sprite/cran.png#sprite);
    }
}//
