.mobile-nav{
    display: none;   
    width: 100%;
    height: 50px;
    position: relative;
    
    &__btn{
        width: 50px;
        height: 50px;
        float: right;
        border-left: 1px solid $color__line--dark; 
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:last-child{
            border-left: none;
        }
        
        display: none;
        
    }
    
    &__hamburger{
        display: flex;
        background: $color__orange;
        border-left: none;
        
        flex-direction: column;
        
        .hamburger__line:nth-child(1){
            width: 25px;
        }
        
        .hamburger__line:nth-child(3){
            width: 25px;
        }
    }
}