/**
 * Navigation styles
 */
.top-nav{
    height: 50px;
    background: $color__nav;
}


.nav{
    width: 100%;
    transition: height .3s linear;
    display: flex;
    justify-content: flex-start;
   
    
    &__link{
        display: inline-block;
        float: left;
        height: 50px;
        padding: 0 40px;
        position: relative;
        
        line-height: 50px;
        font-size: em(13);
        text-transform: uppercase;
        color: $color__white;
        text-decoration: none;
        
        &:after{
            content: '';
            display: block;
            position: absolute;
            right: -.5px;
            top: 50%;
            margin-top: -9px;
            width: 1px;
            height: 18px;
            background: $color__form;
        }
        
        &:last-of-type{
            &:after{
                content: none;    
                display: none;
            }
        }
        
        &:hover, &:focus, &--active{
            color: $color__orange;
        }
    }
}// end nav



 

/**
 * Side navigation
 */

.prod-aside{
    width: 320px;   
    transition: height .3s linear;
    position: absolute;
    top: 50px;
    left: 0;    
    overflow: hidden;
    z-index: 9;
    
    &:after{
        content: '';
        display: table;
        clear: both;
    }
    
    
    
    &--inner{
        height: 0;
        &.shown{
            height: auto;
        }
        
    }
    
}





/**
 * Aside navigation header
 */
.aside-nav-header{
    width: 320px;
    height: 50px;
    padding: 20px 25px;
    float: left;
    background: $color__orange;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__toggle{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &--products{
            justify-content: center;
        }
    }
    
    &--products{
        justify-content: center;
    }
    
    &:hover{        
        .hamburger .hamburger__line{
            margin: 5px auto;
        }    
    }
    
    &__text{
        color: $color__white;
        text-transform: uppercase;
        font-size: em(16);
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: 1px 1px rgba($color__orange--xdark, .55);
    }
    
    &__hamb--products{
        display: none;
    }
    
}





.side-nav{
    
    &__item{
        width: 100%;
        position: relative;
        
        border-bottom: 1px solid $color__line;
        
        //active element
        &--active{
            
            
            &:before{
                content: '';
                display: block;
                width: 5px;
                height: 100%;
                position: absolute;
                background: $color__orange;
            }
            
            .side-nav__link{
                font-weight: bold;
            }
        }// end active
    }
    
    &__link{
        display: block;
        width: 100%;
        padding: 24px;
        
        text-decoration: none;
        color: $color__nav;
        text-transform: uppercase;
        font-size: em(13);
        transition: all .1s ease;
        background: $color__white;
        border-right: 1px solid $color__line;
        border-left: 1px solid $color__line;
        &:hover{
            font-weight: bold;
            
        }
    }
    
}// side-nav







/**
 * Bottom navigation
 */
.nav-bottom{
    
    border: 1px solid $color__line--dark;
    
    &__item{
        display: inline-block;
        float: left;
        width: 50%;
        
        &:nth-child(1){
            border-right: 1px solid $color__line--dark;
        }
        
        &:nth-child(3){
            border-top: 1px solid $color__line--dark;
            border-right: 1px solid $color__line--dark;
        }
        
        &:nth-child(4){
            border-top: 1px solid $color__line--dark;
        }
       
    }
    
    &__link{
        display: block;        
        box-sizing: border-box;        
        padding: 25px;
        
        color: $color__white;
        font-size: em(13);
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1;
        transition: color .3s ease;
        
        
        &:hover, &:focus{
            color: $color__orange;
        }
    }
}
