.tab{
    display: block;
    width: 100%;
    float: left;
    border: 1px solid $color__line--light;
    border-top: none;
    
    &__header{
        width: 100%;
    }
    
    &__switch{
        display: block;
        float: left;
        width: 50%;
        height: 60px;
        padding: 15px;
        
        border: 1px solid $color__line--light;
        border-left: none;
        
        
        text-align: center;
        line-height: 1.2;
        font-size: em(13);
        text-decoration: none;
        color: $color__tab;
        font-weight: 600;
        
        
        
        display: flex;
        justify-content: space-around;
        align-items: center;    
        
        &:last-child{
            border-right: none;
        }
        
        &:hover{
            color: $color__orange;
        }
    }
    
    &__text{
        font-size: em(14);
        color: $color__tab;
        line-height: 1.5;
        margin-bottom: 20px;
        
        > .icon{
            display: inline-block;
            margin-right: 15px;
        }
    }
    
    
    &__content{
        width: 100%;
        float: left;
        padding: 25px;
        transition: all .2s ease;
        display: none;
    }
    
}//end tab