/**
 * ************** Colors *************
 *
 * #dd5555 - red
 * #a2a1a1 - gray
 * #333333 - dark gray (almost black)
 * #ebebeb - background
 * #f9f9f9 - white
 * #7d7d7d - text
 * #cccccc - icons
 * rgba(0, 0, 0, 1) - black
 * rgba(255, 255, 255, 1) - white
 *
 */

/**
 * ****************** General settings *************
 * border-radius : 4px
 */

/**
 * Container block
 */

[class$="__container"] {
    width: 100%;
    max-width: 969px;
    margin: 0 auto;
    position: relative;
}


[class$="__container"]:before {
    content: '';
    display: table;
}

[class$="__container"]:after {
    content: '';
    display: table;
    clear: both;
}


/**
 * Columns
 */

[class$="__column"]{
	width: 50%;
	float: left;
}

[class$="__column"]:nth-child(odd){
	padding-right: 15px;
}


[class$="__column"]:nth-child(even){
	padding-left: 15px;
}


/**
 * Block
 */
.block{
	width: 100%;
	float: left;
}

/**
 * All app wrapper
 */

.wrap{
    width: 100%;
    min-height: 100vh;
    position: relative;
    float: left;
    background: #ebebeb;
}


/**
 * Header text
 */

.header{
	margin-bottom: 30px;
	
	text-align: center;
}

.header__container{
	padding: 30px;
}

.header__sitename{
	margin-bottom: 20px;
	
	font-weight: 900;
	color: #dd5555;
	font-size: 18px;
}


.header__title{
	margin-bottom: 20px;
	
	color: #a2a1a1;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 30px;
	text-shadow: 1px 1px 1px rgba(51,51,51,.7);
}

.header__copyright{
	font-size: 10px;
	color: #a2a1a1;
}


/**
 * Card
 */
.card{
	width: 100%;
	float: left;
	background-color: #f9f9f9;
	margin-bottom: 35px;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
}

.card__image{
	width: 100%;
	max-width: 100%;
	float: left;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.card__caption{
	width: 100%;
	float: left;
	padding: 25px 25px 30px 25px;
}

.card__title{
	font-size: 16px;
	color: #dd5555;
	text-decoration: none;
	
	display: inline-block;
	margin-bottom: 15px;
}

.card__title:hover{
	text-decoration: underline;
}

.card__text{
	color: #7d7d7d;
	font-size: 12px;
	line-height: 1.5;
}


/**
 * Search form
 */
.search{
	width: 100%;
	float: left;
	margin-bottom: 25px;
	background-color: #f9f9f9;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
	padding: 20px;
}

.search__group{
	width: 100%;
	float: left;
}

.search__group--half{
	width: 50%;
}

.search__group--centred{
	height: 30px;
	display: flex;
	align-items: center;
}

.search__label--text{
	font-size: 0;
	opacity: 0;
	display: none;
}

.search__input{
	width: 100%;
	height: 30px;
	border: solid 1px #cfcfcf;
	background-color: #ebebeb;
	border-radius: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 20px;
	font-size: 12px;
	color: #7d7d7d;
	transition: .2s;
}

.search__input:focus{
	outline: none;
	border-color: #7d7d7d;
}


.search__submit{
	display: block;
	border: 1px solid #dd5555;
	border-radius: 4px;
	background: #dd5555;
	color: #fff;
	height: 30px;
	font-size: 12px;
	text-align: center;
	padding: 5px 25px;
	cursor: default;
	transition: .2s;
	float: right;
}

.search__submit:hover{
	background: #ebebeb;
	color: #7d7d7d;
}

.search__submit:focus{
	outline: none;
}

.search__label--check{
	font-size: 12px;
	color: #a2a1a1;
	line-height: 18px;
	position: relative;
}

.search__label--check::before{
	content: '';
	display: inline-block;
	float: left;
	width: 16px;
	height: 16px;
	border: solid 1px #cfcfcf;
	background-color: #ebebeb;
	border-radius: 4px;
	margin-right: 5px;
}

.search__label--check::after{
	content: '';
	width: 10px;
	height: 10px;
	background: url(../img/check-mark.svg) no-repeat transparent;
	background-size: cover;
	transition: .3s;
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
	transform: scale(0);
}

.search__checkbox:checked + .search__label--check::after{
	transform: scale(1);
}

.search__checkbox{
	display: none;
}

/**
 * Paragraph
 */
.paragraph{
	color: #7d7d7d;
	font-size: 12px;
	line-height: 1.5;
	width: 100%;
	float: left;
	margin-bottom: 30px;
}

/**
 * Navigation
 */

.nav{
	width: 100%;
	float: left;
	height: 85px;
	background-color: #f9f9f9;
	margin-bottom: 40px;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
	display: flex;
	justify-content: center;
	padding-bottom: 5px;
	overflow: hidden;
	transition: .3s;
	position: relative;
}

.nav__link{
	text-decoration: none;
	
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
	padding: 0 20px;
}

.nav__link * {
	pointer-events: none;
}

.nav__icon{
	width: 26px;
	height: 26px;
	margin-bottom: 8px;
}

.nav__name{
	color: #a2a1a1;
	font-size: 12px;
	text-align: center;
	transition: .3s;
	line-height: 1.2;
}

.nav__path{
	fill: #a2a1a1;
	transition: .3s;
}

.nav__link:hover .nav__name{
	color: #dd5555;
}

.nav__link:hover .nav__path{
	fill: #dd5555;
}

.nav__line{
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

.nav__marquee{
	display: block;
	background-color: #dd5555;
	height: 5px;
	width: 0;
	position: absolute;
	bottom: 0;
	transition: all .4s cubic-bezier(0.46, 0.01, 0, 1.18);
}

/**
 * Responsive
 */

@media (max-width:1023px){
	
	[class$="__container"] {
		max-width: 768px;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.header{
		margin-bottom: 5px;
	}
	
}

@media (max-width: 767px){
	[class$="__column"] {
		width: 100%;
		padding: 0;
	}
	
	[class$="__column"]:nth-child(odd), [class$="__column"]:nth-child(even){
		padding: 0;
	}
	
	.header__title{
		font-size: 24px;
		line-height: 1.2;
		font-weight: 700;
	}
}

@media (max-width: 600px){
	.nav__name{
		font-size: 0;
	}
	
	.nav__icon{
		margin: 0;
	}
	
	.nav__link{
		padding: 0;
	}
	
	.nav{
		justify-content: space-around;
		height: 60px;
		padding: 0;
	}
	
	.nav__marquee{
		height: 0;
	}
}